Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

improve doc
  tket2/src/portmatching/branch.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "add unnonlocalpass"
  Cargo.lock
  Cargo.toml
  devenv.lock
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixup
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comments
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert devnix changes
  devenv.lock
  devenv.nix
Due: none

add unnonlocalpass
  Cargo.lock
  Cargo.toml
  devenv.lock
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Fix nondeterminism in lazify-measure
  devenv.lock
  devenv.nix
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

pin to git not local path
  Cargo.lock
  Cargo.toml
Due: none

Update tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: nondeterminism in lazify-measure (#766)
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.4.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.3.0
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
Due: none

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

WIP: Extract unsupported ops into barriers
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release (#745)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

feat: add a tket2.qsystem.utils extension with GetCurrentShot
  tket2-hseries/README.md
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Implement CreateBranchSelector
  tket2/src/portmatching/branch.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: add tests and finish the extension
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: expose the utils extension from Python
  tket2-exts/README.md
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: generate serialized version of the extension
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/src/extension/utils.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CircuitDiff
  tket2/src/circuit.rs
  tket2/src/circuit/hash.rs
  tket2/src/diff.rs
  tket2/src/diff/replacement.rs
  tket2/src/diff/snapshots/tket2__diff__replacement__test__copy_inputs.snap
  tket2/src/diff/snapshots/tket2__diff__replacement__test__half_nots.snap
  tket2/src/diff/snapshots/tket2__diff__replacement__test__replace_after_copy.snap
  tket2/src/diff/snapshots/tket2__diff__replacement__test__replace_cx_cross.snap
  tket2/src/diff/snapshots/tket2__diff__replacement__test__simple_replacement.snap
  tket2/src/diff/snapshots/tket2__diff__replacement__test__simple_replacement_with_empty_wires.snap
  tket2/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new deps
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
Due: none

revertme: Pin hugr to dev
  Cargo.lock
  Cargo.toml
Due: none

Add HashedCircuit test
  tket2/src/circuit/hash.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

allow clippy smell
  tket2/src/diff.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(tket2-hseries): release v0.9.1
  Cargo.lock
  tket2-hseries/Cargo.toml
Due: none

fix: try int type instead of usize
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: explicit name for utils
  DEVELOPMENT.md
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Use CircuitRewrite
  tket2/src/diff.rs
  tket2/src/diff/replacement.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add a `tket2.qsystem.utils` extension with `GetCurrentShot` (#772)
  DEVELOPMENT.md
  tket2-exts/README.md
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/README.md
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/utils.rs
  tket2-py/tket2/extensions/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Add CircuitHistory
  Cargo.lock
  Cargo.toml
  tket2/src/diff.rs
  tket2/src/diff/experimental.rs
  tket2/src/diff/history.rs
  tket2/src/diff/replacement.rs
  tket2/src/diff/snapshots/tket2__diff__history__tests__extract_hugr.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add "tket2.qsystem.random" extension
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/random.rs
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: update tket2_exts to include the random ext
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
