Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

fmt
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Disable ordered_qalloc test in miri (#818)
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Update miri tests workflow, add justfile recipe (#821)
  .github/workflows/unsoundness.yml
  justfile
Due: none

chore(tket2-hseries): release v0.11.1
  Cargo.lock
  tket2-hseries/Cargo.toml
Due: none

Add rest of extension
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add (failing) test
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add missing ops loading
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Finish tests and add dataflow methods
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Adjust comment
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generate extension json
  tket2-exts/src/tket2_exts/data/tket2/bool.json
Due: none

Fix op input output order
  tket2-exts/src/tket2_exts/data/tket2/bool.json
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Organize `encoder.rs` code into submodules
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/bit_tracker.rs
  tket2/src/serialize/pytket/encoder/param_tracker.rs
  tket2/src/serialize/pytket/encoder/qubit_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket2-py/src/circuit.rs
  tket2/Cargo.toml
  tket2/src/extension.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/bit_tracker.rs
  tket2/src/serialize/pytket/encoder/param_tracker.rs
  tket2/src/serialize/pytket/encoder/qubit_tracker.rs
  tket2/src/serialize/pytket/op.rs
  tket2/src/serialize/pytket/op/tk2op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Extract unsupported ops into barriers
  Cargo.lock
  Cargo.toml
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Address comments
  tket2-exts/src/tket2_exts/__init__.py
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2/src/extension.rs
  tket2/src/extension/bool.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

refactor!: Remove node parameter from Circuit
  tket2/src/circuit.rs
  tket2/src/circuit/command.rs
  tket2/src/circuit/units.rs
  tket2/src/rewrite.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generate extension
  tket2-exts/src/tket2_exts/data/tket2/bool.json
  tket2-hseries/src/bin/tket2-hseries.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix bool assert
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename bool extension definition name to avoid shadowing
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Update uv.lock in release PR
  release-please-config.json
Due: none

ci: Update uv.lock on release-please PRs (#825)
  release-please-config.json
Due: none

feat: Add `tket2.bool` extension (#823)
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/bool.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2/src/extension.rs
  tket2/src/extension/bool.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-exts 0.6.1
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(tket2-hseries): release v0.11.1
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

refactor: Better error message on allocation failure.
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to hugr 0.15.3
  Cargo.lock
  Cargo.toml
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: Better error message on allocation failure. (#827)
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/qsystem.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

wip
  Cargo.lock
  Cargo.toml
  tket2-py/src/circuit.rs
  tket2/Cargo.toml
  tket2/src/extension.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/bit_tracker.rs
  tket2/src/serialize/pytket/encoder/param_tracker.rs
  tket2/src/serialize/pytket/encoder/qubit_tracker.rs
  tket2/src/serialize/pytket/encoder/unit_generator.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/op.rs
  tket2/src/serialize/pytket/op/tk2op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add debug extension with state result op
  tket2-exts/src/tket2_exts/data/tket2/debug.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2/src/extension.rs
  tket2/src/extension/bool.rs
  tket2/src/extension/debug.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add python extension definition
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Format
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Working value tracker
  tket2/src/serialize/pytket/encoder/bit_tracker.rs
  tket2/src/serialize/pytket/encoder/qubit_tracker.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

squash some compiler errors, recover decoder code
  Cargo.lock
  Cargo.toml
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/op.rs
  tket2/src/serialize/pytket/op/tk2op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Wire up op emission and wire tracking
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/op.rs
  tket2/src/serialize/pytket/op/serialised.rs
  tket2/src/serialize/pytket/op/tk2op.rs
  tket2/src/serialize/pytket/param/encode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More unsupported op work
  Cargo.lock
  Cargo.toml
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/op/serialised.rs
  tket2/src/serialize/pytket/op/tk2op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
