Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

Fix SerialCircuit comparison
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test serial command params too
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add RewriteSpace
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/lib.rs
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/explore.rs
  tket2/src/rewrite_space/max_sat.rs
  tket2/tests/rewrite_space_explorer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add Readme
  hit/README.md
  test_files/6cz.hugr
Due: none

feat: Add hit CLI tool
  hit/Cargo.toml
  hit/src/commands.rs
  hit/src/commands/checkout.rs
  hit/src/commands/extract_best.rs
  hit/src/commands/load.rs
  hit/src/commands/log.rs
  hit/src/commands/run.rs
  hit/src/commands/show.rs
  hit/src/config.rs
  hit/src/constants.rs
  hit/src/explore.rs
  hit/src/explore/commute_cz.rs
  hit/src/main.rs
  hit/src/storage.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix tket2 dep
  tket2/Cargo.toml
Due: none

feat: add prelude, qsystem, random
  tket2-hseries/src/lib.rs
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/qsystem.rs
  tket2-hseries/src/llvm/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Change array result return type
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

separate utils + move array and result
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/array.rs
  tket2-hseries/src/llvm/qsystem.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/rotation.rs
  tket2-hseries/src/llvm/utils_ext.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: add submodule docstring
  tket2-hseries/src/llvm/array.rs
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/qsystem.rs
  tket2-hseries/src/llvm/random.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/rotation.rs
  tket2-hseries/src/llvm/utils_ext.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove redundant file
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add qsystem tests
  tket2-hseries/src/llvm/qsystem.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_9.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_9.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_1.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: random tests
  tket2-hseries/src/llvm/random.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_4.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: add utils test
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__utils_ext__test__emit_utils_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__utils_ext__test__emit_utils_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/utils_ext.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Regenerate serialization
  tket2-exts/src/tket2_exts/data/tket2/result.json
Due: none

add primitive result tests
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_4.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add prelude test
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__exit_emit@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__exit_emit@pre-mem2reg@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__panic_emit@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__panic_emit@pre-mem2reg@llvm14_0.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename array
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/array_struct.rs
  tket2-hseries/src/llvm/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more renames
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/array_utils.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add V and Vdg to quantum extension.
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-py/tket2/ops.py
  tket2/src/ops.rs
  tket2/src/optimiser/badger/qtz_circuit.rs
  tket2/src/serialize/pytket/op/native.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Reorder enum to preserve existing positions.
  tket2-py/tket2/ops.py
  tket2/src/ops.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Add V and Vdg to quantum extension. (#889)
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-py/tket2/ops.py
  tket2/src/ops.rs
  tket2/src/optimiser/badger/qtz_circuit.rs
  tket2/src/serialize/pytket/op/native.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-py 0.10.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Bump version of quantum extension.
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Bump version of quantum extension. (#894)
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.8.1
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

fixups from string changes
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__exit_emit@pre-mem2reg@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__panic_emit@pre-mem2reg@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__utils__test__emit_utils_codegen@pre-mem2reg@llvm14_1.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: update pyo3 and tket-json-rs
  Cargo.lock
  Cargo.toml
Due: none

loosen requirement
  Cargo.lock
  Cargo.toml
Due: none

chore: update pyo3 and tket-json-rs (#895)
  Cargo.lock
  Cargo.toml
Due: none

init
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/lib.rs
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_3.snap
  tket2/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

lint fixes
  tket2-hseries/src/llvm/futures.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
