Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

error if borrow not returned
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

separate uv syncs
  .github/workflows/build_qis_compiler.yml
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  .github/workflows/release-checks.yml
  pyproject.toml
  qis-compiler/pyproject.toml
  qis-compiler/python/selene_hugr_qis_compiler/selene_hugr_qis_compiler.pyi
  uv.lock
Due: none

fix filter
  .github/change-filters.yml
  .github/workflows/ci.yml
Due: none

fix filter
  .github/workflows/ci.yml
Due: none

get_value_definition pointless??
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Return error if borrow/return node is "bad", no need to panic
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: broaden filter
  .github/change-filters.yml
  .github/workflows/ci.yml
Due: none

ci: test qis wheel building
  .github/workflows/build_qis_compiler.yml
  qis-compiler/pyproject.toml
Due: none

just ignore state order
  tket/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use index and drop borrowed_resource
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Extract u64 value from Constant
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

as_const => find_const taking &Hugr, do not use CircuitUnit here
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove borrow_from_resource from BorrowReturnPorts, add to BorrowInterval
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify try_from_ports
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

BorrowInfo::try_from takes Hugr not Circuit
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: add coverage to qis-compiler
  .github/workflows/build_qis_compiler.yml
  .github/workflows/ci.yml
Due: none

end of file fixes
  .github/workflows/ci.yml
  release-please-config.json
Due: none

review suggestions
  .github/actions/check-changes/action.yml
  .github/workflows/python-qis-wheels.yml
  Cargo.lock
  qis-compiler/Cargo.toml
  qis-compiler/pyproject.toml
  qis-compiler/python/selene_hugr_qis_compiler/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix: ci coverage command
  .github/workflows/ci.yml
Due: none

ci: release-please config syntax error
  release-please-config.json
Due: none

ci: release-please config syntax error (#1148)
  release-please-config.json
Due: none

chore: Ensure release-please updates qis-compiler's __version__
  release-please-config.json
Due: none

chore: Ensure release-please updates qis-compiler's __version__ (#1150)
  release-please-config.json
Due: none

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  qis-compiler/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

chore(py): release qis-compiler 0.2.7
  .release-please-manifest.json
  qis-compiler/CHANGELOG.md
  qis-compiler/pyproject.toml
Due: none

chore(py): release tket-py 0.12.8
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

rename, refactoring
  tket-exts/src/tket_exts/data/tket/global_phase.json
  tket-exts/src/tket_exts/data/tket/modifier.json
  tket-qsystem/src/bin/tket-qsystem.rs
  tket/src/extension.rs
  tket/src/extension/global_phase.rs
  tket/src/extension/modifier.rs
  tket/src/lib.rs
  tket/src/modifier.rs
  tket/src/modifier/control.rs
  tket/src/modifier/dagger.rs
  tket/src/modifier/power.rs
  tket/src/modifier/qubit_types_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

updated python code in tket_exts .pre-commit-config.yaml is editted since 1 pytest failed which seems irrelevant from my change.
  .pre-commit-config.yaml
  tket-exts/src/tket_exts/tket/global_phase.py
  tket-exts/src/tket_exts/tket/modifier.py
  tket/src/extension/modifier.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

put it back
  .pre-commit-config.yaml
Due: none

Replace 2*funcs w/ trait returning Option<enum BorrowOrReturn, BorrowReturnPorts>
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename last->must_be_last, note about the assert that we can't
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

shorten asserts...a bit sneaky
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fresh resource after each non-borrow/return op...requires handling nested arrays
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove BorrowInfo::borrow_from_port{,_outgoing}
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

shorten BorrowReturnPorts names
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Analysis signature, and add optimization pass, but need to pass port numbers through
  tket/src/passes/squash_borrow.rs
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Return source wire from analysis
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Extend test a bit
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
