Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

fix(qystem): fix angle bug in CZ decomposition (#1080)
  tket-qsystem/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release-plz update
  Cargo.lock
  badger-optimiser/Cargo.toml
  devenv.nix
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
Due: none

chore: release-plz update for qystem 0.20.1 patch
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
Due: none

test
  tket-qsystem/src/pytket/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

implement rewriting logic on ResourceScope
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/scope/patch.rs
  tket/src/resource/scope/snapshots/tket__resource__scope__patch__tests__rewrite_to_0cx.snap
  tket/src/resource/scope/snapshots/tket__resource__scope__patch__tests__rewrite_to_1cx.snap
  tket/src/resource/scope/snapshots/tket__resource__scope__patch__tests__rewrite_to_4cx.snap
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Always load parameter expressions as half turns in the decoder
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

dummy tket-py change to trigger a release
  tket-py/test/test_circuit.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Always load parameter expressions as half turns in the decoder (#1083)
  tket-py/test/test_circuit.py
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket-py 0.12.6
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-exts 0.11.0
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv sync
  uv.lock
Due: none

chore(py): release tket-py 0.12.6 (#1084)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release-plz update for qystem 0.20.1 patch (#1082)
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
Due: none

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

feat: Nice python matcher interface
  Cargo.lock
  Cargo.toml
  tket-py/Cargo.toml
  tket-py/examples/3-Custom-Match-Replace.ipynb
  tket-py/src/lib.rs
  tket-py/src/matcher.rs
  tket-py/src/matcher/circuit_unit.rs
  tket-py/src/matcher/ref_trait_impl.rs
  tket-py/src/protocol.rs
  tket-py/src/protocol/circuit_matcher.rs
  tket-py/src/protocol/circuit_replacer.rs
  tket-py/src/rewrite.rs
  tket-py/test/test_matcher.py
  tket-py/tket/__init__.py
  tket-py/tket/_tket/matcher.pyi
  tket-py/tket/matcher.py
  tket-py/tket/protocol.py
  tket/src/resource/scope/patch.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/adapter.rs
  tket/src/rewrite/replacer.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Supported various kinds of DFG
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/global_phase_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Initial docs setup
  .gitignore
  justfile
  tket-py/docs/_templates/base.rst
  tket-py/docs/_templates/class.rst
  tket-py/docs/_templates/module.rst
  tket-py/docs/conf.py
  tket-py/docs/index.rst
  tket-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix templating issue
  tket-py/docs/_templates/autosummary/base.rst
  tket-py/docs/_templates/autosummary/class.rst
  tket-py/docs/_templates/autosummary/module.rst
  tket-py/docs/conf.py
  tket-py/docs/index.rst
Due: ruff-format, ruff-check, mypy-check, py-test

rm template comment
  tket-py/docs/_templates/autosummary/class.rst
Due: none

fix docstring warning
  tket-py/tket/circuit/build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Don't commit generated mermaids
  test_files/guppy_optimization/.gitignore
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/false_branch/false_branch.mmd
  test_files/guppy_optimization/false_branch/false_branch.opt.mmd
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/simple_cx/simple_cx.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.mmd
Due: none

test: Add some example guppy-generated hugrs (#904)
  test_files/guppy_optimization/.gitignore
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/.generate_mmd
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/.generate_mmd
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

improve indexz
  tket-py/docs/index.rst
Due: none

rm comment
  tket-py/docs/index.rst
Due: none

edit justfile
  justfile
Due: none

add docs building workflow
  .github/workflows/build_docs.yml
Due: none

publish docs
  .github/workflows/build_docs.yml
Due: none

fix workflow
  .github/workflows/build_docs.yml
Due: none

Explicit panic on empty circuit
  tket-py/src/matcher.rs
  tket/src/circuit.rs
  tket/src/optimiser/badger.rs
  tket/src/resource.rs
  tket/src/resource/convex_checker.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/scope/patch.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix notebook
  tket-py/examples/3bis-Match-Replace-for-QEC.ipynb
Due: none

add justfile comments
  justfile
Due: none

embed example notebooks
  .gitignore
  justfile
  tket-py/docs/conf.py
  tket-py/docs/examples/1-Getting-Started.ipynb
  tket-py/docs/examples/2-Rewriting-Circuits.ipynb
  tket-py/docs/examples/utils/__init__.py
  tket-py/docs/index.md
  tket-py/docs/index.rst
Due: ruff-format, ruff-check, mypy-check, py-test

fix or supress sphinx warnings
  tket-py/docs/conf.py
  tket-py/docs/examples/1-Getting-Started.ipynb
  tket-py/docs/examples/2-Rewriting-Circuits.ipynb
Due: ruff-format, ruff-check, mypy-check, py-test

rm unecessary usage of maturin
  justfile
Due: none
