Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

fix: Don't use opgroup in pytket barrier encoding (#1251)
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix uv lock
  uv.lock
Due: none

QSystem guppy_opt.rs tests call out to tket1-passes
  Cargo.lock
  tket-qsystem/Cargo.toml
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use pre-compiled guppy examples instead of dev dependency
  justfile
  test_files/guppy_examples/README.md
  test_files/guppy_examples/conditional_loop.hugr
  test_files/guppy_examples/conditional_loop.py
  test_files/guppy_examples/const_op.hugr
  test_files/guppy_examples/const_op.py
  test_files/guppy_examples/empty_func.hugr
  test_files/guppy_examples/empty_func.py
  test_files/guppy_examples/fn_calls.hugr
  test_files/guppy_examples/fn_calls.py
  test_files/guppy_examples/justfile
  test_files/guppy_examples/loop_conditional.hugr
  test_files/guppy_examples/loop_conditional.py
  test_files/guppy_examples/one_rz.hugr
  test_files/guppy_examples/one_rz.py
  test_files/guppy_examples/repeat_until_success.hugr
  test_files/guppy_examples/repeat_until_success.py
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/justfile
  tket-py/test/test_count_ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

Simplify check
  tket/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: guppy_to_circuit always returns num_operations = 0 (#1200)
  justfile
  test_files/guppy_examples/README.md
  test_files/guppy_examples/conditional_loop.hugr
  test_files/guppy_examples/conditional_loop.py
  test_files/guppy_examples/const_op.hugr
  test_files/guppy_examples/const_op.py
  test_files/guppy_examples/empty_func.hugr
  test_files/guppy_examples/empty_func.py
  test_files/guppy_examples/fn_calls.hugr
  test_files/guppy_examples/fn_calls.py
  test_files/guppy_examples/justfile
  test_files/guppy_examples/loop_conditional.hugr
  test_files/guppy_examples/loop_conditional.py
  test_files/guppy_examples/one_rz.hugr
  test_files/guppy_examples/one_rz.py
  test_files/guppy_examples/repeat_until_success.hugr
  test_files/guppy_examples/repeat_until_success.py
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/justfile
  tket-py/test/test_count_ops.py
  tket/src/circuit.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

more/explicit tests
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt differently
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

move should_panic
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Add missing tket-c-api installs in CI
  .github/workflows/ci.yml
Due: none

ci: Add missing tket-c-api installs (#1254)
  .github/workflows/ci.yml
Due: none

fix(pytket-decoder): Avoid QAllocating and immediately freeing qubits
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Enable conan in devenv
  devenv.nix
Due: none

chore: Don't use installed conan before installing conan
  justfile
Due: none

Set MACOSX compatibility target to 15.0 for tket-c-api
  tket1-passes/conan-profiles/macos-15
  tket1-passes/conan-profiles/macos-15-intel
Due: none

docs: Add LLVM to requirements in DEVELOPMENT
  DEVELOPMENT.md
Due: none

chore: Don't use installed conan before installing conan (#1257)
  justfile
Due: none

chore: Enable conan in devenv (#1255)
  devenv.nix
Due: none

Remove quotes from envar
  tket1-passes/conan-profiles/macos-15
  tket1-passes/conan-profiles/macos-15-intel
Due: none

ci: Use macos-15-intel for building qis wheels (#1248)
  .github/workflows/python-qis-wheels.yml
  qis-compiler/pyproject.toml
  tket1-passes/conan-profiles/macos-15
  tket1-passes/conan-profiles/macos-15-intel
Due: none

Dummy change to include this in python changelog
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(pytket-decoder): Avoid QAllocating and immediately freeing qubits (#1256)
  tket-py/tket/passes.py
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/tests.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket-py 0.12.11
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv lock
  uv.lock
Due: none

chore(py): release tket-py 0.12.11 (#1253)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ignore __annotate_func__
  tket-py/docs/_templates/autosummary/class.rst
Due: none

add missing passes and types modules
  tket-py/docs/index.md
Due: none

rm ref to nonexistent _static dir
  tket-py/docs/conf.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: document missing passes and types modules with sphinx (#1259)
  tket-py/docs/_templates/autosummary/class.rst
  tket-py/docs/conf.py
  tket-py/docs/index.md
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.12
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  qis-compiler/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
  tket1-passes/Cargo.toml
Due: none

bump hugr dependency
  tket-py/pyproject.toml
  uv.lock
Due: none

wip
  tket/src/passes.rs
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Switched to enum HugrFileType {Original, Flat, Optimized}
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add separate optimize_guppy_pytket / flatten_guppy steps
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Drop some other tests, keep optimise_guppy(_full=>)
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove unused fixtures
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

python bindings
  tket-py/src/passes.rs
  tket-py/tket/passes.py
  tket/src/passes/rewrite_quantum.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fixes
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
