Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

add nested test
  test_files/nested_array.hugr
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix traversal after non-arrays
  test_files/nested_array.hugr
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(qsystem): Support `random_advance` platform call
  tket-exts/src/tket_exts/data/tket/qsystem/random.json
  tket-exts/src/tket_exts/tket/qsystem/random.py
  tket-exts/tests/test_validate_exts.py
  tket-qsystem/src/extension/random.rs
  tket-qsystem/src/llvm/random.rs
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__random__test__emit_random_codegen@llvm14.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14.snap
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: disallow Python 3.14, minor doc fixes
  DEVELOPMENT.md
  README.md
  tket-py/pyproject.toml
  uv.lock
Due: none

chore: another just target name update
  DEVELOPMENT.md
Due: none

fix: move RandomAdvance to preserve enum ordering
  tket-qsystem/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

mark RandomOp as #[non_exhaustive]
  tket-qsystem/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy fix
  tket/src/resource/scope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Badger performance improvements (#1139)
  tket/src/circuit/hash.rs
  tket/src/optimiser/backtracking.rs
  tket/src/resource/scope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add hidden assume_all_present flag, default to false
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify find_borrows/find_returns by returning impl Iterator
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rewriter is parametrised on C
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Replace CircuitRewrite
  tket-py/src/circuit/tk2circuit.rs
  tket-py/src/pattern.rs
  tket-py/src/rewrite.rs
  tket/src/circuit.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/chunks.rs
  tket/src/passes/pytket.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use new SiblingSubgraph::new_unchecked
  tket/src/resource/convex_checker.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add ResourceScope::is_convex
  tket/src/resource.rs
  tket/src/resource/convex_checker.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CircuitMatcher
  tket/examples/circuit-matcher.rs
  tket/src/resource.rs
  tket/src/resource/interval.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/adapter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CircuitReplacer
  tket-py/src/rewrite.rs
  tket/examples/badger-hadamard-opt.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/replacer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

implement rewriting logic on ResourceScope
  tket/examples/circuit-matcher.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/scope/patch.rs
  tket/src/resource/scope/snapshots/tket__resource__scope__patch__tests__rewrite_to_0cx.snap
  tket/src/resource/scope/snapshots/tket__resource__scope__patch__tests__rewrite_to_1cx.snap
  tket/src/resource/scope/snapshots/tket__resource__scope__patch__tests__rewrite_to_4cx.snap
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher/adapter.rs
  tket/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add seadog optimiser
  Cargo.lock
  Cargo.toml
  tket-py/Cargo.toml
  tket-py/src/matcher.rs
  tket-py/src/optimiser.rs
  tket-py/src/optimiser/badger.rs
  tket-py/src/optimiser/cost_function.rs
  tket-py/src/optimiser/seadog.rs
  tket-py/src/protocol/circuit_matcher.rs
  tket-py/src/rewrite.rs
  tket-py/tket/_tket/optimiser.pyi
  tket-py/tket/optimiser.py
  tket/Cargo.toml
  tket/src/circuit.rs
  tket/src/circuit/cost.rs
  tket/src/circuit/hash.rs
  tket/src/lib.rs
  tket/src/optimiser.rs
  tket/src/optimiser/backtracking.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/optimiser/seadog.rs
  tket/src/portmatching/matcher.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/scope/patch.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/hugr_adapter.rs
  tket/src/rewrite/matcher/im_adapter.rs
  tket/src/rewrite/matcher/im_adapter/resource_scope_cache.rs
  tket/src/rewrite_space.rs
  tket/src/rewrite_space/max_sat.rs
  tket/src/serialize.rs
  tket/src/subcircuit.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat(badgerv2): Add Hit CLI
  Cargo.lock
  Cargo.toml
  hit/Cargo.toml
  hit/README.md
  hit/src/commands.rs
  hit/src/commands/checkout.rs
  hit/src/commands/children.rs
  hit/src/commands/extract_best.rs
  hit/src/commands/load.rs
  hit/src/commands/log.rs
  hit/src/commands/parents.rs
  hit/src/commands/show.rs
  hit/src/config.rs
  hit/src/constants.rs
  hit/src/display.rs
  hit/src/main.rs
  hit/src/storage.rs
  tket-py/examples/3bis-Match-Replace-for-QEC.ipynb
  tket-py/src/matcher.rs
  tket-py/src/optimiser/seadog.rs
  tket-py/src/rewrite.rs
  tket-py/tket/_tket/matcher.pyi
  tket-py/tket/_tket/optimiser.pyi
  tket/examples/badger-hadamard-opt.rs
  tket/src/circuit/cost.rs
  tket/src/optimiser/seadog.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/hugr_adapter.rs
  tket/src/rewrite/matcher/im_adapter.rs
  tket/src/rewrite/matcher/im_adapter/resource_scope_cache.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite_space.rs
  tket/src/rewrite_space/serial.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert: Remove modifier resolver pass from qsystem
  tket-qsystem/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert: Remove modifier resolver pass from qsystem (#1174)
  tket-qsystem/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Docs; rename {NodeInfo->BorrowAnalysis}Error; rm BRAction::borrowed_port
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test comments, extra assert, clippy
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add GPU lowering to selene-hugr-qis-compiler
  Cargo.lock
  qis-compiler/Cargo.toml
  qis-compiler/python/tests/resources/example_gpu.hugr
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/python/tests/test_basic_generation.py
  qis-compiler/rust/gpu.rs
  qis-compiler/rust/lib.rs
  qis-compiler/rust/selene_specific.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: don't assume causality on function ID lookup. Verify against a sentinel constant function ID and perform lookup on demand.
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Satisfy clippy
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cargo fmt
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use collections::borrow_array::BorrowArray directly, drop DefaultBorrowArray
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More structured definition of a barrier payload, better encode errors
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/unsupported.rs
  tket/src/serialize/pytket/unsupported/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/unsupported.rs
  tket/src/serialize/pytket/unsupported/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

build: revert Python 3.14 constraint
  tket-py/pyproject.toml
  uv.lock
Due: none

feat(tket-qsystem)!: Support `random_advance` platform call (#1170)
  DEVELOPMENT.md
  README.md
  tket-exts/src/tket_exts/data/tket/qsystem/random.json
  tket-exts/src/tket_exts/tket/qsystem/random.py
  tket-exts/tests/test_validate_exts.py
  tket-qsystem/src/extension/random.rs
  tket-qsystem/src/llvm/random.rs
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__random__test__emit_random_codegen@llvm14.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14.snap
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Update hugr dependency
  Cargo.lock
  Cargo.toml
Due: none

Make adjustments
  tket-qsystem/src/lib.rs
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
