Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Treat LoadConstant as transparent only if Const encoded
  tket/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make test count gates before/after and with/out BorrowSquashPass
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

correct comment rebore -> borebo
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

driveby: NormalizeGuppyPass: rename inline => inline_dfgs
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

squash_borrow => borrow_squash
  tket/src/passes.rs
  tket/src/passes/borrow_squash.rs
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

driveby: NormalizeGuppyPass: no need to map_err
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Include in NormalizeGuppy
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test counts only CXs
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Delete global tket-c-api lib before runing wheel checks
  .github/workflows/python-wheels.yml
Due: none

Run delocate on macos wheels
  .github/workflows/python-wheels.yml
Due: none

Let delocate copy the dylib automatically
  .github/workflows/python-wheels.yml
Due: none

delocate is not actually copying the dylib. Do it manually
  .github/workflows/python-wheels.yml
Due: none

...but delocate is still trying to copy the dylib?
  .github/workflows/python-wheels.yml
Due: none

ci: Quick check to see if tket-c-api can be linked statically
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
Due: none

Undo testing changes
  .github/workflows/python-wheels.yml
Due: none

dummy tket-py change to trigger a release
  tket-py/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Fix dylib dependencies in macos wheels (#1245)
  .github/workflows/python-wheels.yml
  tket-py/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.12.10
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv lock
  uv.lock
Due: none

chore(py): release tket-py 0.12.10 (#1247)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Use macos-15-intel for building qis wheels
  .github/workflows/python-qis-wheels.yml
Due: none

Simplify workflow definition, don't run on other releases
  .github/workflows/python-qis-wheels.yml
Due: none

Trigger on workflow changes
  .github/workflows/python-qis-wheels.yml
Due: none

Count gates in whole Hugr after guppy opts but before pytket
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update guppylang requirement (regeneration did nothing)
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

regenerate guppy_optimization test hugrs...used guppylang 0.21.6
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
Due: none

Correct counts
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More auditwheel logs
  qis-compiler/pyproject.toml
Due: none

count_gates returns map
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comments about order of passes
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Change deployment target
  .github/workflows/python-qis-wheels.yml
  qis-compiler/pyproject.toml
Due: none

fix: Don't use opgroup in pytket barrier encoding
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

incorrect if statement
  .github/workflows/python-qis-wheels.yml
Due: none

Add an arbitrary data payload to barrier test
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove additional verbosity flags
  qis-compiler/pyproject.toml
Due: none

Deprecate const instead of removing
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tidies
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: regenerate guppy_opt examples, and count gates (#1249)
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
  tket-qsystem/tests/guppy_opt.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: Organize test_files directory
  compile-rewriter/README.md
  test_files/2cx.json
  test_files/barenco_tof_5_rm.json
  test_files/eccs/README.md
  test_files/eccs/T_Tdg_H_X_CX_complete_ECC_set.json
  test_files/eccs/cx_cx_eccs.json
  test_files/eccs/h_h_eccs.json
  test_files/eccs/h_rz_cxcomplete_ECC_set.json
  test_files/eccs/h_rz_cxrepresentative_set.json
  test_files/ordered_qalloc.hugr
  test_files/pytket/README.md
  test_files/pytket/barenco_tof_10.json
  test_files/pytket/barenco_tof_5.json
  test_files/simple.qasm
  tket-py/test/test_optimiser.py
  tket-py/test/test_portmatching.py
  tket/README.md
  tket/src/lib.rs
  tket/src/optimiser/badger/qtz_circuit.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/serialize/pytket/tests.rs
  tket1-passes/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Review comments
  tket/src/serialize/pytket/opaque.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
