Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Rename fields (because `hash` is a python keyword)
  tket2-py/src/extension.rs
  tket2-py/tket2/_tket2/extension.pyi
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Expose `ConstWasmModule` in `hugr-py`
  Cargo.lock
  tket2-py/Cargo.toml
  tket2-py/src/extension.rs
  tket2-py/src/lib.rs
  tket2-py/tket2/__init__.py
  tket2-py/tket2/extension.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add python interface file
  tket2-py/tket2/_tket2/extension.pyi
Due: none

Fix import
  tket2-py/tket2/extension.py
Due: ruff-format, ruff-check, mypy-check, py-test

Comments
  tket2-py/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket2-py/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Minor fixes
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/replace_bools.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More fixes
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Re-add xor
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: use smaller angle decompositions for CZ and CCX
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(tket2-hseries): ensure deterministic lowering using maps
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(tket2-hseries): ensure deterministic lowering using maps (#884)
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor(tket2-hseries): use smaller angle decompositions for CZ and CCX (#883)
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Add `ReplaceBoolPass` (#854)
  Cargo.lock
  tket2-exts/src/tket2_exts/data/tket2/bool.json
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: More flexible pytket encoding
  tket2-py/src/circuit.rs
  tket2/Cargo.toml
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/ops.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/op.rs
  tket2/src/serialize/pytket/decoder/op/tk2op.rs
  tket2/src/serialize/pytket/decoder/param.pest
  tket2/src/serialize/pytket/decoder/param.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/unit_generator.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/param.rs
  tket2/src/serialize/pytket/param/encode.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to hugr 0.20
  tket2-exts/pyproject.toml
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

first draft
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

mod static_array
  tket2-hseries/src/replace_bools/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket2-hseries/src/replace_bools.rs
  tket2-hseries/src/replace_bools/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket2-hseries/src/replace_bools.rs
  tket2-hseries/src/replace_bools/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doclinks
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove more unused errors
  tket2/src/serialize/pytket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add a _with_config encoder call
  tket2/src/serialize/pytket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tidy
  tket2-hseries/src/replace_bools.rs
  tket2-hseries/src/replace_bools/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2-hseries/src/replace_bools/static_array.rs
  tket2-hseries/src/replace_bools/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(tket2-hseries): Remove `static_array<tket2.bool>` before `replace_bool`ing. (#885)
  tket2-hseries/src/replace_bools.rs
  tket2-hseries/src/replace_bools/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.8.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: allow tket2-exts 0.8 in tket2-py
  tket2-py/pyproject.toml
Due: none

uv sync
  uv.lock
Due: none

chore(py): release tket2-exts 0.8.0 (#881)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

add breaking changes
  tket2-hseries/CHANGELOG.md
  tket2/CHANGELOG.md
Due: none

chore: release (#879)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore(py): release tket2-py 0.10.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update uv.lock
  uv.lock
Due: none

chore(py): release tket2-py 0.10.0 (#887)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

lint fixes
  tket2-hseries/src/llvm/futures.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

init
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/lib.rs
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_3.snap
  tket2/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Apply suggestions from code review
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
