Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

fix: breaking changes from extension weak references
  Cargo.lock
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/extension/result.rs
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/extension/sympy.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

portmatching change fix
  tket2/src/portmatching/pattern.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

pin to hugr main
  Cargo.lock
  Cargo.toml
Due: none

refactor!: update to hugr 0.14 (#700)
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/extension/result.rs
  tket2/src/circuit.rs
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/extension/sympy.rs
  tket2/src/ops.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Remove use of removed auto_rebase_pass
  tket2-py/src/passes.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: bump version and changelog
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
Due: none

refactor: update to tket-json-rs 0.7.0
  Cargo.lock
  Cargo.toml
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: update to pyo3 0.23.2 and tket-json-rs 0.7.1
  Cargo.lock
  Cargo.toml
  tket2-py/src/circuit.rs
  tket2-py/src/circuit/convert.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/src/lib.rs
  tket2-py/src/ops.rs
  tket2-py/src/optimiser.rs
  tket2-py/src/passes.rs
  tket2-py/src/pattern.rs
  tket2-py/src/pattern/portmatching.rs
  tket2-py/src/rewrite.rs
  tket2-py/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: update to pyo3 0.23.2 and tket-json-rs 0.7.1 (#709)
  Cargo.lock
  Cargo.toml
  tket2-py/src/circuit.rs
  tket2-py/src/circuit/convert.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/src/lib.rs
  tket2-py/src/ops.rs
  tket2-py/src/optimiser.rs
  tket2-py/src/passes.rs
  tket2-py/src/pattern.rs
  tket2-py/src/pattern/portmatching.rs
  tket2-py/src/rewrite.rs
  tket2-py/src/types.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Remove use of removed auto_rebase_pass (#708)
  tket2-py/src/passes.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.5.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.5.1 (#711)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.2.1
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: uv sync
  uv.lock
Due: none

feat: add TryQalloc to Tk2Op
  tket2/src/ops.rs
  tket2/src/serialize/pytket/op/native.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: bump extension versions and gen extensions
  tket2-exts/src/tket2_exts/data/tket2/hseries.json
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-hseries/src/extension/hseries.rs
  tket2/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: hseries qalloc -> fallible TryQalloc
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix typos
  tket2-exts/src/tket2_exts/data/tket2/hseries.json
  tket2-hseries/src/extension/hseries.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixup python with new ops
  tket2-py/tket2/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add destructive measure `MasureFree` op
  tket2/src/ops.rs
  tket2/src/serialize/pytket/op/native.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: lower tket2 ops to hseries ops
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add test assertions
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: update measurement and alloc operations (#702)
  tket2-exts/src/tket2_exts/data/tket2/hseries.json
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/lib.rs
  tket2-py/tket2/ops.py
  tket2/src/extension.rs
  tket2/src/ops.rs
  tket2/src/serialize/pytket/op/native.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

update python
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/tket2/circuit/build.py
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

update extension name
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename hseries.rs to qsystem.rs
  tket2-hseries/README.md
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: rename structs
  Cargo.lock
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

propagate more renames
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename more things
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cargo update
  Cargo.lock
  Cargo.toml
Due: none

refactor!: rename hseries to qsystem (#703)
  Cargo.lock
  Cargo.toml
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/README.md
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/tket2/circuit/build.py
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-exts 0.2.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
Due: none

chore(py): release tket2-py 0.6.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.2.0 (#715)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
Due: none

chore: release v0.7.0
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
