Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

chore: uv lock update
  uv.lock
Due: none

chore(py): release tket-py 0.12.0 (#989)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix(py): update tket-py dependencies on other workspace packages
  tket-py/pyproject.toml
Due: none

fix(py): update tket-py dependencies on other workspace packages (#1000)
  tket-py/pyproject.toml
Due: none

chore(py): release tket-py 0.12.1
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.1 (#1001)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Fetch tket-c-api from conan remote
  tket1-passes/README.md
  tket1-passes/build.rs
  tket1-passes/conan-profiles/README.md
  tket1-passes/conan-profiles/linux-x86_64-gcc13
  tket1-passes/conan-profiles/macos-13
  tket1-passes/conan-profiles/macos-15
  tket1-passes/conan-profiles/windows-2025
  tket1-passes/conanfile.txt
  tket1-passes/tket-c-api/.gitignore
  tket1-passes/tket-c-api/CMakeLists.txt
  tket1-passes/tket-c-api/conanfile.py
  tket1-passes/tket-c-api/include/tket-c-api.h
  tket1-passes/tket-c-api/src/tket-c-api.cpp
  tket1-passes/tket-c-api/test_package/CMakeLists.txt
  tket1-passes/tket-c-api/test_package/conanfile.py
  tket1-passes/tket-c-api/test_package/src/example.cpp
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix action
  .github/actions/tket-c-api/action.yml
  .github/workflows/ci.yml
Due: none

simplify justfile
  justfile
Due: none

Add note in readme on building without conan
  tket1-passes/README.md
Due: none

add print
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cargo clippy --fix
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix READMEs
  DEVELOPMENT.md
  tket1-passes/README.md
Due: none

add 'build tools'
  tket1-passes/README.md
Due: none

docs: Update README badges
  README.md
  tket-eccs/README.md
  tket-exts/README.md
  tket-py/README.md
  tket/README.md
Due: none

docs: Update README badges (#1004)
  README.md
  tket-eccs/README.md
  tket-exts/README.md
  tket-py/README.md
  tket/README.md
Due: none

chore(py): release tket-eccs 0.5.1
  .release-please-manifest.json
  tket-eccs/CHANGELOG.md
  tket-eccs/pyproject.toml
  tket-eccs/src/tket_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.2
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-exts 0.10.1
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

add link
  tket1-passes/README.md
Due: none

chore: tket2 rust releases with warnings/errors pointing to crate renames
  tket2-hseries/README.md
  tket2-hseries/src/lib.rs
  tket2/README.md
  tket2/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

bump versions
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

chore: Fetch tket-c-api from conan remote (#1002)
  .github/actions/tket-c-api/action.yml
  .github/workflows/ci.yml
  DEVELOPMENT.md
  justfile
  tket1-passes/README.md
  tket1-passes/build.rs
  tket1-passes/conan-profiles/README.md
  tket1-passes/conan-profiles/linux-x86_64-gcc13
  tket1-passes/conan-profiles/macos-13
  tket1-passes/conan-profiles/macos-15
  tket1-passes/conan-profiles/windows-2025
  tket1-passes/conanfile.txt
  tket1-passes/tket-c-api/.gitignore
  tket1-passes/tket-c-api/CMakeLists.txt
  tket1-passes/tket-c-api/conanfile.py
  tket1-passes/tket-c-api/include/tket-c-api.h
  tket1-passes/tket-c-api/src/tket-c-api.cpp
  tket1-passes/tket-c-api/test_package/CMakeLists.txt
  tket1-passes/tket-c-api/test_package/conanfile.py
  tket1-passes/tket-c-api/test_package/src/example.cpp
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat!: Add `array_from_ptr` to `ArrayLowering` trait (#971)
  tket-qsystem/src/llvm/array_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

chore: release (#1008)
  Cargo.lock
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

Remove redundant handler
  tket-qsystem/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

return result types instead of futures
  tket-exts/src/tket_exts/data/tket/gpu.json
  tket-exts/src/tket_exts/data/tket/wasm.json
  tket-qsystem/src/bin/tket-qsystem.rs
  tket-qsystem/src/extension/gpu.rs
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixups
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
  tket-exts/tests/test_validate_exts.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

lints+fmt
  tket-qsystem/src/extension/gpu.rs
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update dep
  Cargo.lock
  Cargo.toml
Due: none

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  tket/src/lib.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: pytket decoder infra
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/param/param.pest
  tket/src/serialize/pytket/decoder/param/parser.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: Migrate node decoder to newer framework
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/tk1.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

small supports for dagger
  tket2/src/rich_circuit.rs
  tket2/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket-qsystem/src/extension/wasm.rs
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Fix release-checks trigger filter
  .github/workflows/release-checks.yml
Due: none

ci: Fix release-checks trigger filter (#1016)
  .github/workflows/release-checks.yml
Due: none
