Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

fmt
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/lazify_measure.rs
  tket2/src/circuit/command.rs
  tket2/src/extension/rotation.rs
  tket2/src/passes/chunks.rs
  tket2/src/passes/commutation.rs
  tket2/src/passes/pytket.rs
  tket2/src/passes/tuple_unpack.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

allow unused
  tket2-py/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to hugr 0.14 pre-release
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-py/src/circuit.rs
  tket2-py/src/circuit/convert.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/src/utils.rs
  tket2/src/circuit.rs
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/extension/sympy.rs
  tket2/src/ops.rs
  tket2/src/serialize/pytket/op/serialised.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr rs and py to latest release
  Cargo.lock
  Cargo.toml
  tket2-exts/pyproject.toml
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-py/examples/utils/__init__.py
  tket2-py/pyproject.toml
  tket2-py/tket2/ops.py
  tket2-py/tket2/types.py
  tket2/src/circuit.rs
  tket2/src/ops.rs
  tket2/src/portmatching.rs
  tket2/src/serialize.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Fix `todo!`s
  tket2-exts/pyproject.toml
  tket2-hseries/src/extension/qsystem.rs
  tket2-py/src/ops.rs
  tket2-py/src/types.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix doclink
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review comments
  tket2-py/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

s//////////g
  tket2/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.7.0
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

ci: Build wheels using the python's stable ABI
  tket2-py/Cargo.toml
Due: none

Update changelogs
  tket2-hseries/CHANGELOG.md
  tket2/CHANGELOG.md
Due: none

chore: release v0.7.0 (#667)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

use macos-13 runner for building mac x86 wheels
  .github/workflows/python-wheels.yml
Due: none

ci: Build wheels using the python's stable ABI (#726)
  .github/workflows/python-wheels.yml
  tket2-py/Cargo.toml
Due: none

chore(py): release tket2-exts 0.3.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
Due: none

Update tket2-py requirement and add __version__
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Update CHANGELOG.md
  tket2-exts/CHANGELOG.md
Due: none

chore(py): release tket2-exts 0.3.0 (#725)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Update CHANGELOG.md
  tket2-eccs/CHANGELOG.md
Due: none

chore(py): release tket2-eccs 0.3.0
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update tket2-py requirement
  tket2-py/pyproject.toml
  uv.lock
Due: none

chore(py): release tket2-eccs 0.3.0 (#659)
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
  tket2-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.6.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update CHANGELOG.md
  tket2-py/CHANGELOG.md
Due: none

chore(py): release tket2-py 0.6.0 (#716)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Add monomorphization and constant folding to QSystemPass
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/cli.rs
  tket2-hseries/src/lib.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

put hugr-cli back
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/cli.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2-hseries/src/lib.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

don't clone
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add monomorphization and constant folding to QSystemPass (#730)
  tket2-hseries/src/lib.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: use MonomorphizationPass
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review comments
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr versions
  Cargo.lock
  Cargo.toml
Due: none

revert polyfunc removal
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: use MonomorphizationPass (#732)
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.4.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.3.0
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
