Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

add qsystem tests
  tket2-hseries/src/llvm/qsystem.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_9.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_9.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_1.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

separate utils + move array and result
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/array.rs
  tket2-hseries/src/llvm/qsystem.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/rotation.rs
  tket2-hseries/src/llvm/utils_ext.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: random tests
  tket2-hseries/src/llvm/random.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__random__test__emit_random_codegen@pre-mem2reg@llvm14_4.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixups from string changes
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__exit_emit@pre-mem2reg@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__panic_emit@pre-mem2reg@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__utils__test__emit_utils_codegen@pre-mem2reg@llvm14_1.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add prelude test
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__exit_emit@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__exit_emit@pre-mem2reg@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__panic_emit@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__panic_emit@pre-mem2reg@llvm14_0.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove redundant file
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update utils snaps
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__exit_emit@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__prelude__test__panic_emit@llvm14_0.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__utils__test__emit_utils_codegen@llvm14_1.snap
Due: none

fix array tests
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_8.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor qsystem
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

improve emit_global_string
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

apply suggested change
  tket2-hseries/src/llvm/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add unit tests
  tket2-hseries/src/llvm/array_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

fix changelog
  tket2-hseries/CHANGELOG.md
Due: none

chore: release (#893)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

Add debug extension llvm lowering
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_1.snap.new
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_1.snap
  tket2/src/llvm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Format
  tket2-hseries/src/llvm/debug.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to hugr 0.20
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test serial command params too
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Clean typos and old TODOs
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/replace_bools.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Apply suggestions from code review
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add a named struct for closure inputs, so docs are nicer
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/extension/tk1.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix SerialCircuit comparison
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove more unused errors
  tket2/src/serialize/pytket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

incomplete sentence
  tket2/src/serialize/pytket/encoder/config.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doclinks
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add a _with_config encoder call
  tket2/src/serialize/pytket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add TrackedValue build helpers
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: More flexible pytket encoding
  tket2-py/src/circuit.rs
  tket2/Cargo.toml
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/ops.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/op.rs
  tket2/src/serialize/pytket/decoder/op/tk2op.rs
  tket2/src/serialize/pytket/decoder/param.pest
  tket2/src/serialize/pytket/decoder/param.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/unit_generator.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/param.rs
  tket2/src/serialize/pytket/param/encode.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(tket2-hseries): unicode-aware prefix in `emit_global_string`
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_14.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_14.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__result_op_tags@pre-mem2reg@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__result_op_tags@pre-mem2reg@llvm14_13.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(tket2-hseries): unicode-aware prefix in `emit_global_string` (#902)
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_14.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_14.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__result_op_tags@pre-mem2reg@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__result_op_tags@pre-mem2reg@llvm14_13.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.10.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.8.1
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(tket2-hseries): release v0.14.2
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
Due: none

test: Add some example guppy-generated hugrs
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.mmd
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.mmd
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.mmd
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.mmd
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.mmd
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.mmd
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.mmd
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.mmd
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.mmd
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

snapshot update
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_1.snap
Due: none

safer float expr wrapping
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more missing docs...
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add detect pi/k constanst from pytket
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
