Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

downgrade priority-queue
  Cargo.lock
Due: none

pin to release
  Cargo.lock
  Cargo.toml
Due: none

refactor!: stop using deprecated json funcs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove lift
  tket2/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review suggestion
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update hugr-py
  tket2-exts/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

use envelope methods
  tket2-py/examples/utils/__init__.py
  tket2-py/tket2/circuit/build.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore!: bump to hugr-rs 0.15 and hugr-py 0.11 (#806)
  Cargo.lock
  Cargo.toml
  tket2-exts/pyproject.toml
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/examples/utils/__init__.py
  tket2-py/pyproject.toml
  tket2-py/src/pattern.rs
  tket2-py/tket2/circuit/build.py
  tket2/src/circuit.rs
  tket2/src/circuit/command.rs
  tket2/src/circuit/hash.rs
  tket2/src/circuit/units.rs
  tket2/src/circuit/units/filter.rs
  tket2/src/optimiser/badger.rs
  tket2/src/passes/commutation.rs
  tket2/src/passes/pytket.rs
  tket2/src/passes/tuple_unpack.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/serialize.rs
  tket2/src/serialize/pytket/encoder.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-exts 0.6.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.8.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

feat!: Use hugr envelopes to store/load circuits
  Cargo.toml
  tket2-py/examples/utils/__init__.py
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/tket2/_tket2/circuit.pyi
  tket2-py/tket2/circuit/build.py
  tket2/src/lib.rs
  tket2/src/serialize.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: devenv cleanups
  devenv.nix
Due: none

cleanup inputs
  devenv.lock
  devenv.yaml
Due: none

chore: devenv cleanups (#814)
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

chore: Disable ordered_qalloc test in miri
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

bump to hugr-py fix
  tket2-exts/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

feat!: Use hugr envelopes to store/load circuits (#813)
  Cargo.toml
  tket2-exts/pyproject.toml
  tket2-py/examples/utils/__init__.py
  tket2-py/pyproject.toml
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/tket2/_tket2/circuit.pyi
  tket2-py/tket2/circuit/build.py
  tket2/src/lib.rs
  tket2/src/serialize.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

Update CHANGELOG.md
  tket2-py/CHANGELOG.md
Due: none

chore: uv sync
  uv.lock
Due: none

Cleanup changelog
  tket2-hseries/CHANGELOG.md
Due: none

chore: release (#805)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore(py): release tket2-py 0.8.0 (#808)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Update -exts dependency version for tket2-py
  tket2-py/pyproject.toml
Due: none

update uv.lock
  uv.lock
Due: none

Fix changelog
  tket2-exts/CHANGELOG.md
Due: none

chore(py): release tket2-exts 0.6.0 (#811)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.8.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv sync
  uv.lock
Due: none

loosen pytket requirement and lock to <2
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  uv.lock
Due: none

chore(py): release tket2-py 0.8.1 (#819)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Initial bool extension setup with type
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add bool op signatures
  tket2-hseries/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Add doug-q to codeowners
  .github/CODEOWNERS
Due: none

chore: Add doug-q to codeowners (#820)
  .github/CODEOWNERS
Due: none

ci: Update miri tests workflow, add justfile recipe
  .github/workflows/unsoundness.yml
  justfile
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
