Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

add a test for sequencepass
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

pytket_pass as a public field
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

add docstrings.
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update tket-py/tket/passes.py
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix PassResult
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Bump version of tket-c-api.
  tket1-passes/conanfile.txt
Due: none

Remove qubit_types_utils
  tket-py/src/circuit/tk2circuit.rs
  tket/src/modifier.rs
  tket/src/modifier/qubit_types_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use TypeUnpacker instead of contain_qubits
  tket/src/modifier/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use fix hugr branch
  tket-py/pyproject.toml
Due: none

rm call override
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Pass inplace to _run_pytket_pass, use PassResult.for_pass
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

inline_acyclic only for functions on qubits
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

inplace=True by default for .run
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

update message
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comment
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use hugr-py 0.14.4
  tket-py/pyproject.toml
  uv.lock
Due: none

start adding Guppy opt notebook
  tket-py/examples/3-Guppy-opt-example.ipynb
Due: none

add guppylang docs dependency
  tket-py/pyproject.toml
  uv.lock
Due: none

feat: implement `ComposeablePass` interface for any serializable pytket pass. (#1269)
  tket-py/pyproject.toml
  tket-py/test/test_pass.py
  tket-py/tket/passes.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

simplify ranges_array
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

impl pass interface for normalize guppy
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

update tests
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

use impl run helper
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

some cleanup
  tket-py/examples/3-Guppy-opt-example.ipynb
Due: none

add title
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

progress
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

pass missing args
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

test function and class
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

use None as a default value
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remove duplicate usage of Tk2Circuit
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: implement `ComposablePass` for normalize Guppy pass (#1286)
  tket-py/test/test_pass.py
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

more stuff
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

add notebook example
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

add some docs dependencies
  tket-py/pyproject.toml
  uv.lock
Due: none

use NormalizeGuppy pass
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

use NormalizeGuppy correctly
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

1q squashing (not working)
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

update rz
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

Add entrypoint arg
  tket-py/tket/_tket/passes.pyi
Due: none
