Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

docs
  tket2-hseries/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket2-hseries/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

debug
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

[WIP] implementing modifier resolver, defining rewriting rule
  tket2/src/rich_circuit.rs
  tket2/src/rich_circuit/flatten_modifier.rs
  tket2/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: Migrate node decoder to newer framework
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/config/decoder_config.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/wires.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
  tket2/src/serialize/pytket/extension/tk1.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use released hugr
  Cargo.lock
  Cargo.toml
Due: none

Add test that extensions validate
  tket2-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

lower pm to 0.3.1
  Cargo.lock
  Cargo.toml
  tket2/src/portmatching/matcher.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr (this fixes tket2-exts)
  tket2-exts/pyproject.toml
  uv.lock
Due: none

Extra test for gpu config
  tket2-hseries/src/extension/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add GPU module to tket2-hseries
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/gpu.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/gpu.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add gpu to the tket2-exts validation tests
  tket2-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

deactivate failing test
  tket2-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.12.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.10.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.5.0
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Move change filter to composable action
  .github/actions/check-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
Due: none

ci: Setup trusted Crates.io publishing
  .github/workflows/release-plz.yml
Due: none

Address comments
  tket2-hseries/src/replace_bools.rs
  tket2-hseries/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove intos
  tket2-hseries/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Setup trusted Crates.io publishing (#986)
  .github/workflows/release-plz.yml
Due: none

Fix
  tket2-hseries/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update legacy tket references
  tket-exts/pyproject.toml
  tket-hseries/src/extension/wasm.rs
  tket-hseries/src/replace_bools.rs
  tket/README.md
  tket/src/extension.rs
  tket/src/extension/bool.rs
  tket/src/extension/rotation.rs
  tket/src/ops.rs
  tket1-passes/README.md
  tket1-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename `Tk2Op` to `TketOp`
  tket-hseries/src/extension/qsystem.rs
  tket-hseries/src/extension/qsystem/lower.rs
  tket-hseries/src/lib.rs
  tket-hseries/src/replace_bools.rs
  tket-py/src/circuit.rs
  tket-py/src/circuit/convert.rs
  tket-py/src/circuit/tk2circuit.rs
  tket-py/src/ops.rs
  tket-py/src/passes.rs
  tket-py/src/utils.rs
  tket-py/test/test_circuit.py
  tket-py/test/test_ops.py
  tket-py/tket/_tket/circuit.pyi
  tket-py/tket/_tket/ops.pyi
  tket-py/tket/ops.py
  tket/benches/benchmarks/generators.rs
  tket/src/circuit.rs
  tket/src/circuit/command.rs
  tket/src/circuit/cost.rs
  tket/src/circuit/hash.rs
  tket/src/extension.rs
  tket/src/lib.rs
  tket/src/ops.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/qtz_circuit.rs
  tket/src/passes/chunks.rs
  tket/src/passes/commutation.rs
  tket/src/passes/pytket.rs
  tket/src/portmatching.rs
  tket/src/portmatching/matcher.rs
  tket/src/portmatching/pattern.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/serialize.rs
  tket/src/serialize/pytket/decoder/op.rs
  tket/src/serialize/pytket/decoder/op/tket_op.rs
  tket/src/serialize/pytket/extension/tk2.rs
  tket/src/serialize/pytket/tests.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add tket naming section to DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

Another pass updating missing urls
  .github/change-filters.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/python-wheels.yml
  DEVELOPMENT.md
  README.md
  scripts/check_extension_versions.py
  scripts/compile-test-eccs.sh
  tket-eccs/README.md
  tket-eccs/pyproject.toml
  tket-exts/README.md
  tket-exts/pyproject.toml
  tket-hseries/README.md
  tket-py/README.md
  tket-py/examples/utils/__init__.py
  tket-py/src/utils.rs
  tket-py/tket/__init__.py
  tket/README.md
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Codecov links use the repo url, not the lib name
  DEVELOPMENT.md
  README.md
  tket-eccs/README.md
  tket-exts/README.md
  tket-py/README.md
  tket/README.md
Due: none

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

Fix typo in url
  tket-qsystem/README.md
Due: none

Update .github/actions/check-changes/action.yml
  .github/actions/check-changes/action.yml
Due: none

ci: Move change filter to composable action (#985)
  .github/actions/check-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
Due: none

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none
