Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

feat: Define a wire tracker for the new pytket decoder (#1036)
  tket-py/src/circuit.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

typos
  tket/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.13.0
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-exts 0.10.1
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-eccs 0.5.1
  .release-please-manifest.json
  tket-eccs/CHANGELOG.md
  tket-eccs/pyproject.toml
  tket-eccs/src/tket_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Reworked pytket decoder framework (#1030)
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/op.rs
  tket/src/serialize/pytket/decoder/op/tket_op.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
  tket/src/serialize/pytket/tests.rs
  tket/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add emitters for tket-qsystem
  Cargo.lock
  tket-qsystem/Cargo.toml
  tket-qsystem/src/lib.rs
  tket-qsystem/src/pytket.rs
  tket-qsystem/src/pytket/futures.rs
  tket-qsystem/src/pytket/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix doclink
  tket-qsystem/src/pytket.rs
  tket-qsystem/src/pytket/futures.rs
  tket-qsystem/src/pytket/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

qsystem roundtrip tests
  Cargo.lock
  tket-qsystem/Cargo.toml
  tket-qsystem/src/pytket.rs
  tket-qsystem/src/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't translate MeasureReset for now
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Implicit permutations should only contain qubits
  tket-qsystem/src/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add emitters for tket-qsystem (#1039)
  Cargo.lock
  tket-qsystem/Cargo.toml
  tket-qsystem/src/lib.rs
  tket-qsystem/src/pytket.rs
  tket-qsystem/src/pytket/futures.rs
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

Simple qsystem roundtrip pytest
  tket-py/test/test_circuit.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Use qsystem encoder/decoders in tket-py
  Cargo.lock
  badger-optimiser/Cargo.toml
  badger-optimiser/src/main.rs
  tket-py/Cargo.toml
  tket-py/src/circuit/convert.rs
  tket-py/src/circuit/tk2circuit.rs
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/optimiser/badger.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update WASM extension
  tket-exts/src/tket_exts/data/tket/wasm.json
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update test_files/guppy_optimization/README.md
  test_files/guppy_optimization/README.md
Due: none

Bump WASM extension version
  tket-exts/src/tket_exts/data/tket/wasm.json
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Bump WASM ext version since it was changed
  tket-exts/src/tket_exts/data/tket/wasm.json
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Use qsystem encoder/decoders in tket-py (#1041)
  Cargo.lock
  badger-optimiser/Cargo.toml
  badger-optimiser/src/main.rs
  tket-py/Cargo.toml
  tket-py/src/circuit/convert.rs
  tket-py/src/circuit/tk2circuit.rs
  tket-py/test/test_circuit.py
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/optimiser/badger.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/encoder.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat!: Avoid eagerly cloning SerialCircuits when decoding from pytket
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Avoid eagerly cloning SerialCircuits when decoding from pytket (#1048)
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

chore: release (#1028)
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

chore(py): release tket-eccs 0.5.1 (#1007)
  .release-please-manifest.json
  tket-eccs/CHANGELOG.md
  tket-eccs/pyproject.toml
  tket-eccs/src/tket_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Fix release-checks trigger
  .github/workflows/release-checks.yml
Due: none

chore(py): release tket-exts 0.10.1 (#1005)
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Fix release-checks trigger (#1049)
  .github/workflows/release-checks.yml
Due: none

feat!: Update WASM extension (#1047)
  tket-exts/src/tket_exts/data/tket/wasm.json
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.12.2
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update tket-* dependency versions
  tket-py/pyproject.toml
  uv.lock
Due: none

feat: Move extension definitions in `tket-exts` to submodules
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/_util.py
  tket-exts/src/tket_exts/tket/bool.py
  tket-exts/src/tket_exts/tket/debug.py
  tket-exts/src/tket_exts/tket/futures.py
  tket-exts/src/tket_exts/tket/guppy.py
  tket-exts/src/tket_exts/tket/qsystem/__init__.py
  tket-exts/src/tket_exts/tket/qsystem/random.py
  tket-exts/src/tket_exts/tket/qsystem/utils.py
  tket-exts/src/tket_exts/tket/quantum.py
  tket-exts/src/tket_exts/tket/result.py
  tket-exts/src/tket_exts/tket/rotation.py
  tket-exts/src/tket_exts/tket/wasm.py
  tket-exts/tests/test_validate_exts.py
  tket-py/test/test_exts.py
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

re-add missing export
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add TketExtension definition, and some ops & types
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/_util.py
  tket-exts/src/tket_exts/tket/bool.py
  tket-exts/src/tket_exts/tket/debug.py
  tket-exts/src/tket_exts/tket/futures.py
  tket-exts/src/tket_exts/tket/guppy.py
  tket-exts/src/tket_exts/tket/qsystem/__init__.py
  tket-exts/src/tket_exts/tket/qsystem/random.py
  tket-exts/src/tket_exts/tket/qsystem/utils.py
  tket-exts/src/tket_exts/tket/quantum.py
  tket-exts/src/tket_exts/tket/result.py
  tket-exts/src/tket_exts/tket/rotation.py
  tket-exts/src/tket_exts/tket/wasm.py
  tket-exts/tests/test_validate_exts.py
  tket-py/test/test_exts.py
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

List op/type defs and improve tests
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/tket/_util.py
  tket-exts/src/tket_exts/tket/bool.py
  tket-exts/src/tket_exts/tket/debug.py
  tket-exts/src/tket_exts/tket/futures.py
  tket-exts/src/tket_exts/tket/guppy.py
  tket-exts/src/tket_exts/tket/qsystem/__init__.py
  tket-exts/src/tket_exts/tket/qsystem/random.py
  tket-exts/src/tket_exts/tket/qsystem/utils.py
  tket-exts/src/tket_exts/tket/quantum.py
  tket-exts/src/tket_exts/tket/result.py
  tket-exts/src/tket_exts/tket/rotation.py
  tket-exts/src/tket_exts/tket/wasm.py
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add missing ops and types
  tket-exts/src/tket_exts/tket/debug.py
  tket-exts/src/tket_exts/tket/futures.py
  tket-exts/src/tket_exts/tket/guppy.py
  tket-exts/src/tket_exts/tket/qsystem/__init__.py
  tket-exts/src/tket_exts/tket/qsystem/random.py
  tket-exts/src/tket_exts/tket/qsystem/utils.py
  tket-exts/src/tket_exts/tket/quantum.py
  tket-exts/src/tket_exts/tket/result.py
  tket-exts/src/tket_exts/tket/rotation.py
  tket-exts/src/tket_exts/tket/wasm.py
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

Use cached properties for ops and types
  tket-exts/src/tket_exts/tket/bool.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add extension version property
  tket-exts/src/tket_exts/tket/_util.py
  tket-exts/tests/test_validate_exts.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test
