Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

old-man-yells-at-old-man-yells-at-windows
  .github/workflows/python-wheels.yml
Due: none

update comment
  test_files/guppy_optimization/1q_squash/qsystem_chain.py
Due: ruff-format, ruff-check, mypy-check, py-test

one more time
  .github/workflows/python-wheels.yml
Due: none

👀
  .github/workflows/python-wheels.yml
Due: none

...
  .github/workflows/python-wheels.yml
Due: none

feat: `NormalizeGuppy` pass to simplify generated structure (#1220)
  tket-qsystem/tests/guppy_opt.rs
  tket/src/passes.rs
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Ensure conan has a default profile
  .github/actions/tket-c-api/action.yml
  justfile
Due: none

cache key
  .github/actions/tket-c-api/action.yml
Due: none

?
  .github/workflows/python-wheels.yml
Due: none

cache cache
  .github/actions/tket-c-api/action.yml
Due: none

Hack some workaround
  .github/actions/tket-c-api/action.yml
Due: none

!
  .github/actions/tket-c-api/action.yml
Due: none

order jobs
  .github/workflows/python-wheels.yml
Due: none

target in cache key
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
Due: none

undo hack
  .github/actions/tket-c-api/action.yml
Due: none

print files
  .github/actions/tket-c-api/action.yml
Due: none

print files correctly
  .github/actions/tket-c-api/action.yml
Due: none

???
  .github/actions/tket-c-api/action.yml
Due: none

copy files, not folders
  .github/actions/tket-c-api/action.yml
Due: none

windows x86 python override
  .github/workflows/python-wheels.yml
Due: none

pytket doesn't support win x86 :shrug:
  .github/workflows/python-wheels.yml
Due: none

check ✔️
  .github/workflows/python-wheels.yml
Due: none

One last cleanup
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
Due: none

chore: Include tket1-passes into tket-py wheels (#1218)
  .github/actions/tket-c-api/action.yml
  .github/workflows/build_docs.yml
  .github/workflows/ci.yml
  .github/workflows/python-wheels.yml
  .github/workflows/semver-checks.yml
  Cargo.lock
  justfile
  pyproject.toml
  tket-py/Cargo.toml
  tket1-passes/Cargo.toml
  tket1-passes/build.rs
  tket1-passes/conan-profiles/README.md
  tket1-passes/conan-profiles/macos-15
  tket1-passes/conan-profiles/macos-15-intel
  tket1-passes/conanfile.txt
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
  tket/src/serialize/pytket/options.rs
  tket/src/serialize/pytket/tests.rs
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: update hugr 0.24.2
  Cargo.lock
  Cargo.toml
  qis-compiler/rust/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Bump to hugr 0.24.2
  Cargo.lock
  Cargo.toml
Due: none

clippy
  tket/src/serialize/pytket/decoder/subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

drive-by: Conan requirement
  DEVELOPMENT.md
  justfile
  uv.lock
Due: none

Update MSRV test to use minimal dependencies
  .github/workflows/ci.yml
Due: none

update lockfile
  Cargo.lock
Due: none

unpin nightly
  .github/workflows/ci.yml
Due: none

Use the same `insta` on all crates
  .github/workflows/ci.yml
  qis-compiler/Cargo.toml
Due: none

bump serde
  Cargo.toml
Due: none

bump strum
  Cargo.toml
Due: none

bump a bunch of stuff
  Cargo.toml
  tket1-passes/Cargo.toml
Due: none

bump num_rational
  Cargo.toml
Due: none

chore: update hugr 0.24.2 (#1219)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  DEVELOPMENT.md
  justfile
  qis-compiler/Cargo.toml
  qis-compiler/rust/utils.rs
  tket1-passes/Cargo.toml
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Read `extra_subgraph` and some more code cleanups
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Enable extra_subgraph test, add another to-be-fixed test
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
