Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

Update ConstGpuModule
  tket-qsystem/src/extension/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cargo fmt
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove hash from ConstWasmModule
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  tket-qsystem/src/extension/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: bump hugr to v0.22.2
  Cargo.lock
  Cargo.toml
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_1.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_2.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_3.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_4.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_5.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_6.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_7.snap
  tket/src/llvm/snapshots/tket__llvm__rotation__test__emit_all_ops@pre-mem2reg@llvm14_0.snap
Due: none

more missed snapshot fixes
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@llvm14_1.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@llvm14_2.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@llvm14_3.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@llvm14_4.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@llvm14_5.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@llvm14_6.snap
  tket/src/llvm/snapshots/tket__llvm__bool__test__emit_all_ops@llvm14_7.snap
  tket/src/llvm/snapshots/tket__llvm__rotation__test__emit_all_ops@llvm14_0.snap
Due: none

Try different pass order
  tket-qsystem/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use hand-rolled warning boxes.
  tket2-eccs/src/tket2_eccs/__init__.py
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/README.md
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(tket-py): Create BadgerOptimiser from arbitrary Rewriters
  badger-optimiser/src/main.rs
  test_files/h_h_eccs.json
  tket-py/src/optimiser.rs
  tket-py/src/rewrite.rs
  tket-py/test/test_optimiser.py
  tket-py/tket/_tket/optimiser.pyi
  tket-py/tket/_tket/rewrite.pyi
  tket-py/tket/rewrite.py
  tket/src/optimiser.rs
  tket/src/optimiser/badger.rs
  tket/tests/badger_termination.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat(tket-py): Create BadgerOptimiser from arbitrary Rewriters (#1022)
  badger-optimiser/src/main.rs
  test_files/h_h_eccs.json
  tket-py/src/optimiser.rs
  tket-py/src/rewrite.rs
  tket-py/test/test_optimiser.py
  tket-py/tket/_tket/optimiser.pyi
  tket-py/tket/_tket/rewrite.pyi
  tket-py/tket/rewrite.py
  tket/src/optimiser.rs
  tket/src/optimiser/badger.rs
  tket/tests/badger_termination.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket-eccs 0.5.1
  .release-please-manifest.json
  tket-eccs/CHANGELOG.md
  tket-eccs/pyproject.toml
  tket-eccs/src/tket_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-exts 0.10.1
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.2
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

update dep
  Cargo.toml
Due: none

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  Cargo.toml
  tket/src/lib.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rewriter is parametrised on C
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CircuitMatcher
  tket/examples/circuit-matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/adapter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CircuitReplacer
  tket/examples/badger-hadamard-opt.rs
  tket/src/rewrite.rs
  tket/src/rewrite/replacer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

failing test
  tket-qsystem/src/extension/qsystem/barrier.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(qsystem): add barrier handling for value array
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/barrier/qtype_analyzer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: make array handling generic
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/barrier/qtype_analyzer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

macros to reduce repetition
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

notes about implementation plan
  tket2/notes/README.md
  tket2/notes/implemenration_plan.md
Due: none

fix(qsystem): handle barrier lowering for all array kinds (#1024)
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/barrier/qtype_analyzer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

[WIP] midifier and CFG with them
  tket/src/rich_circuit.rs
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/flatten_modifier.rs
  tket/src/rich_circuit/modifier.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release (#1014)
  Cargo.lock
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

[WIP] implementing modifier resolver, defining rewriting rule
  tket/src/rich_circuit.rs
  tket/src/rich_circuit/flatten_modifier.rs
  tket/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

first smallest implementation of modifier
  tket/src/ops.rs
  tket/src/rich_circuit.rs
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

[wip]
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

small supports for dagger
  tket/src/rich_circuit.rs
  tket/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Nice python matcher interface
  Cargo.lock
  tket-py/Cargo.toml
  tket-py/src/lib.rs
  tket-py/src/matcher.rs
  tket-py/src/matcher/op_arg.rs
  tket-py/src/matcher/ref_trait_impl.rs
  tket-py/src/protocol.rs
  tket-py/src/rewrite.rs
  tket-py/test/test_matcher.py
  tket-py/tket/__init__.py
  tket-py/tket/_tket/matcher.pyi
  tket-py/tket/matcher.py
  tket-py/tket/protocol.py
  tket/src/rewrite/matcher/adapter.rs
  tket/src/rewrite/replacer.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Nice python matcher interface
  Cargo.lock
  tket-py/Cargo.toml
  tket-py/examples/3-Custom-Match-Replace.ipynb
  tket-py/src/lib.rs
  tket-py/src/matcher.rs
  tket-py/src/matcher/op_arg.rs
  tket-py/src/matcher/ref_trait_impl.rs
  tket-py/src/protocol.rs
  tket-py/src/rewrite.rs
  tket-py/test/test_matcher.py
  tket-py/tket/__init__.py
  tket-py/tket/_tket/matcher.pyi
  tket-py/tket/matcher.py
  tket-py/tket/protocol.py
  tket/src/rewrite/matcher/adapter.rs
  tket/src/rewrite/replacer.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Update comment
  tket-qsystem/src/extension/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

GPU+WASM: Add lookup_by_id function; rename lookup -> lookup_by_name
  tket-qsystem/src/extension/gpu.rs
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update serialised extensions
  tket-exts/src/tket_exts/data/tket/gpu.json
  tket-exts/src/tket_exts/data/tket/wasm.json
Due: none
