Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: poetry run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: poetry run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: poetry run -- cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: poetry run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: poetry run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: poetry run -- sh -c "poetry install -C tket2-eccs & maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Update lock file
  poetry.lock
Due: none

chore: Remove TODO in test
  tket2/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Remove TODO in test (#536)
  tket2/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore!: Update hugr-py to `0.7.0`
  poetry.lock
  pyproject.toml
  release-please-config.json
Due: none

chore!: Update hugr-py to `0.7.0` (#538)
  poetry.lock
  pyproject.toml
  release-please-config.json
Due: none

docs: Add tket2-py module docstring
  tket2-py/tket2/__init__.py
Due: py-test

docs: Add tket2-py module docstring (#539)
  tket2-py/tket2/__init__.py
Due: py-test

chore(py): release tket2-py 0.2.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
Due: none

Update CHANGELOG.md
  tket2-py/CHANGELOG.md
Due: none

update the version in pyproject
  pyproject.toml
Due: none

chore(py): release tket2-py 0.2.1 (#540)
  .release-please-manifest.json
  pyproject.toml
  tket2-py/CHANGELOG.md
Due: none

feat(tket2-hseries): make result operation internals public
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(tket2-hseries): make result operation internals public (#542)
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

add missing feature to changelong
  tket2/CHANGELOG.md
Due: none

chore: release (#521)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

ci: Ensure release-plz always pushes as @hugbot
  .github/workflows/release-plz.yml
Due: none

ci: Ensure release-plz always pushes as @hugbot (#543)
  .github/workflows/release-plz.yml
Due: none

ci: Use hugrverse reusable actions
  .github/workflows/drop-cache.yml
  .github/workflows/pr-title.yml
Due: none

ci: Use hugrverse reusable actions (#544)
  .github/workflows/drop-cache.yml
  .github/workflows/pr-title.yml
Due: none

ci: Merge nightly tests with coverage pass
  .github/workflows/ci.yml
Due: none

Merge the pytest coverage too
  .github/workflows/ci.yml
Due: none

ci: Faster coverage tests (#545)
  .github/workflows/ci.yml
Due: none

chore: Move `pyproject.toml` to `tket2-py`
  poetry.lock
  pyproject.toml
  release-please-config.json
  tket2-eccs/pyproject.toml
  tket2-py/LICENCE
  tket2-py/pyproject.toml
Due: none

Update dependabot dirs
  .github/dependabot.yml
Due: none

chore: Use local ruff and mypy for pre-commit checks
  .pre-commit-config.yaml
Due: none

chore: Use local ruff and mypy for pre-commit checks (#547)
  .pre-commit-config.yaml
Due: none

Add ruff exclude for notebooks
  poetry.lock
  pyproject.toml
Due: none

feat: Add StaticSizeCircuit
  tket2/src/lib.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/static_circ.rs
  tket2/src/static_circ/match_op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add linked_op method
  tket2/src/static_circ.rs
  tket2/src/static_circ/match_op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Fast hashing for StaticSizeCircuit
  tket2/src/circuit.rs
  tket2/src/static_circ.rs
  tket2/src/static_circ/hash.rs
  tket2/src/static_circ/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update pyproject.toml
  pyproject.toml
Due: none

chore: Move `pyproject.toml` to `tket2-py` (#546)
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
  release-please-config.json
  tket2-eccs/pyproject.toml
  tket2-py/LICENCE
  tket2-py/pyproject.toml
Due: none

chore: Replace `poetry` with `uv`
  .github/change-filters.yml
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  devenv.nix
  devenv.yaml
  justfile
  pyproject.toml
  tket2-eccs/LICENCE
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: py-test

remove poetry.lock
  poetry.lock
Due: none

Add `pip` as a dev dependency
  pyproject.toml
  uv.lock
Due: none

cleanup cache keys
  .github/workflows/ci.yml
Due: none

Time `uv sync`
  .github/workflows/ci.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
