Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

Remove inlining - update snapshots
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Loosen hugr dependency in tket-py
  tket-py/pyproject.toml
  uv.lock
Due: none

Update dependencies
  qis-compiler/pyproject.toml
  tket-exts/pyproject.toml
  tket-py/pyproject.toml
  uv.lock
Due: none

Don't assume_all_present. Also unsafe if there's any dynamic indexing e.g. (qs[0][1],qs[i][1])
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove unused BorrowIndex
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove Clobber
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: use cargo-nextest for testing
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  devenv.nix
  justfile
Due: none

chore: update devenv, uv, cargo
  Cargo.lock
  devenv.lock
  uv.lock
Due: none

chore: update to hugr 0.24
  Cargo.lock
  Cargo.toml
Due: none

Simplify br_pairs
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: borrow return type breakage
  tket-qsystem/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify some logic; dedup already done in queue
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update justfile
  justfile
Due: none

chore: use cargo-nextest for testing (#1178)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.lock
  DEVELOPMENT.md
  devenv.lock
  devenv.nix
  justfile
  uv.lock
Due: none

Simplify find_const by running ConstantFoldPass first
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: update to hugr 0.24 (#1179)
  Cargo.lock
  Cargo.toml
  tket-qsystem/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Drop unnecessary let op =
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

with_regions => set_regions, passing empty means do nothing
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

typo, move seen
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doclink to const-fold
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove IsBorrowReturn trait
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Turn errors into panics
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cargo fmt
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add rust snapshot tests
  Cargo.lock
  qis-compiler/Cargo.toml
  qis-compiler/rust/gpu.rs
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_args.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_ret_float.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_ret_int.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_dispose_context.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_get_context.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_lookup.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_float.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_int.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update get_result interface to provide an output size and char pointer
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/rust/gpu.rs
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_float.snap
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_int.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Prefer build_tag for Option handling
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: don't assume causality on function ID lookup. Verify against a sentinel constant function ID and perform lookup on demand.
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Document packing approach and pack in a more robust manner
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/rust/gpu.rs
  qis-compiler/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_args.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Satisfy clippy
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add GPU lowering to selene-hugr-qis-compiler
  Cargo.lock
  qis-compiler/Cargo.toml
  qis-compiler/python/tests/resources/example_gpu.hugr
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/python/tests/test_basic_generation.py
  qis-compiler/rust/gpu.rs
  qis-compiler/rust/lib.rs
  qis-compiler/rust/selene_specific.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

cargo fmt
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't configure insta inline - lean on hugr::check_emission
  qis-compiler/Cargo.toml
  qis-compiler/rust/gpu.rs
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14-2.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14-3.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14-4.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14-5.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14-6.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14-7.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14-8.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14-2.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14-3.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14-4.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14-5.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14-6.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14-7.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14-8.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Appropriately name snapshots
  qis-compiler/rust/gpu.rs
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_call_args.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_call_ret_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_call_ret_int.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_dispose_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_get_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_lookup.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_read_result_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_read_result_int.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_args.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_ret_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_ret_int.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_dispose_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_get_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_lookup.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_int.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add lookup by name test. Add validation calls before calls that may come first, rather than upon emitting the ConstGpuModule, such that it is present in any relevant snapshots
  qis-compiler/rust/gpu.rs
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_get_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_lookup_by_id.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_lookup_by_name.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_lookup_by_id.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_lookup_by_name.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cargo fmt. Could really do with having the precommit setup in devenv for this.
  qis-compiler/rust/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Out of the rstest trenches, now for a python snapshot update
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
Due: none

dynamic indexing test
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update devenv.nix and add a new conan profile for gcc14
  devenv.nix
  tket1-passes/conan-profiles/linux-x86_64-gcc14
Due: none
