Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

test: run pytket on guppy_opt tests, measure (very limited) success (#1250)
  Cargo.lock
  tket-qsystem/Cargo.toml
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use dataclass design
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

add test
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

set traverse_subcircuits=True default in squash pass
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

mutate a Hugr in place correctly
  tket-py/pyproject.toml
  tket-py/tket/passes.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

add a pass for Clifford simplification
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Set the mac target version globaly when building wheels
  .github/workflows/python-wheels.yml
Due: none

Use macos-15 builder
  .github/workflows/python-wheels.yml
Due: none

Update .github/workflows/python-wheels.yml
  .github/workflows/python-wheels.yml
Due: none

Invalidate tket-c-api cache
  .github/actions/tket-c-api/action.yml
Due: none

Set macos compat to 13 on arm OSX
  .github/workflows/python-wheels.yml
  tket1-passes/conan-profiles/macos-15
Due: none

measure sux
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket/src/passes.rs
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add replace_qubits to passes.pyi
  tket-py/tket/_tket/passes.pyi
Due: none

ci: Set the mac target version globaly when building wheels (#1264)
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
  tket1-passes/conan-profiles/macos-15
Due: none

add globals extension
  tket-exts/src/tket_exts/data/tket/globals.json
  tket-qsystem/src/bin/tket-qsystem.rs
  tket/src/extension.rs
  tket/src/extension/globals.rs
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Allow running arbitrary serializable pytket passes on hugrs
  tket-py/src/passes.rs
  tket-py/src/passes/tket1.rs
  tket-py/tket/_tket/passes.pyi
  tket-py/tket/passes.py
  tket-qsystem/tests/guppy_opt.rs
  tket1-passes/conanfile.txt
  tket1-passes/src/lib.rs
  tket1-passes/tests/tket1-on-hugr.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add SAFETY comments
  tket1-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add llvm lowering for globals
  qis-compiler/rust/lib.rs
  tket-qsystem/src/llvm.rs
  tket-qsystem/src/llvm/globals.rs
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__globals__test__emit_debug_codegen@pre-mem2reg@llvm14.snap
  tket/src/extension/globals.rs
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add note about semver-checks failure
  .github/workflows/semver-checks.yml
Due: none

Add nested_array in guppy_opt, rm from test_files
  test_files/guppy_optimization/nested_array/nested_array.hugr
  test_files/guppy_optimization/nested_array/nested_array.opt.hugr
  test_files/guppy_optimization/nested_array/nested_array.opt.py
  test_files/guppy_optimization/nested_array/nested_array.py
  test_files/nested_array.hugr
  tket-qsystem/tests/guppy_opt.rs
  tket/src/passes/borrow_squash.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Remove squashing_inline.hugr
  test_files/squashing_inline.hugr
  tket/src/passes/borrow_squash.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Enable SAFETY comment lint
  tket1-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.12.12
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv lock
  uv.lock
Due: none

chore(py): release tket-py 0.12.12 (#1260)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

_pytket_pass method
  tket-py/test/test_pass.py
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Organize test_files directory (#1252)
  compile-rewriter/README.md
  test_files/2cx.json
  test_files/barenco_tof_5_rm.json
  test_files/eccs/README.md
  test_files/eccs/T_Tdg_H_X_CX_complete_ECC_set.json
  test_files/eccs/cx_cx_eccs.json
  test_files/eccs/h_h_eccs.json
  test_files/eccs/h_rz_cxcomplete_ECC_set.json
  test_files/eccs/h_rz_cxrepresentative_set.json
  test_files/ordered_qalloc.hugr
  test_files/pytket/README.md
  test_files/pytket/barenco_tof_10.json
  test_files/pytket/barenco_tof_5.json
  test_files/simple.qasm
  tket-py/test/test_optimiser.py
  tket-py/test/test_portmatching.py
  tket/README.md
  tket/src/lib.rs
  tket/src/optimiser/badger/qtz_circuit.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/serialize/pytket/tests.rs
  tket1-passes/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

optimize_guppy_pytket: include NormalizeGuppy
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Inline...fixes two, and angles breaks in a strange way
  tket-qsystem/tests/guppy_opt.rs
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Enable aarch64 tket wheel builds on linux
  .github/workflows/python-wheels.yml
Due: none

remove big-array test, add unit test with test_files/guppy_opt/ranges.flat.array.py
  test_files/big_array.hugr
  test_files/guppy_optimization/ranges/ranges.flat.array.hugr
  test_files/guppy_optimization/ranges/ranges.flat.array.py
  tket/src/passes/borrow_squash.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

driveby test method rename/comment
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add ranges.flat.array test in guppy_opt.rs
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Call NormalizeGuppy in optimize_flatted_guppy
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove superceded tket1-passes test
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

re-export
  tket-qsystem/tests/guppy_opt.rs
  tket/src/passes.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ruff
  test_files/guppy_optimization/nested_array/nested_array.opt.py
  test_files/guppy_optimization/nested_array/nested_array.py
  test_files/guppy_optimization/ranges/ranges.flat.array.py
Due: ruff-format, ruff-check, mypy-check, py-test

simple test
  tket/src/passes/borrow_squash.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

check parent not length
  tket/src/passes/borrow_squash.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
