Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

feat: Add CustomPass label to badger_pass
  tket2-py/tket2/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add CustomPass label to badger_pass (#932)
  tket2-py/tket2/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Fix extension version check on main
  .github/workflows/ci.yml
Due: none

ci: Fix extension version check on main (#935)
  .github/workflows/ci.yml
Due: none

refactor(hseries): use array pop operation
  .gitignore
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: account for call graph bug by using module builder
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: fix line endings
  .github/change-filters.yml
Due: none

fix: format
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: update exts
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
Due: none

fix: bump version of qsystem extension
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: format
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: bump version 0.4.0->0.4.1
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

troubleshoot ci
  .github/workflows/ci.yml
Due: none

revert ci debug changes
  .github/workflows/ci.yml
Due: none

refactor(hseries): use array unpack operation (#913)
  .github/change-filters.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
  tket2/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix cargo deps
  Cargo.lock
  Cargo.toml
  tket2/src/rewrite_space/max_sat.rs
  tket2/tests/rewrite_space_explorer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Drop DS_Store file
  tket2-eccs/.DS_Store
Due: none

ci: Fix tag match expression
  .github/workflows/ci.yml
Due: none

chore: Drop DS_Store file (#936)
  tket2-eccs/.DS_Store
Due: none

ci: Fix typo in tag match expression (#937)
  .github/workflows/ci.yml
Due: none

Export PersistentHugr from tket2
  tket2/src/rewrite_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add tket1-passes subcrate
  Cargo.lock
  Cargo.toml
  test_files/2cx.json
  tket1-passes/README.md
  tket1-passes/cpp/.gitignore
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/build.sh
  tket1-passes/cpp/conanfile.py
  tket1-passes/cpp/src/tket1-passes.cpp
  tket1-passes/cpp/src/tket1-passes.h
  tket1-passes/rust/Cargo.toml
  tket1-passes/rust/build.rs
  tket1-passes/rust/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: try moving LazyMeasureLeaked enum val to end
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add broken test, needs future integer support
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket2-hseries/src/llvm/futures.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix CI, clean up
  .github/workflows/ci.yml
  tket1-passes/.gitignore
  tket1-passes/README.md
  tket1-passes/cpp/.gitignore
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/build.sh
  tket1-passes/cpp/conanfile.py
  tket1-passes/cpp/src/tket1-passes.cpp
  tket1-passes/rust/build.rs
  tket1-passes/rust/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ci: simplify extension check - always require version bump
  .github/workflows/ci.yml
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix semver check
  .github/workflows/semver-checks.yml
Due: none

ci: simplify extension check - always require version bump (#941)
  .github/workflows/ci.yml
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.11.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

Add CI caching
  .github/actions/tket1-passes/action.yml
  .github/change-filters.yml
  .github/workflows/ci.yml
Due: none

Address comments
  Cargo.lock
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/conanfile.py
  tket1-passes/rust/Cargo.toml
  tket1-passes/rust/README.md
  tket1-passes/rust/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat(badgerv2): Add RewriteStateSpace
  Cargo.lock
  Cargo.toml
  test_files/6cz.hugr
  test_files/perhugr1.json
  tket2/Cargo.toml
  tket2/src/lib.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/commute_cz.rs
  tket2/src/rewrite_space/max_sat.rs
  tket2/src/serialize.rs
  tket2/tests/rewrite_space_explorer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: fix rs-semver CI
  .github/workflows/semver-checks.yml
Due: none

`hugr` main and `TypeArg::List`.
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: run QystemPass with module as entrypoint
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test(hseries): stop relying on backwards compatibility in qsystem
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: run QystemPass with module as entrypoint (#945)
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
