Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rewriter is parametrised on C
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
  tket/src/subcircuit/expression.rs
  tket/src/subcircuit/interval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review comments
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: pytket EncodedCircuit struct for in-place pytket optimisation (#1211)
  Cargo.lock
  tket/src/passes/pytket.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
  tket/src/serialize/pytket/options.rs
  tket/src/serialize/pytket/tests.rs
  tket1-passes/Cargo.toml
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add missing file export
  test_files/guppy_optimization/1q_squash/qsystem_chain.opt.py
  test_files/guppy_optimization/1q_squash/qsystem_chain.py
  test_files/guppy_optimization/1q_squash/rz_chain.opt.py
  test_files/guppy_optimization/1q_squash/rz_chain.py
Due: ruff-format, ruff-check, mypy-check, py-test

Code cleanup and handle output params
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move s_t_wires from Decoder::finish to run_decoder
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/extension/core.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(encoded-circ): Track unsupported wires between input and output
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

generate hugrs for simple test cases
  test_files/guppy_optimization/1q_squash/qsystem_chain.hugr
  test_files/guppy_optimization/1q_squash/qsystem_chain.opt.hugr
  test_files/guppy_optimization/1q_squash/qsystem_chain.opt.py
  test_files/guppy_optimization/1q_squash/qsystem_chain.py
  test_files/guppy_optimization/1q_squash/rz_chain.hugr
  test_files/guppy_optimization/1q_squash/rz_chain.opt.hugr
  test_files/guppy_optimization/1q_squash/rz_chain.opt.py
  test_files/guppy_optimization/1q_squash/rz_chain.py
Due: ruff-format, ruff-check, mypy-check, py-test

regenerate everything with the latest guppy version
  test_files/guppy_optimization/1q_squash/qsystem_chain.opt.py
  test_files/guppy_optimization/1q_squash/qsystem_chain.py
  test_files/guppy_optimization/1q_squash/rz_chain.opt.py
  test_files/guppy_optimization/1q_squash/rz_chain.py
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

Disable CircBox encoding for now
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  tket/src/serialize/pytket/decoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(encoded-circ): Track unsupported wires between input and output (#1224)
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Disable constant fold in guppy pass by default
  tket-py/src/passes.rs
  tket-py/tket/_tket/passes.pyi
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

drive-by: Tk2Circuit.render_mermaid
  tket-py/src/circuit/tk2circuit.rs
  tket-py/tket/_tket/circuit.pyi
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add bindings for tket1-passes from python
  Cargo.lock
  tket-py/Cargo.toml
  tket-py/src/circuit.rs
  tket-py/src/circuit/tk2circuit.rs
  tket-py/src/passes.rs
  tket-py/src/passes/tket1.rs
  tket-py/test/test_pass.py
  tket-py/tket/_tket/passes.pyi
  tket-py/tket/passes.py
  tket1-passes/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Update normalize_guppy parameter names
  tket-py/src/passes.rs
  tket-py/tket/_tket/passes.pyi
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add bindings for tket1-passes from python (#1225)
  Cargo.lock
  tket-py/Cargo.toml
  tket-py/src/circuit.rs
  tket-py/src/circuit/tk2circuit.rs
  tket-py/src/passes.rs
  tket-py/src/passes/tket1.rs
  tket-py/test/test_pass.py
  tket-py/tket/_tket/circuit.pyi
  tket-py/tket/_tket/passes.pyi
  tket-py/tket/passes.py
  tket1-passes/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Don't try to encode wires with no values
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Interval is independent of resource IDs and scope position (#1205)
  tket/src/resource.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/subcircuit.rs
  tket/src/subcircuit/interval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Replace SiblingSubgraph with simpler OpaqueSubgraph
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
  tket/src/serialize/pytket/opaque/subgraph.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't encode nodes with order edges
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Internal-only bits not appearing in pytket circuit's bit register list
  tket/src/serialize/pytket/encoder/value_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Initial piping for translating isomorphic types
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Allocate qbs declared by pytket only if consumed
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Make sure output params have the right type
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Don't try to encode wires with complex types that include a parameter
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: encode input parameters to extra_subgraphs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  tket/src/serialize/pytket/opaque/subgraph.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Move non-local edges originating from decoded region's input
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Multiple fixes to the pytket encoder (#1226)
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
  tket/src/serialize/pytket/opaque/subgraph.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Try to fix linking in the wheels building script
  .github/workflows/python-wheels.yml
Due: none

Setup conan profiles for cross-compilation on linux hosts
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
  tket1-passes/build.rs
  tket1-passes/conan-profiles/README.md
  tket1-passes/conan-profiles/linux-aarch64-gcc14
  tket1-passes/conan-profiles/linux-aarch64-musl-gcc14
  tket1-passes/conan-profiles/linux-armv7-gcc14
  tket1-passes/conan-profiles/linux-armv7-musl-gcc14
  tket1-passes/conan-profiles/linux-armv8-gcc14
  tket1-passes/conan-profiles/linux-i686-gcc14
  tket1-passes/conan-profiles/linux-i686-musl-gcc14
  tket1-passes/conan-profiles/linux-x86_64-musl-gcc14
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Print info on compiled shared libs
  .github/workflows/python-wheels.yml
Due: none

Use ubuntu 24.04 runners, rather than 22.04
  .github/workflows/python-wheels.yml
Due: none

cleanup action.yml
  .github/actions/tket-c-api/action.yml
Due: none

Try to fix the windows linking error
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More debug outputs
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
Due: none

Remove platforms that pytket doesn't build wheels for
  .github/workflows/python-wheels.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
