Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: poetry run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: poetry run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: poetry run -- cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: poetry run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: poetry run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: poetry run -- sh -c "poetry install -C tket2-eccs && maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Does `uv sync` include maturin develop?
  .github/workflows/ci.yml
Due: none

Implement portmatching
  Cargo.lock
  Cargo.toml
  tket2-py/src/pattern.rs
  tket2-py/src/pattern/portmatching.rs
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/hugr_pchannel.rs
  tket2/src/optimiser/badger/hugr_pqueue.rs
  tket2/src/optimiser/badger/worker.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/pattern.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/portmatching/predicate.rs
  tket2/src/portmatching/snapshots/tket2__portmatching__pattern__tests__construct_pattern.snap
  tket2/src/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/static_circ.rs
  tket2/src/static_circ/match_op.rs
  tket2/src/static_circ/rewrite.rs
  tket2/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Use portmatching pre-release
  Cargo.lock
  Cargo.toml
Due: none

bump to uv 0.2.4
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
Due: none

activate venv in devenv
  devenv.nix
Due: none

update devenv (unstable channel)
  devenv.lock
  devenv.yaml
Due: none

feat: PortDiff support
  Cargo.lock
  tket2/Cargo.toml
  tket2/src/lib.rs
  tket2/src/portdiff.rs
  tket2/src/portdiff/matcher.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/pattern.rs
  tket2/src/snapshots/tket2__static_circ__tests__add_subcircuit.snap
  tket2/src/static_circ.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Centralize the `uv` install script
  .github/script/install-uv.sh
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
Due: none

Roll back pytket update
  tket2-py/pyproject.toml
Due: none

uv lock
  uv.lock
Due: none

Fail if the lockfile is out of date
  .github/workflows/ci.yml
Due: none

chore: Replace `poetry` with `uv` (#557)
  .github/change-filters.yml
  .github/script/install-uv.sh
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  devenv.lock
  devenv.nix
  devenv.yaml
  justfile
  poetry.lock
  pyproject.toml
  tket2-eccs/LICENCE
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: poetry-install, ruff-format, ruff-check, mypy-check, py-test

feat: Extend Command::optype lifetime
  tket2/src/circuit/command.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Finish PortDiff impl
  Cargo.lock
  Cargo.toml
  badger-optimiser/src/main.rs
  tket2/TODOBadgerV2.md
  tket2/a.txt
  tket2/b.txt
  tket2/src/circuit.rs
  tket2/src/circuit/command.rs
  tket2/src/circuit/cost.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/worker.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/predicate.rs
  tket2/src/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/static_circ.rs
  tket2/src/static_circ/hash.rs
  tket2/src/static_circ/iter.rs
  tket2/src/static_circ/match_op.rs
  tket2/src/static_circ/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Extend Command::optype lifetime (#562)
  tket2/src/circuit/command.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Update hugr-py to `0.8.0`
  tket2-py/pyproject.toml
  tket2-py/test/test_pauli_prop.py
  tket2-py/tket2/circuit/build.py
  tket2/src/circuit.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Temporarily disable pauli tests
  tket2-py/test/test_pauli_prop.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: make LazyifyMeasurePass deterministic
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/circuit.rs
  tket2/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Ignore lift nodes
  tket2/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

include float ops in registry
  tket2/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove comment
  tket2/src/serialize/pytket/op/native.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Badger on PortDiff
  Cargo.lock
  Cargo.toml
  badger-optimiser/src/main.rs
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/optimiser.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/hugr_pqueue.rs
  tket2/src/portdiff.rs
  tket2/src/portdiff/matcher.rs
  tket2/src/portdiff/rewrite.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/pattern.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/portmatching/predicate.rs
  tket2/src/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/static_circ.rs
  tket2/src/static_circ/hash.rs
  tket2/src/static_circ/iter.rs
  tket2/src/static_circ/match_op.rs
  tket2/src/static_circ/position.rs
  tket2/src/static_circ/rewrite.rs
  tket2/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Deactivate Sentinels, check owner in SameOp predicate
  Cargo.lock
  tket2/Cargo.toml
  tket2/src/optimiser/badger.rs
  tket2/src/portdiff/matcher.rs
  tket2/src/portdiff/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Add static_circ docs
  tket2/src/static_circ.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Upgarde to portmatching rc2
  Cargo.lock
  Cargo.toml
Due: none

wip
  Cargo.lock
  Cargo.toml
  ms3.json
  tket2-hseries/Cargo.toml
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/cli.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Support empty wire
  Cargo.lock
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/optimiser/badger.rs
  tket2/src/portdiff.rs
  tket2/src/portdiff/matcher.rs
  tket2/src/portdiff/rewrite.rs
  tket2/src/rewrite.rs
  tket2/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Update search strategy
  tket2/src/circuit/cost.rs
  tket2/src/optimiser/badger.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(badger): Fix qubit order
  tket2/src/optimiser/badger.rs
  tket2/src/static_circ.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: angle type no longer parametric.
  tket2/src/extension.rs
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docstring fixes
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: angle type no longer parametric. (#577)
  tket2/src/extension.rs
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename lazy extension to "hseries" and add hseries ops
  tket2-hseries/src/extension/quantum_lazy.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
