Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: poetry run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: poetry run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: poetry run -- cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: poetry run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: poetry run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: poetry run -- sh -c "poetry install -C tket2-eccs && maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

fixup some naming
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/lazify_measure.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename quantum_lazy mod to hseries
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

! remove Tk1, add Ry and Toffoli
  tket2-py/tket2/ops.py
  tket2/src/ops.rs
  tket2/src/serialize/pytket/op/native.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

add CY, CRz
  tket2-py/tket2/ops.py
  tket2/src/ops.rs
  tket2/src/serialize/pytket/op/native.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix docstrings
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Better cost heuristic
  Cargo.lock
  test_files/barenco_tof_5_rm.json
  tket2/src/optimiser/badger.rs
  tket2/src/portdiff/matcher.rs
  tket2/src/portdiff/rewrite.rs
  tket2/src/portmatching/snapshots/tket2__portmatching__pattern__tests__construct_pattern.snap
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/snapshots/tket2__static_circ__tests__add_subcircuit.snap
  tket2/src/static_circ.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

faet: more angle ops (construct, deconstruct, radians, equality)
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add amul and adiv
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix div description
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add float types to registry for angle<->rad ops
  tket2/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: more angle ops (construct, deconstruct, radians, equality) (#581)
  tket2/src/extension.rs
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.3.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

fix and format
  tket2-hseries/src/cli.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Update to portdiff v0.3 and activate salient squashing
  Cargo.lock
  tket2/Cargo.toml
  tket2/src/optimiser/badger.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.2.0 (#553)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore(py): release tket2-py 0.3.0 (#570)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Fix incorrect wheels name on publish
  .github/workflows/python-wheels.yml
  justfile
Due: none

ci: Fix incorrect wheels name on publish (#587)
  .github/workflows/python-wheels.yml
  justfile
Due: none

ci: Fix wheels upload on different dir
  .github/workflows/python-wheels.yml
Due: none

Undo testing changes
  .github/workflows/python-wheels.yml
Due: none

fix: extension ops checking against incorrect name
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/result.rs
  tket2/src/extension/angle.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: remove TryFrom for extension ops use `cast`
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2/src/circuit/cost.rs
  tket2/src/ops.rs
  tket2/src/passes/commutation.rs
  tket2/src/serialize/pytket/op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Fix wheels upload on different dir (#590)
  .github/workflows/python-wheels.yml
Due: none

fix: extension ops checking against incorrect name (#593)
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/result.rs
  tket2/src/extension/angle.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: remove TryFrom for extension ops use `cast` (#592)
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2/src/circuit/cost.rs
  tket2/src/ops.rs
  tket2/src/passes/commutation.rs
  tket2/src/serialize/pytket/op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: don't load angle extensions on to quantum
  tket2/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: don't load angle extensions on to quantum (#597)
  tket2/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use shorter `out_wire`
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: dataflow builder methods for angle ops
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: dataflow builder methods for angle ops (#596)
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
