Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

chore(py): release qis-compiler 0.2.9 (#1195)
  .release-please-manifest.json
  qis-compiler/CHANGELOG.md
  qis-compiler/pyproject.toml
  uv.lock
Due: none

ci(qis-compiler): publish from correct directory
  .github/workflows/python-qis-wheels.yml
Due: none

ci(qis-compiler): publish from correct directory (#1198)
  .github/workflows/python-qis-wheels.yml
Due: none

feat: add GPU lowering to selene-hugr-qis-compiler (#1169)
  .gitignore
  Cargo.lock
  qis-compiler/Cargo.toml
  qis-compiler/python/tests/resources/example_gpu.hugr
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/aarch64-apple-darwin/gpu_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-apple-darwin/gpu_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-unknown-linux-gnu/gpu_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_gpu/x86_64-windows-msvc/gpu_x86_64-windows-msvc
  qis-compiler/python/tests/test_basic_generation.py
  qis-compiler/rust/gpu.rs
  qis-compiler/rust/lib.rs
  qis-compiler/rust/selene_specific.rs
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_call_args.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_call_ret_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_call_ret_int.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_dispose_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_get_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_lookup.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_lookup_by_id.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_lookup_by_name.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_read_result_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@llvm14_read_result_int.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_args.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_ret_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_call_ret_int.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_dispose_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_get_context.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_lookup.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_lookup_by_id.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_lookup_by_name.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_float.snap
  qis-compiler/rust/snapshots/selene_hugr_qis_compiler__gpu__test__gpu_codegen@pre-mem2reg@llvm14_read_result_int.snap
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release qis-compiler 0.2.10
  .release-please-manifest.json
  qis-compiler/CHANGELOG.md
  qis-compiler/pyproject.toml
Due: none

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  qis-compiler/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

fix: do not cache interval positions
  tket-py/src/matcher/circuit_unit.rs
  tket/src/resource/convex_checker.rs
  tket/src/resource/interval.rs
  tket/src/rewrite/matcher.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: guppy_to_circuit always returns num_operations = 0
  tket/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make subgraphs refer to nodes in the _hugr being constructed_
  tket-py/src/circuit/convert.rs
  tket-qsystem/src/pytket.rs
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/circuit/hash.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
  tket/src/serialize/pytket/options.rs
  tket/src/serialize/pytket/tests.rs
  tket/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add tests for ops counting
  tket-py/test/test_count_ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Interval is independent of resource IDs and scope position
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixes to subcircuit
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Interval is independent of resource IDs and scope position
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy fix
  tket/src/resource/interval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add test
  tket/src/resource/interval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update graphviz
  pyproject.toml
  uv.lock
Due: none

update pip
  uv.lock
Due: none

Add comment about smol_str.
  Cargo.toml
Due: none

Ignore smol_str in dependabot config.
  .github/dependabot.yml
Due: none

ci: Tell dependabot to ignore `smol_str`. (#1207)
  .github/dependabot.yml
  Cargo.toml
Due: none

refactor: move Rule and RuleMatcher from tket-py to core tket
  tket-py/src/pattern.rs
  tket/src/portmatching.rs
  tket/src/portmatching/matcher.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: link to z3 statically
  Cargo.lock
  tket-py/pyproject.toml
  tket/Cargo.toml
Due: none

Address review comments
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/options.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/options.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move guppy dev dependency to main workspace
  pyproject.toml
  qis-compiler/pyproject.toml
  uv.lock
Due: none

Update CI environment for running guppy-based tests
  .github/workflows/ci.yml
Due: none

...and also update the check-py step
  .github/workflows/ci.yml
Due: none

feat: Add CopyableExpressionAST
  tket/src/subcircuit.rs
  tket/src/subcircuit/expression.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CopyableExpressionAST
  tket/src/lib.rs
  tket/src/subcircuit.rs
  tket/src/subcircuit/expression.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

move interval to subcircuit module
  tket/src/resource.rs
  tket/src/subcircuit.rs
  tket/src/subcircuit/interval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

convexity test
  tket/src/subcircuit/expression.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: reassemble_inline reads subgraphs from target hugr
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/error.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Actually replant the external subgraphs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Green light?
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket/src/subcircuit/expression.rs
  tket/src/subcircuit/expression.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  tket/src/resource/scope.rs
  tket/src/subcircuit.rs
  tket/src/subcircuit/expression.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
