Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

cache type translations
  tket2/src/serialize/pytket/config/type_translators.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Split encoder/decoder/type_translator traits
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/config.rs
  tket2/src/serialize/pytket/config/decoder_config.rs
  tket2/src/serialize/pytket/config/encoder_config.rs
  tket2/src/serialize/pytket/config/type_translators.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/config/decoder_config.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/wires.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add GlobalPhase operation to quantum extension
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-py/tket2/ops.py
  tket2/src/extension.rs
  tket2/src/ops.rs
  tket2/src/serialize/pytket/decoder/op/tk2op.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/tests.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add pass
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update description
  tket2-exts/src/tket2_exts/data/tket2/guppy.json
Due: none

Fix
  tket2-exts/src/tket2_exts/data/tket2/guppy.json
  tket2/src/extension/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add guppy extension with drop operation (#962)
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/guppy.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-py/test/test_exts.py
  tket2-py/tket2/extensions/__init__.py
  tket2/src/extension.rs
  tket2/src/extension/guppy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat!: Split the pytket extension encoder trait
  Cargo.lock
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/config.rs
  tket2/src/serialize/pytket/config/encoder_config.rs
  tket2/src/serialize/pytket/config/type_translators.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: pytket decoder infra
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/config.rs
  tket2/src/serialize/pytket/config/decoder_config.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/param.rs
  tket2/src/serialize/pytket/decoder/param/param.pest
  tket2/src/serialize/pytket/decoder/param/parser.rs
  tket2/src/serialize/pytket/decoder/wires.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add array_from_ptr to ArrayLowering trait
  tket2-hseries/src/llvm/array_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test
  tket2-hseries/src/llvm/array_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Clippy
  tket2-hseries/src/llvm/array_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Continue adding op dests and tests
  tket2-hseries/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/serialize/pytket/config/type_translators.rs
  tket2/src/serialize/pytket/config/type_translators.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

s/TypeTranslator/PytketTypeTranslator
  tket2/src/serialize/pytket/config/encoder_config.rs
  tket2/src/serialize/pytket/config/type_translators.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

type translator tests
  tket2/src/serialize/pytket/config/type_translators.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix config visibility
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/config.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Split the pytket extension encoder trait (#970)
  Cargo.lock
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/config.rs
  tket2/src/serialize/pytket/config/encoder_config.rs
  tket2/src/serialize/pytket/config/type_translators.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

All ops except scan producing valid hugr
  tket2-hseries/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix scan
  tket2-hseries/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Turn on pass
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Only run tket2-py release checks on release PR
  .github/workflows/release-checks.yml
Due: none

ci: Only run tket2-py release checks on release PR (#976)
  .github/workflows/release-checks.yml
Due: none

chore(py): release tket2-py 0.12.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.10.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

notes about implementation plan
  tket2/notes/README.md
  tket2/notes/implemenration_plan.md
Due: none

refactor!: Create backtracking optimiser, refactor badger to use it
  tket2/src/optimiser.rs
  tket2/src/optimiser/backtracking.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/hugr_pqueue.rs
  tket2/src/optimiser/badger/worker.rs
  tket2/src/optimiser/pqueue.rs
  tket2/src/optimiser/pqueue_worker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hike hugr dep to main
  Cargo.lock
  Cargo.toml
Due: none

temporarily disable test
  tket2/src/portmatching/matcher.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "temporarily disable test"
  tket2/src/portmatching/matcher.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

[WIP] midifier and CFG with them
  tket2/src/rich_circuit.rs
  tket2/src/rich_circuit/control.rs
  tket2/src/rich_circuit/dagger.rs
  tket2/src/rich_circuit/flatten_modifier.rs
  tket2/src/rich_circuit/modifier.rs
  tket2/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Uncomment
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test, add copy_discard_array handler
  tket2-hseries/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add LowerDropsPass
  tket2-hseries/src/lib.rs
  tket2-hseries/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
