Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

chore(py): release tket2-exts 0.5.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add tket2-hseries order_in_zones extension
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: fix formatting
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: move OrderInZones array size to constant
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: make OrderInZones description more descriptive
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: rerun just gen-extensions
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
Due: none

chore(py): release tket2-exts 0.5.0 (#790)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(tket2-hseries)!: Add order_in_zones extension op (#792)
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(tket2-py): bump tket2_exts constraint
  tket2-py/pyproject.toml
Due: none

chore: Force non-breaking python release
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.5.1
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update uv.lock
  uv.lock
Due: none

chore(py): release tket2-exts 0.5.1 (#793)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

feat(tket2-py)!: bump tket2_exts constraint (#794)
  tket2-py/pyproject.toml
Due: none

chore(py): release tket2-py 0.7.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.7.0 (#796)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(tket2-hseries): release v0.10.0
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
Due: none

chore(tket2-hseries): release v0.10.0 (#791)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
Due: none

feat(tket2-hseries): add RPC op to "tket2.qsystem.utils" extension
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add methods to en/decode from bytes
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add methods to en/decode from bytes (#807)
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Improve the error handling
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Improve the error handling (#809)
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: Make UtilsOp enum non_exhaustive so that future additions are not considered API-breaking.
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: satisfy clippy with `just fix`
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

lock with devenv 1.4.1
  devenv.lock
Due: none

devenv update
  devenv.lock
Due: none

chore: clippy fixes
  tket2-hseries/src/extension/wasm.rs
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(tket2-hseries)!: rm unneeded ext, make `UtilsOp` enum `non_exhaustive` (#797)
  tket2-exts/src/tket2_exts/data/tket2/qsystem/utils.json
  tket2-hseries/src/extension/utils.rs
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: clippy fixes + devenv update (#810)
  devenv.lock
  tket2-hseries/src/extension/wasm.rs
  tket2-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(tket-hseries): lower tk2 ops using function calls
  test_files/ordered_qalloc.json
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove unnecessary struct
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review comments
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

mild name mangling
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use insert_ports
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove unnecessary rewring
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(tket-hseries): lower tk2 ops using function calls (#812)
  test_files/ordered_qalloc.json
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make Node an associated type
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/src/pattern.rs
  tket2/src/circuit.rs
  tket2/src/circuit/command.rs
  tket2/src/circuit/hash.rs
  tket2/src/circuit/units.rs
  tket2/src/circuit/units/filter.rs
  tket2/src/optimiser/badger.rs
  tket2/src/passes/commutation.rs
  tket2/src/passes/pytket.rs
  tket2/src/passes/tuple_unpack.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/serialize.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: bump to hugr main and cargo update
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
