Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

fix: Pytket barrier operations not being decoded (#1069)
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-exts 0.11.0
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix lints for now-Copy optypes
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

dummy change to trigger a python release
  tket-py/test/test_circuit.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.4
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv sync
  uv.lock
Due: none

chore(py): release tket-py 0.12.4 (#1070)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Temporarily disable running tket1-passes tests in parallel
  tket1-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Temporarily disable running tket1-passes tests in parallel (#1071)
  tket1-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

fixes to resource flow
  tket/src/resource/flow.rs
  tket/src/resource/scope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Borrow analysis pass: find intervals
  Cargo.lock
  Cargo.toml
  test_files/squashing_inline.hugr
  tket/src/passes.rs
  tket/src/passes/squash_borrow.rs
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  tket/src/resource.rs
  tket/src/resource/flow.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename OpValue -> CircuitUnit, remove CopyableValueID
  Cargo.lock
  Cargo.toml
  tket/Cargo.toml
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix snapshots
  tket/src/snapshots/tket__resource__tests__2_qubits.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_rz.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_rz_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_rz_add_const_rz.snap
Due: none

Borrow analysis pass: find intervals
  Cargo.lock
  Cargo.toml
  test_files/squashing_inline.hugr
  tket/src/passes.rs
  tket/src/passes/squash_borrow.rs
  tket/src/passes/squash_borrow/analysis.rs
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Capture pytket's output permutation explicitly in the hugr structure
  tket/src/extension.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc fixes
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Capture pytket's output permutation explicitly in the hugr connectivity (#1075)
  tket/src/extension.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Dummy change to trigger python release
  tket/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Dummy change to trigger python release (#1076)
  tket/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Dummy change to trigger python release
  tket-py/test/test_optimiser.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Dummy change to trigger python release (#1077)
  tket-py/test/test_optimiser.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.5
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.5 (#1078)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

supported multi control
  tket/src/rich_circuit.rs
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/global_phase_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

deleted notes
  tket2/notes/README.md
  tket2/notes/implemenration_plan.md
Due: none

Add python tests of gpu extension
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/gpu.py
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

expose CircuitUnit publicly
  Cargo.lock
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rewriter is parametrised on C
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add ResourceScope::is_convex
  tket/src/resource.rs
  tket/src/resource/convex_checker.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use new SiblingSubgraph::new_unchecked
  Cargo.lock
  Cargo.toml
  tket/src/resource/convex_checker.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Replace CircuitRewrite
  Cargo.lock
  Cargo.toml
  tket-py/src/circuit/tk2circuit.rs
  tket-py/src/pattern.rs
  tket-py/src/rewrite.rs
  tket/src/circuit.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/hugr_pchannel.rs
  tket/src/optimiser/badger/hugr_pqueue.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/chunks.rs
  tket/src/passes/pytket.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CircuitMatcher
  tket/examples/circuit-matcher.rs
  tket/src/resource.rs
  tket/src/resource/interval.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/adapter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add CircuitReplacer
  tket-py/src/rewrite.rs
  tket/examples/badger-hadamard-opt.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/replacer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(qystem): fix angle bug in CZ decomposition
  tket-qsystem/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
