Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

fix: constant sum type
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove comment
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

`Tk2Circuit::to_str` should return a string
  tket2-py/src/circuit/tk2circuit.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-py to have entrypoints
  pyproject.toml
  tket2-exts/pyproject.toml
  tket2-py/tket2/circuit/build.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ignore new lints in hugr 1.87
  Cargo.toml
Due: none

use hugr-py 0.12
  pyproject.toml
  tket2-exts/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

Pin nightly rust in CI to prevent segfautls
  .github/workflows/ci.yml
Due: none

chore(py): release tket2-exts 0.7.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.4.0
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.9.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

remove dbg
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Do not use SimpleReplacement in lazify
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docs
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add outgoing order edges
  test_files/2_layers_4_qubits.hugr
  test_files/alloc_measure.hugr
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add unit test
  test_files/2_layers_4_qubits.hugr
  test_files/alloc_measure.hugr
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: Do not use SimpleReplacement in lazify (#873)
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore: release (#869)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore(py): release tket2-exts 0.7.0 (#826)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fixups
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-eccs 0.4.0 (#728)
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.9.0 (#861)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: update uv lock
  uv.lock
Due: none

fix: tket2 deps
  tket2-py/pyproject.toml
Due: none

chore(py): update exts and eccs dependencies (#875)
  tket2-py/pyproject.toml
  uv.lock
Due: none

ci: Test `tket2-py` release PRs using released `-exts` and `-eccs`
  .github/workflows/release-checks.yml
Due: none

tmp: add override to test CI on PR
  .github/workflows/release-checks.yml
Due: none

no more frozen
  .github/workflows/release-checks.yml
Due: none

Use black_box from standard library.
  tket2/benches/benchmarks/hash.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

install exts
  .github/workflows/release-checks.yml
Due: none

remove testing override
  .github/workflows/release-checks.yml
Due: none

ci: Test `tket2-py` release PRs using released `-exts` and `-eccs` (#877)
  .github/workflows/release-checks.yml
Due: none

refactor: Use black_box from standard library. (#878)
  tket2/benches/benchmarks/hash.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.9.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Change pass order
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

uv lock
  uv.lock
Due: none

chore(py): release tket2-py 0.9.1 (#880)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

feat(tket2-hseries)!: insert RuntimeBarrier across qubits in a Barrier (#866)
  pyproject.toml
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/Cargo.toml
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/barrier.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_inserter.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/barrier/qtype_analyzer.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't specify version for local tket2-hseries package
  tket2-py/Cargo.toml
Due: none
