Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

fixup readmes
  tket2-eccs/README.md
  tket2-exts/README.md
Due: none

feat: move extensions to auxillary package (#682)
  .envrc
  .github/change-filters.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  .gitignore
  justfile
  pyproject.toml
  release-please-config.json
  tket2-exts/.gitignore
  tket2-exts/CHANGELOG.md
  tket2-exts/LICENCE
  tket2-exts/README.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/futures.json
  tket2-exts/src/tket2_exts/data/tket2/hseries.json
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-exts/src/tket2_exts/data/tket2/rotation.json
  tket2-exts/src/tket2_exts/py.typed
  tket2-py/pyproject.toml
  tket2-py/tket2/extensions/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

refactor: setup pypi trusted publishing
  .github/workflows/python-pure-wheels.yml
  tket2-exts/README.md
Due: none

refactor: setup pypi trusted publishing (#684)
  .github/workflows/python-pure-wheels.yml
  tket2-exts/README.md
Due: none

feat: add exts to release manifest
  .release-please-manifest.json
Due: none

fix filter
  .github/workflows/python-pure-wheels.yml
Due: none

feat: add exts to release manifest (#685)
  .github/workflows/python-pure-wheels.yml
  .release-please-manifest.json
Due: none

fix: docstring capitalisation
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

docs: docstring capitalisation (#686)
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.1.1
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
Due: none

chore(py): release tket2-exts 0.1.1 (#683)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
Due: none

ci: Fix ci error on pure-wheels run for unchanged packages
  .github/workflows/python-pure-wheels.yml
Due: none

ci: Fix ci error on pure-wheels run for unchanged packages (#687)
  .github/workflows/python-pure-wheels.yml
Due: none

Fix review comments
  tket2-py/tket2/circuit/build.py
  tket2/src/serialize.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Use released hugr
  Cargo.lock
  Cargo.toml
Due: none

Some extra coverage
  tket2/src/circuit.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Fix py coverage not getting uploaded
  .github/workflows/ci.yml
Due: none

Also report upload errors for rust
  .github/workflows/ci.yml
Due: none

Do the upload directly after testing?
  .github/workflows/ci.yml
Due: none

ignore py tests directory for coverage
  codecov.yml
Due: none

ci: Fix py coverage not getting uploaded (#689)
  .github/workflows/ci.yml
  codecov.yml
Due: none

feat!: Track circuit extensions and read/write packages (#680)
  Cargo.lock
  Cargo.toml
  tket2-py/examples/utils/__init__.py
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/tket2/_tket2/circuit.pyi
  tket2-py/tket2/circuit/build.py
  tket2/src/circuit.rs
  tket2/src/passes/pytket.rs
  tket2/src/serialize.rs
  tket2/src/serialize/guppy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-py 0.5.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix changelog
  tket2-py/CHANGELOG.md
Due: none

Update tket2-py/CHANGELOG.md
  tket2-py/CHANGELOG.md
Due: none

chore(py): release tket2-py 0.5.0 (#658)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: run semver-checks on a `pull_request_target` trigger
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
Due: none

ci: run semver-checks on a `pull_request_target` trigger (#694)
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
Due: none

fix: hugr breaking Arc changes to Extensions
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/result.rs
  tket2/src/circuit.rs
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

uv bump for release
  uv.lock
Due: none

pin to hugr main
  Cargo.lock
  Cargo.toml
Due: none

portmatching change fix
  tket2/src/portmatching/pattern.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run ci checks on all prs
  .github/workflows/ci.yml
Due: none

fix: breaking changes from extension weak references
  Cargo.lock
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/extension/result.rs
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/extension/sympy.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix new lints in Rust 1.83
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/result.rs
  tket2-py/examples/utils/__init__.py
  tket2/src/circuit/command.rs
  tket2/src/optimiser/badger/log.rs
  tket2/tests/badger_termination.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

add rotation lowering as optional feature
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/extension/rotation.rs
  tket2/src/extension/rotation/llvm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove rotation lowering code
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/extension/rotation.rs
  tket2/src/extension/rotation/llvm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

export test feature also
  Cargo.lock
  tket2/Cargo.toml
Due: none

chore: Fix new lints in Rust 1.83 (#706)
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/result.rs
  tket2-py/examples/utils/__init__.py
  tket2/src/circuit/command.rs
  tket2/src/optimiser/badger/log.rs
  tket2/tests/badger_termination.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test
