Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Avoid breakage by avoiding new NormalizeGuppyError variant
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

works
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/globals.py
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__globals__test__emit_debug_codegen@llvm14.snap.new
Due: ruff-format, ruff-check, mypy-check, py-test

docs: Add LLVM to requirements in DEVELOPMENT (#1258)
  DEVELOPMENT.md
Due: none

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  qis-compiler/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
  tket1-passes/Cargo.toml
Due: none

Add constrained builds for tket-c-api
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
  tket1-passes/scripts/build.sh
  tket1-passes/scripts/build/linux.sh
  tket1-passes/scripts/build/macos.sh
  tket1-passes/scripts/build/windows.ps1
Due: none

Update tket-c-api inputs for other jobs
  .github/workflows/build_docs.yml
  .github/workflows/ci.yml
  .github/workflows/release-checks.yml
  .github/workflows/semver-checks.yml
Due: none

Remove partial line in python-wheels.yml, fix absolute paths in build.sh
  .github/workflows/python-wheels.yml
  tket1-passes/scripts/build.sh
Due: none

Remove partial step in python-wheels.yml
  .github/workflows/python-wheels.yml
Due: none

really works
  qis-compiler/rust/lib.rs
  tket-py/src/passes.rs
  tket-qsystem/src/llvm.rs
  tket-qsystem/src/llvm/globals.rs
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__globals__test__emit_debug_codegen@llvm14.snap
  tket/src/extension/globals.rs
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

brew install jq (non-cask)
  tket1-passes/scripts/build/macos.sh
Due: none

Other fixes
  .github/workflows/python-wheels.yml
  tket1-passes/scripts/build.sh
  tket1-passes/scripts/build/macos.sh
Due: none

Further fixes
  .github/workflows/python-wheels.yml
Due: none

Use single quotes for action if expression
  .github/workflows/python-wheels.yml
Due: none

Win and macos build fixes
  tket1-passes/scripts/build/macos.sh
  tket1-passes/scripts/build/windows.ps1
Due: none

Try maturin-action instead
  .github/workflows/python-wheels.yml
Due: none

Linux maturin-action bootstrap
  .github/workflows/python-wheels.yml
Due: none

More useful caching of tket-c-api
  .github/actions/tket-c-api/action.yml
Due: none

Pass env vars to maturin-action container
  .github/workflows/python-wheels.yml
Due: none

Update python-wheels.yml
  .github/workflows/python-wheels.yml
Due: none

Ok, install-llvm-action's env=true made things worse. Undoing that.
  .github/workflows/python-wheels.yml
Due: none

Try setting LD_LIBRARY_PATH explicitly
  .github/workflows/python-wheels.yml
Due: none

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rewriter is parametrised on C
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
  tket/src/subcircuit/expression.rs
  tket/src/subcircuit/interval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test (coverage)
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review comments
  .github/workflows/semver-checks.yml
  tket1-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Allow running arbitrary serializable pytket passes on hugrs (#1266)
  .github/workflows/semver-checks.yml
  tket-py/src/passes.rs
  tket-py/src/passes/tket1.rs
  tket-py/tket/_tket/passes.pyi
  tket-py/tket/passes.py
  tket-qsystem/tests/guppy_opt.rs
  tket1-passes/conanfile.txt
  tket1-passes/src/lib.rs
  tket1-passes/tests/tket1-on-hugr.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: BorrowSquashPass to elide redundant borrow/return ops (#1159)
  test_files/guppy_optimization/nested_array/nested_array.hugr
  test_files/guppy_optimization/nested_array/nested_array.opt.hugr
  test_files/guppy_optimization/nested_array/nested_array.opt.py
  test_files/guppy_optimization/nested_array/nested_array.py
  test_files/guppy_optimization/ranges/ranges.flat.array.hugr
  test_files/guppy_optimization/ranges/ranges.flat.array.py
  tket-qsystem/tests/guppy_opt.rs
  tket/src/passes.rs
  tket/src/passes/borrow_squash.rs
  tket/src/passes/guppy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

use hugr v0.14.3
  tket-py/pyproject.toml
  uv.lock
Due: none

get CliffordSimplification working
  tket-py/test/test_pass.py
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

thread local
  tket-qsystem/src/llvm/globals.rs
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__globals__test__emit_debug_codegen@llvm14.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__globals__test__emit_debug_codegen@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

include extensions
  tket/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update tests
  tket-py/test/test_pass.py
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

fixup inplace flags
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

rm print
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

mypy fix
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

import fix
  tket-py/tket/passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

rm comment
  tket-py/test/test_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
