Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

Added revisions to hugr deps.
  Cargo.lock
  Cargo.toml
Due: none

fix: Use `TypeArg::List` instead of `TypeArg::Tuple` (#944)
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revertme (activate local ci script)
  .github/workflows/semver-checks.yml
Due: none

chore: release (#926)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

wip
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

enable futures emitter to handle future ints
  justfile
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_10.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update tket2-hseries snapshots
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_10.snap
Due: none

add leaked unit test
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix formatting
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/llvm/futures.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove debug prints
  tket2-hseries/src/llvm/futures.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update ci
  .github/actions/tket1-passes/action.yml
  .github/workflows/semver-checks.yml
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/rust/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revertme
  .github/workflows/semver-checks.yml
Due: none

Update tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/CMakeLists.txt
Due: none

address comments
  .github/change-filters.yml
  .github/workflows/semver-checks.yml
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/build.sh
  tket1-passes/cpp/src/tket1-passes.cpp
  tket1-passes/cpp/src/tket1-passes.h
  tket1-passes/rust/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix llvm::futures::test::emit_futures_codegen tests
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_10.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix formatting
  tket2-hseries/src/llvm/futures.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix linting and snapshots
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_10.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix snapshots
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_10.snap
Due: none

update snaps
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_10.snap
Due: none

finally working CI
  .github/actions/tket1-passes/action.yml
  .github/workflows/semver-checks.yml
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/build.sh
  tket1-passes/cpp/src/tket1-passes.cpp
  tket1-passes/rust/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Mention TKET_LIB_PATH in readme
  tket1-passes/README.md
Due: none

update path to hugrverse action
  .github/workflows/semver-checks.yml
Due: none

feat: Add tket1-passes subcrate (#939)
  .github/actions/tket1-passes/action.yml
  .github/change-filters.yml
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
  Cargo.lock
  Cargo.toml
  test_files/2cx.json
  tket1-passes/.gitignore
  tket1-passes/README.md
  tket1-passes/cpp/.gitignore
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/build.sh
  tket1-passes/cpp/conanfile.py
  tket1-passes/cpp/src/tket1-passes.cpp
  tket1-passes/cpp/src/tket1-passes.h
  tket1-passes/rust/Cargo.toml
  tket1-passes/rust/README.md
  tket1-passes/rust/build.rs
  tket1-passes/rust/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

update hugr to new main
  Cargo.lock
  Cargo.toml
Due: none

Copy over bool lowering (+ add emission test)
  tket2/src/llvm.rs
  tket2/src/llvm/bool.rs
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_1.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_2.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_3.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_4.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_5.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_6.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_7.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_1.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_2.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_3.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_4.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_5.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_6.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_7.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add qsystem op for measure leaked (#924)
  justfile
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/qsystem.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_4.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_10.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.9.2
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.11.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(tket2-hseries): release v0.16.1
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
Due: none

feat(badgerv2): Add RewriteStateSpace
  Cargo.lock
  Cargo.toml
  test_files/6cz.hugr
  test_files/perhugr1.json
  tket2/Cargo.toml
  tket2/src/lib.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/commute_cz.rs
  tket2/src/rewrite_space/max_sat.rs
  tket2/src/serialize.rs
  tket2/tests/rewrite_space_explorer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(badgerv2): Add Hit CLI
  Cargo.lock
  Cargo.toml
  hit/Cargo.toml
  hit/README.md
  hit/src/commands.rs
  hit/src/commands/checkout.rs
  hit/src/commands/children.rs
  hit/src/commands/extract_best.rs
  hit/src/commands/load.rs
  hit/src/commands/log.rs
  hit/src/commands/parents.rs
  hit/src/commands/run.rs
  hit/src/commands/show.rs
  hit/src/config.rs
  hit/src/constants.rs
  hit/src/display.rs
  hit/src/factory.rs
  hit/src/main.rs
  hit/src/storage.rs
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/commute_cz.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(badgerv2): Clifford factory
  Cargo.lock
  hit/Cargo.toml
  hit/src/commands/run.rs
  hit/src/factory.rs
  tket2/Cargo.toml
  tket2/src/ops.rs
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/clifford.rs
  tket2/src/rewrite_space/factory/commute_cz.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

proper conan package
  Cargo.lock
  Cargo.toml
  tket1-passes/Cargo.toml
  tket1-passes/README.md
  tket1-passes/build.rs
  tket1-passes/conanfile.txt
  tket1-passes/cpp/.gitignore
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/build.sh
  tket1-passes/cpp/conanfile.py
  tket1-passes/rust/README.md
  tket1-passes/rust/build.rs
  tket1-passes/src/lib.rs
  tket1-passes/tket-c-api/.gitignore
  tket1-passes/tket-c-api/CMakeLists.txt
  tket1-passes/tket-c-api/conanfile.py
  tket1-passes/tket-c-api/include/tket-c-api.h
  tket1-passes/tket-c-api/src/tket-c-api.cpp
  tket1-passes/tket-c-api/test_package/CMakeLists.txt
  tket1-passes/tket-c-api/test_package/conanfile.py
  tket1-passes/tket-c-api/test_package/src/example.cpp
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Draft KAK commit factory
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/kak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update ci
  .github/actions/tket-c-api/action.yml
  .github/actions/tket1-passes/action.yml
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
  pyproject.toml
  tket1-passes/README.md
  tket1-passes/build.rs
  tket1-passes/tket-c-api/conanfile.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Add llvm codegen for `tket2.bool` (#950)
  tket2/src/llvm.rs
  tket2/src/llvm/bool.rs
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_1.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_2.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_3.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_4.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_5.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_6.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@llvm14_7.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_1.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_2.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_3.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_4.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_5.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_6.snap
  tket2/src/llvm/snapshots/tket2__llvm__bool__test__emit_all_ops@pre-mem2reg@llvm14_7.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "revertme"
  .github/workflows/semver-checks.yml
Due: none

add conan to uv build deps
  pyproject.toml
  tket1-passes/.gitignore
  tket1-passes/conanfile.txt
  tket1-passes/tket-c-api/.gitignore
  uv.lock
Due: none

Formatting
  tket2/src/rewrite_space/factory/kak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
