Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

fix: quote fn signatures in doc comments
  tket2-hseries/src/extension/random.rs
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: feedback from Alec
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
  tket2-hseries/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: remove "pseudo", context can be created only once
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: make descriptions more uniform
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add "tket2.qsystem.random" extension (#779)
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension.rs
  tket2-hseries/src/extension/random.rs
  tket2-hseries/src/extension/utils.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-exts 0.4.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.3.0
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
Due: none

correct changelog
  tket2-exts/CHANGELOG.md
Due: none

fix .release-please-manifest.json
  .release-please-manifest.json
Due: none

chore(py): release tket2-exts 0.4.0 (#727)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: include RNG extension in tket2-py, bump tket2-exts constraint
  tket2-py/pyproject.toml
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: include RNG extension in tket2-py, bump tket2-exts constraint (#781)
  tket2-py/pyproject.toml
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.6.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.6.1 (#776)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Continuous benchmarking with codspeed.io
  .github/workflows/ci.yml
Due: none

Fix criterion override cmd
  .github/workflows/ci.yml
  Cargo.toml
  tket2/Cargo.toml
Due: none

re-add --all-features
  .github/workflows/ci.yml
Due: none

No --all-features flag -.-'
  .github/workflows/ci.yml
Due: none

ci: Continuous benchmarking with codspeed.io (#783)
  .github/workflows/ci.yml
  Cargo.toml
  tket2/Cargo.toml
Due: none

chore(tket2-hseries): release v0.9.1
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

chore: update to hugr 0.14.4
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/result.rs
  tket2/Cargo.toml
  tket2/src/ops.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

pin to 0.14.4
  Cargo.lock
  Cargo.toml
Due: none

bump tket-json-rs
  Cargo.lock
  Cargo.toml
Due: none

chore: remove unused dependencies
  Cargo.lock
  Cargo.toml
  badger-optimiser/Cargo.toml
  compile-rewriter/Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

chore: devenv update
  devenv.lock
  devenv.yaml
Due: none

chore: update to hugr 0.14.4 (#785)
  Cargo.lock
  Cargo.toml
  badger-optimiser/Cargo.toml
  compile-rewriter/Cargo.toml
  devenv.lock
  devenv.yaml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/result.rs
  tket2-py/Cargo.toml
  tket2/Cargo.toml
  tket2/src/ops.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

chore: release (#775)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

Organize `encoder.rs` code into submodules
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/bit_tracker.rs
  tket2/src/serialize/pytket/encoder/param_tracker.rs
  tket2/src/serialize/pytket/encoder/qubit_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make Node an associated type
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/src/pattern.rs
  tket2/src/circuit.rs
  tket2/src/circuit/command.rs
  tket2/src/circuit/hash.rs
  tket2/src/circuit/units.rs
  tket2/src/circuit/units/filter.rs
  tket2/src/optimiser/badger.rs
  tket2/src/passes/commutation.rs
  tket2/src/passes/pytket.rs
  tket2/src/passes/tuple_unpack.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/portmatching/pattern/partial.rs
  tket2/src/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/serialize.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Extract unsupported ops into barriers
  Cargo.lock
  Cargo.toml
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to pytket 2.
  tket2-py/pyproject.toml
  uv.lock
Due: none

chore: Update to pytket 2 (#787)
  tket2-py/pyproject.toml
  uv.lock
Due: none

fix: remove type argument from RNGContext type
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: use 64-bit int in the whole random API
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: swap the return value order of each function
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add Node as AT
  tket2/src/circuit/hash.rs
  tket2/src/diff.rs
  tket2/src/diff/experimental.rs
  tket2/src/diff/history.rs
  tket2/src/diff/replacement.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/examples/persistent_circ.rs
  tket2/examples/persistent_circ_mpi.rs
  tket2/src/diff.rs
  tket2/src/diff/history.rs
  tket2/src/diff/persistent.rs
  tket2/src/diff/replacement.rs
  tket2/src/diff/sync.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "fix!: use 64-bit int in the whole random API"
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: remove type argument from `RNGContext` type, swap returns (#786)
  tket2-exts/src/tket2_exts/data/tket2/qsystem/random.json
  tket2-hseries/src/extension/random.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
