Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

more tests, and fixes
  tket/src/serialize/pytket/decoder/subgraph.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Post-rebase fix
  tket1-passes/Cargo.toml
Due: none

Multithreaded opt in integration test
  Cargo.lock
  tket1-passes/Cargo.toml
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Some attribute tests
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

pull out hugr generation from tests
  qis-compiler/python/tests/justfile
  qis-compiler/python/tests/test_basic_generation.py
Due: ruff-format, ruff-check, mypy-check, py-test

pull out generation into individual scripts
  qis-compiler/python/tests/resources/check.hugr
  qis-compiler/python/tests/resources/check.py
  qis-compiler/python/tests/resources/discard_array.hugr
  qis-compiler/python/tests/resources/discard_array.py
  qis-compiler/python/tests/resources/entry_args.hugr
  qis-compiler/python/tests/resources/entry_args.py
  qis-compiler/python/tests/resources/flip_some.hugr
  qis-compiler/python/tests/resources/flip_some.py
  qis-compiler/python/tests/resources/get_current_shot.hugr
  qis-compiler/python/tests/resources/get_current_shot.py
  qis-compiler/python/tests/resources/measure_array.hugr
  qis-compiler/python/tests/resources/measure_array.py
  qis-compiler/python/tests/resources/no_results.hugr
  qis-compiler/python/tests/resources/no_results.py
  qis-compiler/python/tests/resources/postselect_exit.hugr
  qis-compiler/python/tests/resources/postselect_exit.py
  qis-compiler/python/tests/resources/postselect_panic.hugr
  qis-compiler/python/tests/resources/postselect_panic.py
  qis-compiler/python/tests/resources/print_array.hugr
  qis-compiler/python/tests/resources/print_array.py
  qis-compiler/python/tests/resources/rng.hugr
  qis-compiler/python/tests/resources/rng.py
  qis-compiler/python/tests/resources/rus.hugr
  qis-compiler/python/tests/resources/rus.py
  qis-compiler/python/tests/resources/unsupported_pytket_ops.hugr
  qis-compiler/python/tests/resources/unsupported_pytket_ops.py
  qis-compiler/python/tests/test_basic_generation.py
Due: ruff-format, ruff-check, mypy-check, py-test

remove guppylang dev dependency
  qis-compiler/pyproject.toml
  uv.lock
Due: none

chore: Test python 3.14 and bump UV version
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  .github/workflows/python-qis-wheels.yml
  .github/workflows/release-checks.yml
  tket-py/pyproject.toml
Due: none

Update version of tket-c-api.
  tket1-passes/conanfile.txt
Due: none

chore: Test python 3.14 and bump UV version (#1215)
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  .github/workflows/python-qis-wheels.yml
  .github/workflows/release-checks.yml
  tket-py/pyproject.toml
Due: none

Update uv.lock
  .github/workflows/build_docs.yml
  uv.lock
Due: none

chore: Include tket1-passes into tket-py wheels
  .github/workflows/python-wheels.yml
  Cargo.lock
  pyproject.toml
  tket-py/Cargo.toml
  tket1-passes/Cargo.toml
  tket1-passes/build.rs
  tket1-passes/conan-profiles/README.md
  tket1-passes/conan-profiles/macos-15-intel
  tket1-passes/conan-profiles/macos-26
  tket1-passes/conanfile.txt
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix mismatched PYTHON_HIGHEST / LOWEST
  .github/workflows/ci.yml
Due: none

Use gcc13 conanfile on linux
  tket1-passes/build.rs
  tket1-passes/conan-profiles/macos-15
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use cache to install tket-c-api
  .github/workflows/ci.yml
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Check that conan is installed
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use cached tket1 api on docs and wheels build too
  .github/workflows/build_docs.yml
  .github/workflows/ci.yml
  .github/workflows/python-wheels.yml
  .github/workflows/semver-checks.yml
Due: none

Don't containerise maturin-actions on wheel builds
  .github/workflows/python-wheels.yml
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Manually call maturin build in wheel-build CI
  .github/workflows/python-wheels.yml
Due: none

Missing `if` for musllinux in wheels build
  .github/workflows/python-wheels.yml
Due: none

Manylinux build must use zig if not in a container
  .github/workflows/python-wheels.yml
Due: none

Include LLVM too
  .github/workflows/python-wheels.yml
Due: none

dist builds require LLVM too :shrug:
  .github/workflows/python-wheels.yml
Due: none

fix fix fix
  .github/workflows/python-wheels.yml
Due: none

Simplify CI
  .github/workflows/python-wheels.yml
Due: none

Make tket-c-api action work on windows
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
Due: none

feat: `NormalizeGuppy` pass to simplify generated structure
  tket-qsystem/tests/guppy_opt.rs
  tket/src/passes.rs
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more windows fixes
  .github/workflows/python-wheels.yml
Due: none

change working dir
  .github/workflows/python-wheels.yml
Due: none

rustup target
  .github/workflows/python-wheels.yml
  tket-py/Cargo.toml
Due: none

update targets
  .github/workflows/python-wheels.yml
Due: none

Drop s390, downgrade python
  .github/workflows/python-wheels.yml
Due: none

Test noop
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

A couple more target fixes
  .github/workflows/python-wheels.yml
Due: none

More windows shenanigans
  .github/workflows/python-wheels.yml
Due: none

target-specific paths, and no free threaded wheels :/
  .github/workflows/python-wheels.yml
Due: none

fix path
  .github/workflows/python-wheels.yml
Due: none

old-man-yells-at-windows
  .github/workflows/python-wheels.yml
Due: none

add some test case for 1q squashing
  test_files/guppy_optimization/1q_squash/qsystem_chain.opt.py
  test_files/guppy_optimization/1q_squash/qsystem_chain.py
  test_files/guppy_optimization/1q_squash/rz_chain.opt.py
  test_files/guppy_optimization/1q_squash/rz_chain.py
Due: ruff-format, ruff-check, mypy-check, py-test
