Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

fix exclude
  tket-py/docs/conf.py
Due: ruff-format, ruff-check, mypy-check, py-test

rm maturin dependency
  tket-py/pyproject.toml
  uv.lock
Due: none

address comments
  tket/src/resource.rs
  tket/src/resource/flow.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix README links
  README.md
  tket-py/README.md
Due: none

fix weird rust-analyzer only issue
  tket-py/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix new mypy lints
  pyproject.toml
  tket-py/tket/_tket/ops.pyi
  uv.lock
Due: none

fix heading
  tket-py/docs/examples/1-Getting-Started.ipynb
Due: none

chore: Fix new mypy lints (#1088)
  pyproject.toml
  tket-py/tket/_tket/ops.pyi
  uv.lock
Due: none

regenerate lock
  uv.lock
Due: none

fix headings
  tket-py/docs/examples/1-Getting-Started.ipynb
Due: none

supported dagger for each OpType
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

moved source codes around
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace unpacks with scans
  tket-qsystem/src/lib.rs
  tket-qsystem/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fixes
  tket-qsystem/src/replace_bools.rs
  tket-qsystem/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Factor out structs for concrete types and ops
  tket-qsystem/src/extension.rs
  tket-qsystem/src/extension/compute.rs
  tket-qsystem/src/extension/compute/common.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Factor out type names
  tket-qsystem/src/extension/compute/common.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

move add_compute_type_defs
  tket-qsystem/src/extension/compute/common.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move ComputeType impls
  tket-qsystem/src/extension/compute/common.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Support empty scope
  tket/src/circuit.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  tket/src/resource.rs
  tket/src/resource/flow.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move things from compute/common -> compute; add macro for opdef impl
  tket-qsystem/src/extension/compute.rs
  tket-qsystem/src/extension/compute/common.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Factor out builder code
  tket-qsystem/src/extension/compute.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add ResourceScope (#1052)
  Cargo.lock
  Cargo.toml
  tket/Cargo.toml
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/flow.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/snapshots/tket__resource__tests__2_qubits.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_rz.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_rz_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_rz_add_const_rz.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update descriptions; bump patch versions
  tket-exts/src/tket_exts/data/tket/wasm.json
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Pub use types in wasm.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cargo fmt
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Bring WasmOpDef back (instead of defining ComputeOpDef)
  tket-qsystem/src/extension/compute.rs
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Minor fixes
  tket-qsystem/src/lower_drops.rs
  tket-qsystem/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add a `borrow_array` type replacement pass (#975)
  tket-qsystem/src/lib.rs
  tket-qsystem/src/lower_drops.rs
  tket-qsystem/src/replace_bools.rs
  tket-qsystem/src/replace_borrow_arrays.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-exts 0.11.0
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

Update doc comment
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Drop references to wasm
  tket-qsystem/src/extension/compute.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Bump serialised extension patch version
  tket-exts/src/tket_exts/data/tket/wasm.json
Due: none

Add gpu module
  tket-qsystem/src/extension/compute.rs
  tket-qsystem/src/extension/compute/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Expose gpu extension
  tket-qsystem/src/bin/tket-qsystem.rs
  tket-qsystem/src/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add tket-exts code
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/data/tket/gpu.json
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/gpu.py
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

Expose compute module
  tket-qsystem/src/extension.rs
  tket-qsystem/src/extension/compute.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cargo fmt
  tket-qsystem/src/extension/compute.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: build.rs panic in the absence of conan remotes
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
