Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Dump LINKERMEMBER too, use windows2025
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
Due: none

chore: Update qis-compiler snapshots (#1231)
  .github/workflows/ci.yml
  justfile
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/aarch64-apple-darwin/measure_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-apple-darwin/measure_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-unknown-linux-gnu/measure_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-windows-msvc/measure_array_x86_64-windows-msvc
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/aarch64-apple-darwin/print_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-apple-darwin/print_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-unknown-linux-gnu/print_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-windows-msvc/print_array_x86_64-windows-msvc
Due: none

Check the dll symbols too
  .github/workflows/python-wheels.yml
Due: none

Use the windows2025 conan profile
  .github/actions/tket-c-api/action.yml
Due: none

chore: add xz to devenv on macos
  devenv.lock
  devenv.nix
Due: none

chore: add xz to devenv on macos (#1233)
  devenv.lock
  devenv.nix
Due: none

Try using WINDOWS_EXPORT_ALL_SYMBOLS
  .github/actions/tket-c-api/action.yml
Due: none

pull out generation into individual scripts
  qis-compiler/python/tests/resources/check.hugr
  qis-compiler/python/tests/resources/check.py
  qis-compiler/python/tests/resources/discard_array.hugr
  qis-compiler/python/tests/resources/discard_array.py
  qis-compiler/python/tests/resources/entry_args.hugr
  qis-compiler/python/tests/resources/entry_args.py
  qis-compiler/python/tests/resources/flip_some.hugr
  qis-compiler/python/tests/resources/flip_some.py
  qis-compiler/python/tests/resources/get_current_shot.hugr
  qis-compiler/python/tests/resources/get_current_shot.py
  qis-compiler/python/tests/resources/measure_array.hugr
  qis-compiler/python/tests/resources/measure_array.py
  qis-compiler/python/tests/resources/no_results.hugr
  qis-compiler/python/tests/resources/no_results.py
  qis-compiler/python/tests/resources/postselect_exit.hugr
  qis-compiler/python/tests/resources/postselect_exit.py
  qis-compiler/python/tests/resources/postselect_panic.hugr
  qis-compiler/python/tests/resources/postselect_panic.py
  qis-compiler/python/tests/resources/print_array.hugr
  qis-compiler/python/tests/resources/print_array.py
  qis-compiler/python/tests/resources/rng.hugr
  qis-compiler/python/tests/resources/rng.py
  qis-compiler/python/tests/resources/rus.hugr
  qis-compiler/python/tests/resources/rus.py
  qis-compiler/python/tests/resources/unsupported_pytket_ops.hugr
  qis-compiler/python/tests/resources/unsupported_pytket_ops.py
  qis-compiler/python/tests/test_basic_generation.py
Due: ruff-format, ruff-check, mypy-check, py-test

pull out hugr generation from tests
  qis-compiler/python/tests/justfile
  qis-compiler/python/tests/test_basic_generation.py
Due: ruff-format, ruff-check, mypy-check, py-test

remove guppylang dev dependency
  qis-compiler/pyproject.toml
  uv.lock
Due: none

add readme section
  qis-compiler/README.md
Due: none

Fix which targets have pre-build binaries
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

uv lock
  uv.lock
Due: none

Update changelog
  qis-compiler/CHANGELOG.md
Due: none

bump tket version
  tket1-passes/conanfile.txt
Due: none

chore(py): release qis-compiler 0.2.10 (#1199)
  .release-please-manifest.json
  qis-compiler/CHANGELOG.md
  qis-compiler/pyproject.toml
  uv.lock
Due: none

drop debug step, specify shell for windows runners
  .github/workflows/python-wheels.yml
Due: none

Manually copy the DLL to the wheel's root
  .github/workflows/python-wheels.yml
  tket-py/pyproject.toml
Due: none

Copy dll to tket-py/tket
  .github/workflows/python-wheels.yml
Due: none

Remove testing CI trigger
  .github/workflows/python-wheels.yml
Due: none

Some cleanup
  tket-py/pyproject.toml
Due: none

Remove duplicated conan profiles
  .github/actions/tket-c-api/action.yml
  tket1-passes/build.rs
  tket1-passes/conan-profiles/linux-aarch64-musl-gcc14
  tket1-passes/conan-profiles/linux-armv7-musl-gcc14
  tket1-passes/conan-profiles/linux-i686-musl-gcc14
  tket1-passes/conan-profiles/linux-x86_64-musl-gcc14
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Merge armv8 and aarch64 conan profiles
  .github/actions/tket-c-api/action.yml
  tket1-passes/build.rs
  tket1-passes/conan-profiles/linux-aarch64-gcc14
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
Due: none

ci: Try to fix linking in the wheels building script (#1227)
  .github/actions/tket-c-api/action.yml
  .github/workflows/python-wheels.yml
  tket1-passes/build.rs
  tket1-passes/conan-profiles/README.md
  tket1-passes/conan-profiles/linux-armv7-gcc14
  tket1-passes/conan-profiles/linux-armv8-gcc14
  tket1-passes/conan-profiles/linux-i686-gcc14
  tket1-passes/conanfile.txt
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add BorrowSquash pass + 3*test_files/ serialized Hugrs
  test_files/big_array.hugr
  test_files/nested_array.hugr
  test_files/squashing_inline.hugr
  tket/src/passes.rs
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

oops
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

integration test
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Fix python versions on release-checks
  .github/workflows/release-checks.yml
Due: none

ci: Stop downloading llvm when not needed
  .github/workflows/ci.yml
  .github/workflows/python-wheels.yml
Due: none

ci: Fix python versions on release-checks (#1239)
  .github/workflows/release-checks.yml
Due: none

chore(py): release tket-py 0.12.9
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

test updates...now fails with encoding bug
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Don't translate usizes to pytket
  tket/src/serialize/pytket/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Don't translate usizes to pytket (#1241)
  tket/src/serialize/pytket/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket1-passes/tests/tket1-on-hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.12.9 (#1238)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
