Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rewriter is parametrised on C
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Docs fixes
  tket-qsystem/src/extension/compute.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

supported Call
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/global_phase_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docs again
  tket-qsystem/src/extension/compute.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Silence match errors
  tket-py/src/matcher.rs
  tket-py/src/protocol/circuit_matcher.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Passed all the tests, but still wip
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixed treatment of node removement
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

regenerate lockfile with newer uv version
  uv.lock
Due: none

regen lock again
  uv.lock
Due: none

fix weird rust issue
  tket-py/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: update copyable wire IDs when rewriting
  tket/src/resource/scope/patch.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update justfile
  justfile
Due: none

refactor!: Create backtracking optimiser, refactor badger to use it
  tket/src/optimiser.rs
  tket/src/optimiser/backtracking.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/hugr_pqueue.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/optimiser/pqueue.rs
  tket/src/optimiser/pqueue_worker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Add result type to name mismatch message
  tket-qsystem/src/extension/compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review nits
  tket-qsystem/src/extension/compute.rs
  tket-qsystem/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename compute -> classical_compute
  tket-qsystem/src/extension.rs
  tket-qsystem/src/extension/classical_compute.rs
  tket-qsystem/src/extension/classical_compute/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Better refactor of `row_to_arg`
  tket-qsystem/src/extension/classical_compute.rs
  tket-qsystem/src/extension/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add missing variant to name mismatch error message
  tket-qsystem/src/extension/classical_compute/gpu.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Factor out wasm extension code into compute module (#1089)
  tket-exts/src/tket_exts/data/tket/wasm.json
  tket-qsystem/src/extension.rs
  tket-qsystem/src/extension/classical_compute.rs
  tket-qsystem/src/extension/classical_compute/wasm.rs
  tket-qsystem/src/extension/utils.rs
  tket-qsystem/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add gpu module (#1090)
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/data/tket/gpu.json
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/gpu.py
  tket-exts/tests/test_validate_exts.py
  tket-qsystem/src/bin/tket-qsystem.rs
  tket-qsystem/src/extension.rs
  tket-qsystem/src/extension/classical_compute.rs
  tket-qsystem/src/extension/classical_compute/gpu.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Pacify miri.
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Pacify miri (#1096)
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

changed the signature of power
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

move examples back
  tket-py/examples/1-Getting-Started.ipynb
  tket-py/examples/2-Rewriting-Circuits.ipynb
  tket-py/examples/utils/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

new clean-env recipe
  justfile
Due: none

remove notebooks from docs build.
  tket-py/docs/index.md
Due: none

docs: add Python API docs (#1087)
  .github/workflows/build_docs.yml
  .gitignore
  README.md
  justfile
  tket-py/README.md
  tket-py/docs/_templates/autosummary/base.rst
  tket-py/docs/_templates/autosummary/class.rst
  tket-py/docs/_templates/autosummary/module.rst
  tket-py/docs/conf.py
  tket-py/docs/index.md
  tket-py/examples/1-Getting-Started.ipynb
  tket-py/examples/2-Rewriting-Circuits.ipynb
  tket-py/pyproject.toml
  tket-py/tket/circuit/build.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix: ensure correct ordering in Subcircuit::get_all_resources
  tket/src/resource/scope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: ensure correct ordering in Subcircuit::get_all_resources (2)
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(badgerv2): Add RewriteStateSpace
  Cargo.lock
  test_files/6cz.hugr
  test_files/perhugr1.json
  tket/Cargo.toml
  tket/src/lib.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite_space.rs
  tket/src/rewrite_space/factory.rs
  tket/src/rewrite_space/factory/commute_cz.rs
  tket/src/rewrite_space/max_sat.rs
  tket/src/serialize.rs
  tket/tests/rewrite_space_explorer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

implement Patch for Rewrite, update Rewriter trait
  tket-py/src/matcher.rs
  tket-py/src/rewrite.rs
  tket/src/circuit.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/portmatching/matcher.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/scope/patch.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/hugr_adapter.rs
  tket/src/rewrite_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  Cargo.lock
  Cargo.toml
Due: none

feat: fix rewrite space, add adapter
  Cargo.lock
  Cargo.toml
  tket/Cargo.toml
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/hugr_adapter.rs
  tket/src/rewrite/matcher/im_adapter.rs
  tket/src/rewrite_space.rs
  tket/src/rewrite_space/factory.rs
  tket/src/rewrite_space/factory/commute_cz.rs
  tket/src/rewrite_space/max_sat.rs
  tket/tests/rewrite_space_explorer.rs_disabled
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove CircuitLike trait
  tket/src/circuit.rs
  tket/src/resource.rs
  tket/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Optimize and validate guppy hugr examples
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
