Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

[wip]
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Passed all the tests, but still wip
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

supported dagger for each OpType
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ad hoc support for cfg
  .pre-commit-config.yaml
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

changed the signature of power
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

[wip] temporal branch: adding modifier to qsystem-pass
  .gitignore
  .pre-commit-config.yaml
  tket-qsystem/src/extension.rs
  tket-qsystem/src/extension/modifier.rs
  tket-qsystem/src/lib.rs
  tket/src/lib.rs
  tket/src/rich_circuit/control.rs
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Ensure decoded circuits have the required signature
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/options.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Decode CircBoxes as DFG nodes
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: SerialCircuit::decode_inplace and explicit option structs (#1120)
  badger-optimiser/src/main.rs
  tket-py/src/circuit/convert.rs
  tket-py/src/circuit/tk2circuit.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/circuit.rs
  tket/src/circuit/hash.rs
  tket/src/lib.rs
  tket/src/optimiser/badger.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/options.rs
  tket/src/serialize/pytket/tests.rs
  tket/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Decode pytket circs into DFGs
  Cargo.lock
  Cargo.toml
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/options.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Use `uv` ecosystem for dependabot python updates
  .github/dependabot.yml
Due: none

feat!(pytket-decoder): Allow specifying qubit/bit reuse
  tket-qsystem/src/pytket/qsystem.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Apply suggestions from code review
  tket/src/serialize/pytket/options.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Add contributors list to rust changelog
  release-plz.toml
Due: none

ci: Add contributors list to rust releases (#1129)
  release-plz.toml
Due: none

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

[wip] ad hoc support for array
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/array_modify.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/global_phase_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: update to hugr v23
  Cargo.lock
  Cargo.toml
  tket/src/resource/scope/patch.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Tket-py notebooks cleanup
  tket-py/examples/1-Getting-Started.ipynb
  tket-py/examples/2-Rewriting-Circuits.ipynb
  tket-py/examples/utils/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Support deduplication in seadog, activate in Python
  tket-py/src/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/hugr_adapter.rs
  tket/src/rewrite/matcher/im_adapter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix type stubs
  tket-py/examples/3bis-Match-Replace-for-QEC.ipynb
  tket-py/tket/_tket/matcher.pyi
  tket-py/tket/_tket/optimiser.pyi
  tket/src/optimiser/seadog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Implement Rewriter for boxes and vecs
  tket/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

some refactoring, ad hoc support for pack/unpack
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/array_modify.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

weaken seadog bounds, fix Sync/Send for MatchReplaceRewriter
  tket/src/optimiser/seadog.rs
  tket/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Small cleanup tket-py notebooks
  tket-py/examples/1-Getting-Started.ipynb
  tket-py/examples/2-Rewriting-Circuits.ipynb
  tket-py/examples/utils/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Small cleanup tket-py notebooks Tk2Circuit.from_str -> .from_byte in __init__.py uncommented contents cnots_to_zzphase_lhs (should have never been commented)
  tket-py/examples/2-Rewriting-Circuits.ipynb
  tket-py/examples/utils/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Tket-py notebook 2 issue notice
  tket-py/examples/2-Rewriting-Circuits.ipynb
Due: none

fix S gate modification in dagger context
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: update to hugr 0.23
  Cargo.lock
  Cargo.toml
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add dev dependency to ba-test in hugr
  Cargo.lock
  Cargo.toml
Due: none

Add dependencies for all hugr sub-crates
  Cargo.lock
  Cargo.toml
Due: none

unitarity metadata
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/global_phase_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Optimize and validate guppy hugr examples
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Optimize and validate guppy hugr examples (#1116)
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr patch version
  Cargo.lock
  Cargo.toml
Due: none

[WIP] StateOrder
  tket/src/rich_circuit/modifier_resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update `tket-exts` from main
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/data/tket/gpu.json
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/gpu.py
  tket-exts/tests/test_validate_exts.py
  tket-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
