Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Working unsupported support
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cleanup files
  tket2/src/extension.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/param_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/op.rs
  tket2/src/serialize/pytket/op/tk2op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix value encoding check
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Write tk1 and prelude encoders
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/tk1.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Register reuse
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Start lowering implementation
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

const, parameters, fix bugs, ...
  tket2/src/extension/rotation.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add further replacements
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cleanup file structure, use better emitter names
  tket2/src/ops.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/op.rs
  tket2/src/serialize/pytket/decoder/op/tk2op.rs
  tket2/src/serialize/pytket/decoder/param.pest
  tket2/src/serialize/pytket/decoder/param.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/param.rs
  tket2/src/serialize/pytket/param/encode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  Cargo.lock
  devenv.nix
  tket2/Cargo.toml
  tket2/src/lib.rs
  tket2/src/llvm.rs
  tket2/src/llvm/rotation.rs
  tket2/src/llvm/snapshots/tket2__llvm__rotation__test__emit_all_ops@llvm14_0.snap
  tket2/src/llvm/snapshots/tket2__llvm__rotation__test__emit_all_ops@pre-mem2reg@llvm14_0.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket2/src/lib.rs
  tket2/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci1
  .github/workflows/ci.yml
Due: none

docs
  tket2/src/llvm.rs
  tket2/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

half
  Cargo.lock
Due: none

wip
  Cargo.lock
  tket2/Cargo.toml
  tket2/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

lint
  tket2/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

semver needs llvm
  .github/workflows/semver-checks.yml
Due: none

tweak
  tket2/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Compute all output parameters once instead of per-output
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test
  tket2/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  tket2/src/llvm/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

llvm in coverage
  .github/workflows/ci.yml
Due: none

feat(hseries): remove ZZMax operation from Qsystem extension
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

bump extension version
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename bool ops
  tket2-exts/src/tket2_exts/data/tket2/bool.json
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Various pass improvements
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update devenv.nix
  devenv.nix
Due: none

refactor!: Remove node parameter from Circuit (#824)
  tket2/src/circuit.rs
  tket2/src/circuit/command.rs
  tket2/src/circuit/units.rs
  tket2/src/rewrite.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(hseries)!: remove ZZMax operation from Qsystem extension (#852)
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.7.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

Change measure op signatures and replace
  Cargo.lock
  Cargo.toml
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix failing tests
  test_files/ordered_qalloc.json
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Improve tests
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add llvm codegen for `tket2.rotation` extension (#851)
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
  Cargo.lock
  devenv.nix
  tket2/Cargo.toml
  tket2/src/lib.rs
  tket2/src/llvm.rs
  tket2/src/llvm/rotation.rs
  tket2/src/llvm/snapshots/tket2__llvm__rotation__test__emit_all_ops@llvm14_0.snap
  tket2/src/llvm/snapshots/tket2__llvm__rotation__test__emit_all_ops@pre-mem2reg@llvm14_0.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

init
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/lib.rs
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@llvm14_3.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__futures__test__emit_futures_codegen@pre-mem2reg@llvm14_3.snap
  tket2/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Minor fixes
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add debug extension with state result op (#843)
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/debug.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2/src/extension.rs
  tket2/src/extension/debug.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Delete old lazify_measure
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
