Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Remove old extension schemas
  tket-exts/src/tket_exts/data/tket2/bool.json
  tket-exts/src/tket_exts/data/tket2/debug.json
  tket-exts/src/tket_exts/data/tket2/futures.json
  tket-exts/src/tket_exts/data/tket2/guppy.json
  tket-exts/src/tket_exts/data/tket2/qsystem.json
  tket-exts/src/tket_exts/data/tket2/qsystem/random.json
  tket-exts/src/tket_exts/data/tket2/qsystem/utils.json
  tket-exts/src/tket_exts/data/tket2/quantum.json
  tket-exts/src/tket_exts/data/tket2/result.json
  tket-exts/src/tket_exts/data/tket2/rotation.json
  tket-exts/src/tket_exts/data/tket2/wasm.json
Due: none

ci: Set release-plz changelog header
  release-plz.toml
Due: none

ci: Set release-plz changelog header (#993)
  release-plz.toml
Due: none

chore(py): release tket-py 0.12.0
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-eccs 0.5.0
  .release-please-manifest.json
  tket-eccs/CHANGELOG.md
  tket-eccs/pyproject.toml
  tket-eccs/src/tket_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-exts 0.10.0
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

chore: devenv update
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

chore: hugr-py 0.13 (pre-release)
  pyproject.toml
  tket-exts/pyproject.toml
  tket-py/pyproject.toml
  uv.lock
Due: none

set llvm function linkage to private for qsystem helper functions
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test, add copy_discard_array handler
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add LowerDropsPass
  tket-qsystem/src/lib.rs
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP don't add copy_discard_array
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to 0.22.1, getting copy_discard by default -> fixes
  Cargo.lock
  Cargo.toml
Due: none

fmt, reduce change
  tket-qsystem/src/lib.rs
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Lower "Drop" op in guppy extension, update hugr minor version (#979)
  Cargo.lock
  Cargo.toml
  tket-qsystem/src/lib.rs
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(py): update hugr-py dependency to 0.13 (#996)
  devenv.lock
  devenv.nix
  devenv.yaml
  pyproject.toml
  tket-exts/pyproject.toml
  tket-py/pyproject.toml
  uv.lock
Due: none

first smallest implementation of modifier
  tket2/src/ops.rs
  tket2/src/rich_circuit.rs
  tket2/src/rich_circuit/control.rs
  tket2/src/rich_circuit/dagger.rs
  tket2/src/rich_circuit/modifier.rs
  tket2/src/rich_circuit/modifier_resolver.rs
  tket2/src/rich_circuit/power.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release (#995)
  Cargo.lock
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

set linkage to private for all qsystem helper functions; modified cargo.toml to use old hugr version with added func getter
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

set linkage to private for all qsystem helper functions; updated cargo.toml to use latest hugr; based on latest tket2 main
  Cargo.lock
  Cargo.toml
  tket-qsystem/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

updated snapshots
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_1.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_10.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_2.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_3.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_4.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_5.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_6.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_7.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_8.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@pre-mem2reg@llvm14_9.snap
Due: none

updated more snapshots
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_1.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_10.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_2.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_3.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_4.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_5.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_6.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_7.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_8.snap
  tket-qsystem/src/llvm/snapshots/tket_qsystem__llvm__qsystem__test__emit_qsystem_codegen@llvm14_9.snap
Due: none

released hugr-py
  tket-exts/pyproject.toml
  tket-py/pyproject.toml
  uv.lock
Due: none

chore: bump to released hugr-py (#998)
  tket-exts/pyproject.toml
  tket-py/pyproject.toml
  uv.lock
Due: none

chore(py): release tket-exts 0.10.0 (#990)
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-eccs 0.5.0 (#991)
  .release-please-manifest.json
  tket-eccs/CHANGELOG.md
  tket-eccs/pyproject.toml
  tket-eccs/src/tket_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: switch to trusted publishing for tket pypi
  .github/workflows/python-wheels.yml
Due: none

ci: switch to trusted publishing for tket pypi (#999)
  .github/workflows/python-wheels.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
