Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

refactor!: More flexible pytket encoding (#849)
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/replace_bools.rs
  tket2-py/src/circuit.rs
  tket2/Cargo.toml
  tket2/src/extension.rs
  tket2/src/extension/rotation.rs
  tket2/src/ops.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/op.rs
  tket2/src/serialize/pytket/decoder/op/tk2op.rs
  tket2/src/serialize/pytket/decoder/param.pest
  tket2/src/serialize/pytket/decoder/param.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/encoder/unit_generator.rs
  tket2/src/serialize/pytket/encoder/unsupported_tracker.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
  tket2/src/serialize/pytket/param.rs
  tket2/src/serialize/pytket/param/encode.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Add some example guppy-generated hugrs
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.mmd
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.mmd
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.mmd
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.mmd
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.mmd
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.mmd
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.mmd
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.mmd
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.mmd
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

Minor fixes
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Limit which examples get mermaid graphs
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/angles/angles.flat.mmd
  test_files/guppy_optimization/angles/angles.mmd
  test_files/guppy_optimization/angles/angles.opt.mmd
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.mmd
  test_files/guppy_optimization/nested/nested.mmd
  test_files/guppy_optimization/nested/nested.opt.mmd
  test_files/guppy_optimization/ranges/ranges.flat.mmd
  test_files/guppy_optimization/ranges/ranges.mmd
  test_files/guppy_optimization/ranges/ranges.opt.mmd
  test_files/guppy_optimization/simple_cx/.generate_mmd
Due: none

true/false branches
  test_files/guppy_optimization/false_branch/.generate_mmd
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.mmd
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.mmd
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update lowering to return array result
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_8.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(pytket-encoding): Bit initialization and bool operations
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket-json-rs on this branch too
  Cargo.lock
  Cargo.toml
Due: none

Fix bit_count on mk_classical_expr
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

lint
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(pytket-encoding): Bit initialization and bool operations (#907)
  Cargo.lock
  Cargo.toml
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(pytket-encoding): Pytket encode dfgs and function calls
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Gracefully fail if the subcircuit/fn contains param outputs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix naming
  tket2-hseries/src/llvm/debug.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove outdated TODOs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

/assert/debug_assert/
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(pytket-encoding): Pytket encode dfgs and function calls (#908)
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.11.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.8.1
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add user prefix
  tket2-hseries/src/llvm/debug.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(pytket-encoding): Replace bool return type with EncodeStatus enum
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Snapshots
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_1.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

better wording
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

...modify
  tket2/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(pytket-encoding): Replace bool return type with EncodeStatus enum (#912)
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/config.rs
  tket2/src/serialize/pytket/extension.rs
  tket2/src/serialize/pytket/extension/bool.rs
  tket2/src/serialize/pytket/extension/float.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/rotation.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  tket2/src/serialize/pytket/extension/tk2.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add llvm lowering for debug extension (#900)
  tket2-hseries/src/llvm.rs
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_1.snap
  tket2/src/llvm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

refactor(hseries): use array pop operation
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: Change array result ops signature to return array result (#888)
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_8.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.9.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release (#903)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

update dependency
  tket2-py/pyproject.toml
  uv.lock
Due: none

chore(py): release tket2-exts 0.9.0 (#891)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
  tket2-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

uv lock
  uv.lock
Due: none

fix CHANGELOG.md
  tket2-py/CHANGELOG.md
Due: none

chore(py): release tket2-py 0.11.0 (#892)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Update recursive deps
  Cargo.lock
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
