Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Add most of pass
  Cargo.lock
  Cargo.toml
  tket1-passes/.gitignore
  tket1-passes/cpp/.gitignore
  tket1-passes/cpp/build.sh
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_borrow_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Repair to compile
  tket2/src/rewrite_space/factory/kak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

repairs for 3 CZ circuit
  tket2/src/rewrite_space/factory/kak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test with single quibt gate in subcircuit
  tket2/src/rewrite_space/factory/kak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Rename tket-c-api and add static linking (#953)
  .github/actions/tket-c-api/action.yml
  .github/actions/tket1-passes/action.yml
  .github/workflows/ci.yml
  .github/workflows/semver-checks.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  tket1-passes/.gitignore
  tket1-passes/Cargo.toml
  tket1-passes/README.md
  tket1-passes/build.rs
  tket1-passes/conanfile.txt
  tket1-passes/cpp/.gitignore
  tket1-passes/cpp/CMakeLists.txt
  tket1-passes/cpp/build.sh
  tket1-passes/cpp/conanfile.py
  tket1-passes/rust/README.md
  tket1-passes/rust/build.rs
  tket1-passes/src/lib.rs
  tket1-passes/tket-c-api/.gitignore
  tket1-passes/tket-c-api/CMakeLists.txt
  tket1-passes/tket-c-api/conanfile.py
  tket1-passes/tket-c-api/include/tket-c-api.h
  tket1-passes/tket-c-api/src/tket-c-api.cpp
  tket1-passes/tket-c-api/test_package/CMakeLists.txt
  tket1-passes/tket-c-api/test_package/conanfile.py
  tket1-passes/tket-c-api/test_package/src/example.cpp
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-exts 0.9.2
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Improve tests and docs
  tket2/src/rewrite_space/factory/kak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add boxed commit factory, refactor explore
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/boxed.rs
  tket2/src/rewrite_space/factory/clifford.rs
  tket2/src/rewrite_space/factory/commute_cz.rs
  tket2/src/rewrite_space/factory/explore.rs
  tket2/tests/rewrite_space_explorer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Add tket-c-api setup recipe and instructions
  DEVELOPMENT.md
  justfile
Due: none

fix: Inline constant functions in QSystemPass
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix docs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add todo
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify test
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

move tests to own module
  tket2/src/rewrite_space/factory/kak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Inline constant functions in `QSystemPass` (#961)
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update justfile
  justfile
Due: none

Go back to failing on failing lines
  justfile
Due: none

docs: Add tket-c-api setup recipe and instructions (#960)
  DEVELOPMENT.md
  justfile
Due: none

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore: release (#952)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore(py): release tket2-exts 0.9.2 (#951)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Some fixes
  tket2-hseries/src/replace_borrow_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.11.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update CHANGELOG.md
  tket2-py/CHANGELOG.md
Due: none

Add guppy extension with drop op
  tket2-exts/src/tket2_exts/data/tket2/guppy.json
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-py/test/test_exts.py
  tket2-py/tket2/extensions/__init__.py
  tket2/src/extension.rs
  tket2/src/extension/guppy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ci: Fail on cargo check warnings
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/random.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2/src/circuit.rs
  tket2/src/ops.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Load extension
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Format
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.11.1 (#933)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Fail on cargo check warnings (#963)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/random.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2/src/circuit.rs
  tket2/src/ops.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix
  tket2-py/tket2/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix issues with unsafe op dest functions
  tket2-hseries/src/replace_borrow_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add more op replacements
  tket2-hseries/src/replace_borrow_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to released hugr 0.21
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/random.rs
  tket2-hseries/src/extension/wasm.rs
  tket2-hseries/src/lib.rs
  tket2-py/src/types.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: bump wasm extension version and regen
  tket2-exts/src/tket2_exts/data/tket2/wasm.json
  tket2-hseries/src/extension/wasm.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Update to `hugr 0.21` (#965)
  Cargo.lock
  Cargo.toml
  tket2-exts/src/tket2_exts/data/tket2/wasm.json
  tket2-hseries/Cargo.toml
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/barrier/qtype_analyzer.rs
  tket2-hseries/src/extension/random.rs
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/extension/wasm.rs
  tket2-hseries/src/lib.rs
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/replace_bools/static_array.rs
  tket2-py/src/types.rs
  tket2/src/extension.rs
  tket2/src/extension/debug.rs
  tket2/src/extension/sympy.rs
  tket2/src/llvm/rotation.rs
  tket2/src/serialize.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/tk1.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.12.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-exts 0.10.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: pytket decoder infra
  Cargo.lock
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/config.rs
  tket2/src/serialize/pytket/decoder/param.rs
  tket2/src/serialize/pytket/decoder/param/param.pest
  tket2/src/serialize/pytket/decoder/param/parser.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
