Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

Update devenv.nix and add a new conan profile for gcc14
  devenv.nix
  tket1-passes/conan-profiles/linux-x86_64-gcc14
Due: none

Correct port number, update all tests except squashing_inline.hugr
  test_files/big_array.hugr
  test_files/nested_array.hugr
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: tket1 passes nix fixes (#1180)
  devenv.nix
  tket1-passes/conan-profiles/linux-x86_64-gcc14
Due: none

Some post-review fixes
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/tests.rs
  tket/src/serialize/pytket/unsupported.rs
  tket/src/serialize/pytket/unsupported/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add (failing) test of lowering bool where there is borrow_array::get
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: change copy_dfg to return Hugr (useful later)
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace borrow_array_get, fixing test
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

sort out imports a bit
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

extend test to tuple of bool and usize
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hide stuff
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Merge both opaque hugr TKET opgroups
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/unsupported.rs
  tket/src/serialize/pytket/unsupported/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename Standalone payloads to Inline
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/unsupported.rs
  tket/src/serialize/pytket/unsupported/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Globally unique SubgraphIds without hashing
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/unsupported.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename UnsupportedSubgraph -> OpaqueSubgraph
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Add original circuit/subgraphs in pytket DecoderCtx
  tket-py/src/circuit/convert.rs
  tket-qsystem/src/pytket.rs
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/circuit/hash.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/options.rs
  tket/src/serialize/pytket/tests.rs
  tket/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: Decode unsupported subgraphs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/extension/core.rs
  tket/src/serialize/pytket/opaque.rs
  tket/src/serialize/pytket/opaque/payload.rs
  tket/src/serialize/pytket/options.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: handle empty qubits in nonlocal resource check
  tket-py/pyproject.toml
  tket/src/resource/scope.rs
  tket/src/resource/scope/patch.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: ReplaceBoolPass: lower BorrowArray::get (#1181)
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wire_type: use port_kind
  tket/src/passes/squash_borrow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

devenv and pyproject fixes
  devenv.nix
  qis-compiler/pyproject.toml
  uv.lock
Due: none

snapshot update
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/aarch64-apple-darwin/discard_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/x86_64-apple-darwin/discard_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/x86_64-unknown-linux-gnu/discard_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/x86_64-windows-msvc/discard_array_x86_64-windows-msvc
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/aarch64-apple-darwin/measure_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-apple-darwin/measure_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-unknown-linux-gnu/measure_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-windows-msvc/measure_array_x86_64-windows-msvc
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/aarch64-apple-darwin/print_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-apple-darwin/print_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-unknown-linux-gnu/print_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-windows-msvc/print_array_x86_64-windows-msvc
Due: none

feat!: Switch borrow array lowering from type replacement to llvm (#1161)
  Cargo.toml
  devenv.nix
  qis-compiler/pyproject.toml
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/aarch64-apple-darwin/discard_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/x86_64-apple-darwin/discard_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/x86_64-unknown-linux-gnu/discard_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_discard_array/x86_64-windows-msvc/discard_array_x86_64-windows-msvc
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/aarch64-apple-darwin/measure_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-apple-darwin/measure_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-unknown-linux-gnu/measure_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_measure_array/x86_64-windows-msvc/measure_array_x86_64-windows-msvc
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/aarch64-apple-darwin/print_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-apple-darwin/print_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-unknown-linux-gnu/print_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-windows-msvc/print_array_x86_64-windows-msvc
  qis-compiler/rust/array.rs
  qis-compiler/rust/lib.rs
  tket-exts/pyproject.toml
  tket-py/pyproject.toml
  tket-qsystem/src/lib.rs
  tket-qsystem/src/replace_bools.rs
  tket-qsystem/src/replace_borrow_arrays.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  qis-compiler/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

chore(py): release tket-exts 0.12.0
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update CHANGELOG.md
  tket-qsystem/CHANGELOG.md
Due: none

Update CHANGELOG.md
  tket-exts/CHANGELOG.md
Due: none

chore: release (#1119)
  Cargo.lock
  badger-optimiser/Cargo.toml
  qis-compiler/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

feat: Deprecate local find_tuple_unpack rewrite
  tket/src/passes.rs
  tket/src/passes/pytket.rs
  tket/src/passes/tuple_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Deprecate local find_tuple_unpack rewrite (#1188)
  tket/src/passes.rs
  tket/src/passes/pytket.rs
  tket/src/passes/tuple_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

uv sync
  qis-compiler/pyproject.toml
  uv.lock
Due: none

chore(py): release tket-exts 0.12.0 (#1166)
  .release-please-manifest.json
  qis-compiler/pyproject.toml
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.8
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Avoid cyclic dependency on release-checks
  .github/workflows/release-checks.yml
Due: none

uv sync
  uv.lock
Due: none

update changelog
  tket-py/CHANGELOG.md
Due: none

Try again
  .github/workflows/release-checks.yml
Due: none

chore(py): release tket-py 0.12.8 (#1142)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release qis-compiler 0.2.7
  .release-please-manifest.json
  qis-compiler/CHANGELOG.md
  qis-compiler/pyproject.toml
Due: none

chore(py): release qis-compiler 0.2.7 (#1149)
  .release-please-manifest.json
  qis-compiler/CHANGELOG.md
  qis-compiler/pyproject.toml
  uv.lock
Due: none
