Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

revertme: make code compile
  tket2/src/optimiser.rs
  tket2/src/optimiser/badger.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/rewrite.rs
  tket2/tests/badger_termination.rs.disabled
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Circuit indexing scheme
  tket2/src/portmatching.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/path.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add TryFrom and other auto-derived traits
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/path.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

New CircuitPattern, Constraint and Predicate
  tket2/Cargo.toml
  tket2/src/portmatching.rs
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Split into CopyableWire and LinearWire predicate
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/pattern.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Separate Wire and PortOffset predicates
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/indexing/path.rs
  tket2/src/portmatching/pattern.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Update to `tket-json-rs 0.6` and `pyo3 0.22`
  Cargo.lock
  Cargo.toml
  tket2-py/Cargo.toml
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/src/optimiser.rs
  tket2-py/src/passes.rs
  tket2-py/src/types.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix HugrPath ordering
  tket2/src/portmatching/indexing/path.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Update to `tket-json-rs 0.6` and `pyo3 0.22` (#668)
  Cargo.lock
  Cargo.toml
  tket2-py/Cargo.toml
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/src/optimiser.rs
  tket2-py/src/passes.rs
  tket2-py/src/types.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Update to hugr 13.2, fix deprecation
  Cargo.lock
  Cargo.toml
  tket2-py/Cargo.toml
  tket2-py/src/circuit/tk2circuit.rs
  tket2/Cargo.toml
  tket2/src/serialize/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix num root ports in extract_dfg
  tket2/src/circuit/extract_dfg.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run cargo-semver-checks on PRs
  .github/workflows/ci.yml
Due: none

chore: Update to `hugr 0.13.2`, fix deprecation warnings (#669)
  Cargo.lock
  Cargo.toml
  tket2-py/Cargo.toml
  tket2-py/src/circuit/tk2circuit.rs
  tket2/Cargo.toml
  tket2/src/circuit/extract_dfg.rs
  tket2/src/serialize/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run cargo-semver-checks on PRs (#670)
  .github/workflows/ci.yml
Due: none

ci: Use `uv --frozen` instead of `--locked`
  .github/workflows/ci.yml
Due: none

ci: Use `uv --frozen` instead of `--locked` (#677)
  .github/workflows/ci.yml
Due: none

chore(py): Support python 3.13
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

Update lockfile
  uv.lock
Due: none

chore(py): Support python 3.13 (#678)
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

chore(py): release tket2-py 0.4.2
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.2.1
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/Cargo.toml
Due: none

Refactor predicates
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/path.rs
  tket2/src/portmatching/pattern.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/portmatching/indexing/path.rs
  tket2/src/portmatching/indexing/path.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Track circuit extensions and read/write packages
  tket2-py/src/circuit/tk2circuit.rs
  tket2/src/circuit.rs
  tket2/src/passes/pytket.rs
  tket2/src/serialize.rs
  tket2/src/serialize/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Address comments
  Cargo.lock
  Cargo.toml
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/pattern.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

New CircuitPattern, Constraint and Predicate (#665)
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/portmatching.rs
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/path.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add tests
  Cargo.lock
  Cargo.toml
  tket2/src/circuit.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update py bindings
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/tket2/_tket2/circuit.pyi
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update python-side conversion calls
  tket2-py/examples/utils/__init__.py
  tket2-py/tket2/circuit/build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Test some errors
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

move extensions to new package
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/data/tket2/futures.json
  tket2-exts/src/tket2_exts/data/tket2/hseries.json
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-exts/src/tket2_exts/data/tket2/rotation.json
Due: ruff-format, ruff-check, mypy-check, py-test

gitignore envrc
  .envrc
  .gitignore
Due: none

new tket2-exts package
  .github/change-filters.yml
  .github/dependabot.yml
  .github/workflows/python-pure-wheels.yml
  pyproject.toml
  release-please-config.json
  tket2-exts/.gitignore
  tket2-exts/CHANGELOG.md
  tket2-exts/LICENCE
  tket2-exts/README.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
  tket2-exts/src/tket2_exts/py.typed
  tket2-py/pyproject.toml
  tket2-py/tket2/extensions/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

update justfile
  justfile
Due: none

update extensions check
  .github/workflows/ci.yml
Due: none

EOL fix
  .gitignore
Due: none

fixup changelog
  tket2-exts/CHANGELOG.md
Due: none
