Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

ci: Don't try to deploy docs from PRs
  .github/workflows/build_docs.yml
Due: none

fix: build.rs panic in the absence of conan remotes (#1091)
  tket1-passes/build.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Don't try to deploy docs from PRs (#1100)
  .github/workflows/build_docs.yml
Due: none

chore: add docs link to tkek-py README
  tket-py/README.md
Due: none

fix some links
  tket-py/README.md
Due: none

Update tket-py/README.md
  tket-py/README.md
Due: none

chore: add docs link to tket-py README (#1101)
  tket-py/README.md
Due: none

fix: Add gpu extension to extensions reexposed by tket-py
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

import gpu might fail
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Add gpu extension to extensions reexposed by tket-py (#1102)
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-exts 0.11.0
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Tell mypy it's all good
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Add mypy ignore annotation (#1103)
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.7
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Bump dependency in tket-py
  tket-py/pyproject.toml
  uv.lock
Due: none

chore(py): release tket-exts 0.11.0 (#1050)
  .release-please-manifest.json
  tket-exts/CHANGELOG.md
  tket-exts/pyproject.toml
  tket-exts/src/tket_exts/__init__.py
  tket-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

bump some minimum versions
  .github/workflows/release-checks.yml
  pyproject.toml
  uv.lock
Due: none

ci: Test minimum dependencies in the release checks
  .github/workflows/release-checks.yml
Due: none

don't fail fast
  .github/workflows/release-checks.yml
Due: none

Cleanup workflow
  .github/workflows/release-checks.yml
  pyproject.toml
  uv.lock
Due: none

ci: Test minimum dependencies in the release checks (#1104)
  .github/workflows/release-checks.yml
  pyproject.toml
  uv.lock
Due: none

Update uv.lock
  uv.lock
Due: none

chore: Fix formatting in auxiliary files
  .gitignore
  tket-py/docs/_templates/autosummary/base.rst
  tket-py/docs/_templates/autosummary/module.rst
  tket-py/docs/index.md
Due: none

chore(py): release tket-py 0.12.7 (#1098)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
Due: none

feat: Simplify the tuple unpack pass and support some edge cases
  Cargo.lock
  Cargo.toml
  tket/src/passes/tuple_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix formatting in auxiliary files (#1105)
  .gitignore
  tket-py/docs/_templates/autosummary/base.rst
  tket-py/docs/_templates/autosummary/module.rst
  tket-py/docs/index.md
Due: none

Add option to track best states in optimiser
  tket/src/optimiser.rs
  tket/src/optimiser/backtracking.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/pqueue.rs
  tket/src/optimiser/pqueue_worker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add seadog optimiser (rust)
  tket/src/circuit.rs
  tket/src/circuit/hash.rs
  tket/src/optimiser.rs
  tket/src/optimiser/backtracking.rs
  tket/src/optimiser/seadog.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/im_adapter.rs
  tket/src/rewrite_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix invalid subcircuit
  tket/src/resource/scope.rs
  tket/src/resource/scope/patch.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/matcher/im_adapter.rs
  tket/src/rewrite/matcher/im_adapter/resource_scope_cache.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix find parent commit
  tket/src/optimiser/seadog.rs
  tket/src/rewrite/matcher/im_adapter/resource_scope_cache.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

seadog python interface
  tket-py/Cargo.toml
  tket-py/src/matcher.rs
  tket-py/src/optimiser.rs
  tket-py/src/optimiser/cost_function.rs
  tket-py/src/optimiser/seadog.rs
  tket-py/src/rewrite.rs
  tket-py/tket/_tket/optimiser.pyi
  tket-py/tket/optimiser.py
  tket/src/circuit/cost.rs
  tket/src/rewrite_space.rs
  tket/src/rewrite_space/max_sat.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

reorganise tket-py/optimiser folder
  tket-py/src/optimiser.rs
  tket-py/src/optimiser/badger.rs
  tket-py/src/optimiser/cost_function.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixing bugs
  tket/src/optimiser/seadog.rs
  tket/src/rewrite/matcher/im_adapter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

start search from neighbourhood
  tket-py/src/matcher.rs
  tket-py/src/optimiser/seadog.rs
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/seadog.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/matcher.rs
  tket/src/rewrite/matcher/im_adapter.rs
  tket/src/rewrite_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add track_n_best option
  tket/src/optimiser/seadog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move attribute to come after all the cases.
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Move attribute to come after all the cases. (#1112)
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Remove deprecated
  tket-qsystem/src/llvm/array_utils.rs
  tket-qsystem/src/llvm/debug.rs
  tket-qsystem/src/llvm/result.rs
  tket/src/extension.rs
  tket/src/optimiser.rs
  tket/src/optimiser/badger.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Remove unnecessary Arc from PytketDecoder method
  tket-qsystem/src/pytket/qsystem.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
