Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

Add prelude barrier encoding/decoding
  tket2/src/serialize/pytket/decoder/op.rs
  tket2/src/serialize/pytket/decoder/op/tk2op.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Make ResultsCodegenExtension and DebugCodegenExtension generic over used array lowering
  tket2-hseries/src/llvm/array_utils.rs
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_12.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_15.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_16.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_9.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_12.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_15.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_16.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_9.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(pytket encoding): Support prelude barriers (#919)
  tket2/src/serialize/pytket/decoder/op.rs
  tket2/src/serialize/pytket/decoder/op/tk2op.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

We need to be more generic
  tket2-hseries/src/llvm/array_utils.rs
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "fix!: Change array result ops signature to return array result (#888)"
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_8.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add constructors
  tket2-hseries/src/llvm/array_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doc
  tket2-hseries/src/llvm/array_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Revert "fix: Change array result ops signature to return array resul… (#921)
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_8.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

ignore previous version in changelog
  tket2-hseries/CHANGELOG.md
Due: none

chore: release (#916)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore(py): release tket2-exts 0.9.1
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fixup changelog
  tket2-exts/CHANGELOG.md
Due: none

chore(py): release tket2-exts 0.9.1 (#923)
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add QSystemOp::MeasureLeaked
  tket2-hseries/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add measure leaked llvm implementation
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: formatting
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/llvm/qsystem.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: add measure leaked RuntimeFuction
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: tests
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: formatting
  tket2-hseries/src/llvm/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make more fns const
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Swap debug tests
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_1.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_2.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Make `ResultsCodegenExtension` and `DebugCodegenExtension` generic over used array lowering (#920)
  tket2-hseries/src/llvm/array_utils.rs
  tket2-hseries/src/llvm/debug.rs
  tket2-hseries/src/llvm/result.rs
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__debug__test__emit_debug_codegen@pre-mem2reg@llvm14_2.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_12.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_15.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_16.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_7.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@llvm14_9.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_10.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_11.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_12.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_13.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_15.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_16.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_5.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_6.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_8.snap
  tket2-hseries/src/llvm/snapshots/tket2_hseries__llvm__result__test__emit_result_codegen@pre-mem2reg@llvm14_9.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix lints coming in rust 1.88
  compile-rewriter/src/main.rs
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/replace_bools.rs
  tket2-py/src/circuit.rs
  tket2-py/src/ops.rs
  tket2-py/src/optimiser.rs
  tket2/src/circuit.rs
  tket2/src/circuit/cost.rs
  tket2/src/extension/rotation.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/log.rs
  tket2/src/optimiser/badger/qtz_circuit.rs
  tket2/src/passes/pytket.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix lints coming in rust 1.88 (#927)
  compile-rewriter/src/main.rs
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/replace_bools.rs
  tket2-py/src/circuit.rs
  tket2-py/src/ops.rs
  tket2-py/src/optimiser.rs
  tket2/src/circuit.rs
  tket2/src/circuit/cost.rs
  tket2/src/extension/rotation.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/log.rs
  tket2/src/optimiser/badger/qtz_circuit.rs
  tket2/src/passes/pytket.rs
  tket2/src/serialize/pytket/encoder/value_tracker.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/decoder/param.rs
  tket2/src/serialize/pytket/decoder/param/param.pest
  tket2/src/serialize/pytket/decoder/param/parser.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use guppy 0.20
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
Due: none

bump hugr to main rev
  Cargo.lock
  Cargo.toml
Due: none

Fix hugr bump issues
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/barrier/qtype_analyzer.rs
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/extension/wasm.rs
  tket2-hseries/src/lib.rs
  tket2-hseries/src/llvm/futures.rs
  tket2-hseries/src/llvm/prelude.rs
  tket2-hseries/src/replace_bools/static_array.rs
  tket2/src/extension.rs
  tket2/src/extension/debug.rs
  tket2/src/extension/sympy.rs
  tket2/src/llvm/rotation.rs
  tket2/src/rewrite.rs
  tket2/src/serialize.rs
  tket2/src/serialize/pytket/extension/prelude.rs
  tket2/src/serialize/pytket/extension/tk1.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(badgerv2): Add RewriteStateSpace
  Cargo.lock
  Cargo.toml
  test_files/6cz.hugr
  test_files/perhugr1.json
  tket2/Cargo.toml
  tket2/src/lib.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/commute_cz.rs
  tket2/src/rewrite_space/max_sat.rs
  tket2/src/serialize.rs
  tket2/tests/rewrite_space_explorer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: check extension versions are updated if changed
  .github/change-filters.yml
  .github/workflows/ci.yml
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

revertme: test extension change without version update
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revertme: bump version in changed extensions
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "revertme: test extension change without version update"
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "revertme: bump version in changed extensions"
  tket2-exts/src/tket2_exts/data/tket2/result.json
  tket2-hseries/src/extension/result.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: check extension versions are updated if changed (#929)
  .github/change-filters.yml
  .github/workflows/ci.yml
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(badgerv2): Add Hit CLI
  Cargo.lock
  Cargo.toml
  hit/Cargo.toml
  hit/README.md
  hit/src/commands.rs
  hit/src/commands/checkout.rs
  hit/src/commands/children.rs
  hit/src/commands/extract_best.rs
  hit/src/commands/load.rs
  hit/src/commands/log.rs
  hit/src/commands/parents.rs
  hit/src/commands/run.rs
  hit/src/commands/show.rs
  hit/src/config.rs
  hit/src/constants.rs
  hit/src/display.rs
  hit/src/factory.rs
  hit/src/main.rs
  hit/src/storage.rs
  tket2/src/rewrite_space.rs
  tket2/src/rewrite_space/factory.rs
  tket2/src/rewrite_space/factory/commute_cz.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
