Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

fix: Fix lowering of CX -> hseries
  tket2-hseries/src/extension/hseries.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  Cargo.lock
  devenv.lock
  devenv.nix
  tket2-py/Cargo.toml
  tket2-py/pyproject.toml
  tket2-py/src/expr.rs
  tket2-py/src/lib.rs
  tket2-py/src/utils.rs
  tket2-py/tket2/expr.py
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Support hugr packages, fix the notebooks
  Cargo.lock
  tket2-py/Cargo.toml
  tket2-py/examples/1-Getting-Started.ipynb
  tket2-py/examples/2-Rewriting-Circuits.ipynb
  tket2-py/examples/utils/__init__.py
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/tket2/circuit/build.py
  tket2-py/tket2/extensions/__init__.py
  tket2/Cargo.toml
  tket2/src/extension.rs
  tket2/src/ops.rs
  tket2/src/serialize/guppy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Support hugr packages, fix the notebooks (#622)
  Cargo.lock
  tket2-py/Cargo.toml
  tket2-py/examples/1-Getting-Started.ipynb
  tket2-py/examples/2-Rewriting-Circuits.ipynb
  tket2-py/examples/utils/__init__.py
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/tket2/circuit/build.py
  tket2-py/tket2/extensions/__init__.py
  tket2/Cargo.toml
  tket2/src/extension.rs
  tket2/src/ops.rs
  tket2/src/serialize/guppy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: Replace thiserror with derive_more 1.0
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/Cargo.toml
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/circuit/hash.rs
  tket2/src/ops.rs
  tket2/src/passes/commutation.rs
  tket2/src/passes/pytket.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/serialize/guppy.rs
  tket2/src/serialize/pytket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Breaking error improvements
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2/src/circuit.rs
  tket2/src/circuit/hash.rs
  tket2/src/passes/commutation.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/serialize/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore!: Replace thiserror with derive_more 1.0 (#624)
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/Cargo.toml
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/circuit/hash.rs
  tket2/src/ops.rs
  tket2/src/passes/commutation.rs
  tket2/src/passes/pytket.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/serialize/guppy.rs
  tket2/src/serialize/pytket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

feat[badger]!: Add Rz cost function
  tket2-py/CHANGELOG.md
  tket2-py/src/optimiser.rs
  tket2-py/tket2/_tket2/optimiser.pyi
  tket2-py/tket2/passes.py
  tket2/CHANGELOG.md
  tket2/src/optimiser/badger.rs
  tket2/src/rewrite/strategy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix RzF64 -> Rz
  tket2/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.5.0 (#617)
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

Remove changelog modifications
  tket2-py/CHANGELOG.md
Due: none

Deprecate renamed method to avoid breaking changes
  tket2/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(badger): `cx` and `rz` const functions and strategies for `LexicographicCostFunction` (#625)
  tket2-py/src/optimiser.rs
  tket2-py/tket2/_tket2/optimiser.pyi
  tket2-py/tket2/passes.py
  tket2/src/optimiser/badger.rs
  tket2/src/rewrite/strategy.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(py): release tket2-py 0.4.0
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix duplicated changelog entries
  tket2-py/CHANGELOG.md
Due: none

Update tket2 version on example notebooks
  tket2-py/examples/1-Getting-Started.ipynb
  tket2-py/examples/2-Rewriting-Circuits.ipynb
Due: none

Update uv lock
  uv.lock
Due: none

Keep only python-related changes in the changelog
  tket2-py/CHANGELOG.md
Due: none

chore(py): release tket2-py 0.4.0 (#594)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/examples/1-Getting-Started.ipynb
  tket2-py/examples/2-Rewriting-Circuits.ipynb
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Use `setup-uv` action
  .github/script/install-uv.sh
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
Due: none

Set `uv` version with an env var
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
Due: none

ci: Use `setup-uv` action (#638)
  .github/script/install-uv.sh
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
Due: none

feat: Add `tket2.rotation.from_halfturns_unchecked` op
  tket2-py/tket2/extensions/_json_defs/tket2/rotation.json
  tket2/src/extension/rotation.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `tket2.rotation.from_halfturns_unchecked` op (#640)
  tket2-py/tket2/extensions/_json_defs/tket2/rotation.json
  tket2/src/extension/rotation.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Better parsing of pytket op parameters
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/ops.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/op/native.rs
  tket2/src/serialize/pytket/param.rs
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/encode.rs
  tket2/src/serialize/pytket/param/param.pest
  tket2/src/serialize/pytket/tests.rs
  tket2/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Parse unary minus operation
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/param.pest
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

module docs
  tket2/src/serialize/pytket/param/decode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify visibility
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/encode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add sympy's implicit multiply
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/param.pest
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

functions with no params
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/param.pest
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: devenv update
  devenv.lock
Due: none

Avoid unnecessary float<->rot conversions
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/encode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs cleanup
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/param.pest
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Undo API-breaking change
  tket2/src/ops.rs
  tket2/src/serialize/pytket/decoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: devenv update (#643)
  devenv.lock
Due: none

feat!: update to hugr 0.13.0
  Cargo.lock
  Cargo.toml
  tket2/src/extension/rotation.rs
  tket2/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: update to hugr 0.13.0 (#645)
  Cargo.lock
  Cargo.toml
  tket2/src/extension/rotation.rs
  tket2/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doc
  tket2/src/serialize/pytket/param/decode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
