Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Add test that extensions validate
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Cleanup just recipes
  justfile
Due: none

chore: Cleanup just recipes (#1031)
  justfile
Due: none

Test that loaded extensions have stuff in them
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

ruff fmt
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: Add test of importing extensions in python (#982)
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: Add some example guppy-generated hugrs
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.mmd
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.mmd
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.mmd
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.mmd
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.mmd
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.mmd
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.mmd
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.mmd
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.mmd
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

true/false branches
  test_files/guppy_optimization/false_branch/.generate_mmd
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.mmd
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.mmd
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
Due: ruff-format, ruff-check, mypy-check, py-test

Limit which examples get mermaid graphs
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/angles/angles.flat.mmd
  test_files/guppy_optimization/angles/angles.mmd
  test_files/guppy_optimization/angles/angles.opt.mmd
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.mmd
  test_files/guppy_optimization/nested/nested.mmd
  test_files/guppy_optimization/nested/nested.opt.mmd
  test_files/guppy_optimization/ranges/ranges.flat.mmd
  test_files/guppy_optimization/ranges/ranges.mmd
  test_files/guppy_optimization/ranges/ranges.opt.mmd
  test_files/guppy_optimization/simple_cx/.generate_mmd
Due: none

Use guppy 0.20
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
Due: none

Update to guppy 0.21.2 and regenerate
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.mmd
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.mmd
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.mmd
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

Use default envelope config
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add a LoadedParam struct for the pytket decoder
  tket/Cargo.toml
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/param/param.pest
  tket/src/serialize/pytket/decoder/param/parser.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Delete the previous .pest
  tket/src/serialize/pytket/decoder/param.pest
Due: none

Delete the previous LoadedParameter
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Organize decoder code (#1035)
  tket/Cargo.toml
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/param/param.pest
  tket/src/serialize/pytket/decoder/param/parser.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify `wire_inputs_for_command` logic
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Delete the previous LoadedParameter
  tket/src/serialize/pytket/decoder/param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add a LoadedParam struct for the pytket decoder
  tket/src/serialize/pytket/decoder/param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Define a wire tracker for the new pytket decoder
  tket-py/src/circuit.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Actually compile the wire tracker module
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename `Tk1DecodeError` to `PytketDecodeError`
  tket-py/src/circuit.rs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Allow PytketTypeTranslators to translate nested types
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/float.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Allow PytketTypeTranslators to translate nested types (#1038)
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/float.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Rename tk2 decoder names to tket
  tket-py/src/circuit.rs
  tket-py/tket/_tket/circuit.pyi
  tket-py/tket/circuit/__init__.py
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/encoder_config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/float.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/rotation.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

refactor!: Rename tk2 encoder names to tket (#1037)
  tket-py/src/circuit.rs
  tket-py/tket/_tket/circuit.pyi
  tket-py/tket/circuit/__init__.py
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/encoder_config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/float.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/rotation.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

review comments
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add a context wrapper to the DecoderError, drop `operation` string arguments
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace `wire_inputs_for_command` with a way simpler `find_typed_wires`
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Reworked pytket decoder framework
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/config.rs
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/config/type_translators.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/op.rs
  tket/src/serialize/pytket/decoder/op/tket_op.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/tracked_elem.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify decoding API
  tket/src/serialize/pytket/config/decoder_config.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
  tket/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc typo
  tket/src/serialize/pytket/decoder/tracked_elem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Export TypeTranslatorSet publicly
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/extension.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More docs, less unused pub types
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix doclink
  tket/src/serialize/pytket/decoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Mark consumed values as outdated, and check when using them as inputs
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension/tk1.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More small changes
  tket/src/serialize/pytket.rs
  tket/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add TODO
  tket/src/serialize/pytket/decoder/tracked_elem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename local `use as Tk1OpType` to `PytketOptype`
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tket.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
