Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Establish struct BorrowReturnPorts
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

common up preceding parse_signature call into try_from_ports, inline it
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Start commoning-up the parse_signature's
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "Try to compute BorrowInfo at same time as determining whether borrow/return"
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Try to compute BorrowInfo at same time as determining whether borrow/return
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Avoid loops when encoding recursive fns (#1143)
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/encoder/value_tracker.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove obsolete comment
  tket/src/passes/squash_borrow/analysis.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Deal with non-local edges in pytket encoder
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: clean up map module
  tket-qsystem/src/extension/qsystem.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/container.rs
  tket-qsystem/src/extension/qsystem/op_function_map.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: incorrect method
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/wrapped_barrier.rs
  tket/src/passes/unpack_container/type_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use external cache for barrier
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/cached_extensions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: put things in good places
  tket-qsystem/src/extension/qsystem.rs
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/wrapped_barrier.rs
  tket-qsystem/src/extension/qsystem/lower.rs
  tket/src/analysis.rs
  tket/src/lib.rs
  tket/src/passes.rs
  tket/src/passes/unpack_container.rs
  tket/src/passes/unpack_container/op_function_map.rs
  tket/src/passes/unpack_container/type_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: pull container unpacking in to new file
  tket-qsystem/src/extension/qsystem.rs
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/container.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use refcell for caching
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/cached_extensions.rs
  tket-qsystem/src/extension/qsystem/container.rs
  tket/src/analysis/type_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: make container unpack generic over element type
  tket-qsystem/src/extension/qsystem/container.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: use lazy extensions
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/container.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: type unpack module moved from qsystem
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket/src/analysis.rs
  tket/src/analysis/type_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: typos
  tket-qsystem/src/extension/qsystem/container.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: better docstring
  tket/src/passes/unpack_container/op_function_map.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: gitignore copilot instructions
  .gitignore
Due: none

refactor: move qtype_analyzer to tket
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket/src/analysis.rs
  tket/src/analysis/qtype_analyzer.rs
  tket/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: guard against recursion cylces
  .gitignore
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/wrapped_barrier.rs
  tket/src/passes/unpack_container.rs
  tket/src/passes/unpack_container/op_function_map.rs
  tket/src/passes/unpack_container/type_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: begin centralising caching
  tket-qsystem/src/extension/qsystem.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/cached_extensions.rs
  tket-qsystem/src/extension/qsystem/container.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: format
  tket-qsystem/src/llvm/futures.rs
  tket/src/llvm/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use func cache in container
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/cached_extensions.rs
  tket-qsystem/src/extension/qsystem/container.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: comment improvements
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket/src/passes/unpack_container/op_function_map.rs
  tket/src/passes/unpack_container/type_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: error message and function mangling
  tket/src/passes/unpack_container.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: pull out unpack functionality from barrier handling (#1144)
  .gitignore
  tket-qsystem/src/extension/qsystem/barrier.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_inserter.rs
  tket-qsystem/src/extension/qsystem/barrier/barrier_ops.rs
  tket-qsystem/src/extension/qsystem/barrier/wrapped_barrier.rs
  tket-qsystem/src/extension/qsystem/lower.rs
  tket-qsystem/src/llvm/futures.rs
  tket/src/llvm/bool.rs
  tket/src/passes.rs
  tket/src/passes/unpack_container.rs
  tket/src/passes/unpack_container/op_function_map.rs
  tket/src/passes/unpack_container/type_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

extension op in tket-exts
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/data/tket/global_phase.json
  tket-exts/src/tket_exts/data/tket/modifier.json
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/global_phase.py
  tket-exts/src/tket_exts/tket/modifier.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: update guppylang version in test
  qis-compiler/python/tests/test_basic_generation.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: minor node ordering snap updates
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/aarch64-apple-darwin/print_array_aarch64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-apple-darwin/print_array_x86_64-apple-darwin
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-unknown-linux-gnu/print_array_x86_64-unknown-linux-gnu
  qis-compiler/python/tests/snapshots/test_basic_generation/test_llvm_print_array/x86_64-windows-msvc/print_array_x86_64-windows-msvc
Due: none

chore: update uv and cargo
  Cargo.lock
  uv.lock
Due: none

chore: lint fixes
  pyproject.toml
  qis-compiler/python/selene_hugr_qis_compiler/selene_hugr_qis_compiler.pyi
  qis-compiler/python/tests/test_basic_generation.py
Due: ruff-format, ruff-check, mypy-check, py-test

merged changes from modifier-ext_op
  tket-qsystem/src/extension/modifier.rs
  tket/src/rich_circuit.rs
  tket/src/rich_circuit/dagger.rs
  tket/src/rich_circuit/modifier_resolver.rs
  tket/src/rich_circuit/modifier_resolver/call_modify.rs
  tket/src/rich_circuit/modifier_resolver/dfg_modify.rs
  tket/src/rich_circuit/modifier_resolver/global_phase_modify.rs
  tket/src/rich_circuit/modifier_resolver/tket_op_modify.rs
  tket/src/rich_circuit/power.rs
  tket/src/rich_circuit/qubit_types_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: clippy fix
  qis-compiler/rust/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: set up CI for qis-compiler
  .github/change-filters.yml
  .github/workflows/build_qis_compiler.yml
  .github/workflows/ci.yml
  .release-please-manifest.json
  pyproject.toml
  qis-compiler/Cargo.toml
  release-please-config.json
Due: none

revertme: run wheel build on push
  .github/workflows/build_qis_compiler.yml
Due: none

ci: update uv version
  .github/workflows/build_qis_compiler.yml
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  .github/workflows/release-checks.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
