Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: poetry run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: poetry run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: poetry run -- cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: poetry run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: poetry run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: poetry run -- sh -c "poetry install -C tket2-eccs && maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

feat!: `HSeriesPass` lowers `Tk2Op`s into `HSeriesOp`s (#602)
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP Python bindings for StaticSizeCircuit
  tket2-py/Cargo.toml
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/src/lib.rs
  tket2-py/src/optimiser.rs
  tket2-py/src/passes.rs
  tket2-py/src/portdiff.rs
  tket2-py/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: angle type docstring to say 2pi
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: angle type docstring to say 2pi (#607)
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use portdiff's MergeStrategy
  tket2/src/portdiff/matcher.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Solve some warnings
  Cargo.lock
  badger-optimiser/src/main.rs
  tket2-py/src/optimiser.rs
  tket2-py/src/passes.rs
  tket2/src/optimiser.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/hugr_pqueue.rs
  tket2/src/portdiff.rs
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/pattern.rs
  tket2/src/portmatching/predicate.rs
  tket2/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

just fix
  Cargo.lock
  Cargo.toml
  tket2-py/src/optimiser.rs
  tket2-py/src/passes.rs
  tket2-py/src/portdiff.rs
  tket2-py/src/rewrite.rs
  tket2/src/optimiser/badger.rs
  tket2/src/portdiff.rs
  tket2/src/portdiff/matcher.rs
  tket2/src/portdiff/rewrite.rs
  tket2/src/portmatching/constraint.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/pattern.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/portmatching/predicate.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/static_circ.rs
  tket2/src/static_circ/hash.rs
  tket2/src/static_circ/iter.rs
  tket2/src/static_circ/rewrite.rs
  tket2/tests/badger_termination.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Wrap PortDiffGraph
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  tket2-py/Cargo.toml
  tket2-py/src/optimiser.rs
  tket2/src/optimiser/badger.rs
  tket2/src/portdiff/matcher.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add python all_edges
  tket2-py/src/lib.rs
  tket2-py/src/optimiser.rs
  tket2-py/tket2/__init__.py
  tket2-py/tket2/optimiser.py
  tket2-py/tket2/passes.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Fix broken ConstAngle::TAU
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

format
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Fix broken ConstAngle::TAU (#609)
  tket2/src/extension/angle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix lowering
  tket2-hseries/src/extension/hseries/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

from turns returns an `option_type`. fix hseries extension depending on rotation
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2/src/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

from turns returns an `option_type`. fix hseries extension depending … (#613)
  tket2-hseries/src/extension/hseries.rs
  tket2-hseries/src/extension/hseries/lower.rs
  tket2/src/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket2-hseries/src/extension/hseries/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

gen extensions
  tket2-py/tket2/extensions/_json_defs/tket2/hseries.json
  tket2-py/tket2/extensions/_json_defs/tket2/rotation.json
Due: none

rename ops to *halfturns
  tket2-hseries/src/extension/hseries/lower.rs
  tket2/src/extension/rotation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

gen-extensions
  tket2-py/tket2/extensions/_json_defs/tket2/rotation.json
Due: none

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore: release v0.4.0 (#603)
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

wip
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/bin/tket2-hseries.rs
  tket2-hseries/src/cli.rs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

bracket addition expressions
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Working badgerv2 prototype
  Cargo.lock
  Cargo.toml
  tket2-py/tket2/optimiser.py
  tket2/src/optimiser/badger.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Update portdiff
  Cargo.toml
Due: none

feat: PortDiff rendering in jupyter
  Cargo.lock
  tket2-py/src/optimiser.rs
  tket2-py/tket2/optimiser.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

docs: Add badger v2 demo
  badger-v2-demo.ipynb
Due: none

chore: Don't `cargo test` tket2-py
  .pre-commit-config.yaml
  justfile
  uv.lock
Due: none

feat: Add an explicit struct for the tket2 sympy op
  tket2/src/extension.rs
  tket2/src/extension/sympy.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

maturin --uv
  justfile
Due: none

Add tests to ensure we don't break anything
  tket2/src/extension/sympy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use https
  badger-v2-demo.ipynb
  tket2-py/tket2/optimiser.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add an explicit struct for the tket2 sympy op (#616)
  .pre-commit-config.yaml
  justfile
  tket2/src/extension.rs
  tket2/src/extension/sympy.rs
  tket2/src/ops.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Support encoding float and sympy ops
  tket2/src/extension/rotation.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/op.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Non-breaking extension def update
  tket2-py/tket2/extensions/_json_defs/tket2/rotation.json
Due: none

feat: Support encoding float and sympy ops (#618)
  tket2-py/tket2/extensions/_json_defs/tket2/rotation.json
  tket2/src/extension/rotation.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/op.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
