Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            test_files/.*|
            .*.snap|
            .*.snap.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: uv run -- cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: uv run -- cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: uv run -- cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: uv run -- cargo doc --no-deps --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # Ensure that we are using the local version of `tket2-eccs` and not the one from PyPI
        entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
        language: system
        files: \.py$
        pass_filenames: false

Fix after merge
  tket-qsystem/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add ResourceScope
  Cargo.lock
  Cargo.toml
  tket/Cargo.toml
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/flow.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/snapshots/tket__resource__tests__2_qubits.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_rz.snap
  tket/src/snapshots/tket__resource__tests__2_qubits_add_rz_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_const_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_rz.snap
  tket/src/snapshots/tket__resource__tests__4_qubits_add_rz_add_const_rz.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace Subcircuit with SiblingSubgraph
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
  tket/src/rewrite/strategy.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rewriter is parametrised on C
  tket-py/src/rewrite.rs
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.12.2 (#1006)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Update wasm api in tket-exts
  tket-exts/src/tket_exts/tket/wasm.py
  tket-exts/tests/test_validate_exts.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add clone / discard lowerings
  tket-qsystem/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add future bool handler
  tket-qsystem/src/lower_drops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new Subcircuit
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use uv scripts to pin guppy version per-file
  test_files/guppy_optimization/README.md
  test_files/guppy_optimization/angles/angles.flat.hugr
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.hugr
  test_files/guppy_optimization/angles/angles.opt.hugr
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/false_branch.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.hugr
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.hugr
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.hugr
  test_files/guppy_optimization/nested/nested.opt.hugr
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.hugr
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.hugr
  test_files/guppy_optimization/ranges/ranges.opt.hugr
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.hugr
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add side effects to avoid the scripts being DCE'd
  test_files/guppy_optimization/angles/angles.flat.py
  test_files/guppy_optimization/angles/angles.opt.py
  test_files/guppy_optimization/angles/angles.py
  test_files/guppy_optimization/false_branch/false_branch.opt.py
  test_files/guppy_optimization/false_branch/false_branch.py
  test_files/guppy_optimization/justfile
  test_files/guppy_optimization/nested/nested.flat.py
  test_files/guppy_optimization/nested/nested.opt.py
  test_files/guppy_optimization/nested/nested.py
  test_files/guppy_optimization/ranges/ranges.flat.py
  test_files/guppy_optimization/ranges/ranges.opt.py
  test_files/guppy_optimization/ranges/ranges.py
  test_files/guppy_optimization/simple_cx/simple_cx.opt.py
  test_files/guppy_optimization/simple_cx/simple_cx.py
Due: ruff-format, ruff-check, mypy-check, py-test

README comments
  test_files/guppy_optimization/README.md
Due: none

Make position a node property
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add ResourceScope::is_convex
  tket/src/resource.rs
  tket/src/resource/convex_checker.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use new SiblingSubgraph::new_unchecked
  Cargo.lock
  Cargo.toml
  tket/src/resource/convex_checker.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(qsystem): correct CY decomposition to hardware gateset
  tket-qsystem/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(qsystem): remove unecessary phasedx wrappers in CZ
  tket-qsystem/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(qsystem): native gateset decomposition improvements (#1059)
  tket-qsystem/src/extension/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(tket-qsystem): release v0.20.0
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
Due: none

chore(tket-qsystem): release v0.20.0 (#1051)
  Cargo.lock
  badger-optimiser/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
Due: none

Make position a node property
  tket/src/circuit.rs
  tket/src/resource/interval.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix comment
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Fix rotation -> float param type conversion
  tket-py/src/ops.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/param/parser.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/extension/float.rs
  tket/src/serialize/pytket/extension/rotation.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/tests.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove duplicated if branch
  tket/src/serialize/pytket/extension/float.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Support half-turn float wires in the decoder
  tket-qsystem/src/pytket/qsystem.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/param/parser.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/float.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix qsystem emitter comment
  tket-qsystem/src/pytket/qsystem.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

make load_parameter return parameters in the requested type
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/wires.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

print in test -.-'
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: Fix rotation -> float param type conversion (#1061)
  tket-py/src/ops.rs
  tket-qsystem/src/pytket/qsystem.rs
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/decoder/param.rs
  tket/src/serialize/pytket/decoder/param/parser.rs
  tket/src/serialize/pytket/decoder/wires.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/extension.rs
  tket/src/serialize/pytket/extension/bool.rs
  tket/src/serialize/pytket/extension/float.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/extension/rotation.rs
  tket/src/serialize/pytket/extension/tk1.rs
  tket/src/serialize/pytket/extension/tket.rs
  tket/src/serialize/pytket/tests.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Keep backwards compat with tket-exts 0.10.1
  tket-py/tket/extensions/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Explicit exports for tket_exts ops and types (#1046)
  tket-exts/src/tket_exts/__init__.py
  tket-exts/src/tket_exts/tket/__init__.py
  tket-exts/src/tket_exts/tket/_util.py
  tket-exts/src/tket_exts/tket/bool.py
  tket-exts/src/tket_exts/tket/debug.py
  tket-exts/src/tket_exts/tket/futures.py
  tket-exts/src/tket_exts/tket/guppy.py
  tket-exts/src/tket_exts/tket/qsystem/__init__.py
  tket-exts/src/tket_exts/tket/qsystem/random.py
  tket-exts/src/tket_exts/tket/qsystem/utils.py
  tket-exts/src/tket_exts/tket/quantum.py
  tket-exts/src/tket_exts/tket/result.py
  tket-exts/src/tket_exts/tket/rotation.py
  tket-exts/src/tket_exts/tket/wasm.py
  tket-exts/tests/test_validate_exts.py
  tket-py/test/test_exts.py
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket-py 0.12.3
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Fix mypy error on release-check
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Only run tests for tket-py
  .github/workflows/release-checks.yml
Due: none

chore: Fix mypy error on release-check (#1065)
  .github/workflows/release-checks.yml
  tket-py/tket/extensions/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv sync
  uv.lock
Due: none

chore(py): release tket-py 0.12.3 (#1063)
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Pytket barrier operations not being decoded
  tket-qsystem/src/pytket/tests.rs
  tket/src/serialize/pytket/extension/prelude.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
