Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

refactor: Remove contain_qubits, use TypeUnpacker (#1283)
  tket-py/src/circuit/tk2circuit.rs
  tket/src/modifier.rs
  tket/src/modifier/modifier_resolver.rs
  tket/src/modifier/qubit_types_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move RemoveDeadFuncs earlier
  tket/src/passes/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.12.13
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  badger-optimiser/Cargo.toml
  qis-compiler/Cargo.toml
  tket-py/Cargo.toml
  tket-qsystem/CHANGELOG.md
  tket-qsystem/Cargo.toml
  tket/CHANGELOG.md
  tket/Cargo.toml
  tket1-passes/Cargo.toml
Due: none

Revert import change
  tket/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Do not parametrize Rewriter, that's next
  tket/src/optimiser/badger.rs
  tket/src/optimiser/badger/worker.rs
  tket/src/rewrite.rs
  tket/src/rewrite/ecc_rewriter.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix strategy tests with TEMP TEST WORKAROUND
  tket/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't generalize code in CircuitRewrite (yet)
  tket/src/rewrite.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't need to polymorphize CircuitRewrite->RewriteTrace either
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify TupleUnpack
  tket/src/passes/tuple_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Simplify TEMP in strategy.rs
  tket/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generalize CircuitRewrite (inc. conversion to RewriteTrace)
  tket/src/rewrite.rs
  tket/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new SubCircuit
  tket/src/circuit.rs
  tket/src/lib.rs
  tket/src/resource.rs
  tket/src/resource/scope.rs
  tket/src/resource/types.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
  tket/src/subcircuit.rs
  tket/src/subcircuit/expression.rs
  tket/src/subcircuit/interval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove as_const_value, as_const_f64, get_const_inputs
  tket/src/resource.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test (coverage)
  tket/src/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "Remove as_const_value, as_const_f64, get_const_inputs"
  tket/src/resource.rs
  tket/src/subcircuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

try calling squash in tests
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix string
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix name
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix quotes
  tket-qsystem/tests/guppy_opt.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use linking
  tket-py/src/passes.rs
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixes
  qis-compiler/rust/lib.rs
  tket-qsystem/src/llvm/globals.rs
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Encoding of opaque subgraphs with no associated qubit/bit
  Cargo.lock
  Cargo.toml
  tket/src/serialize/pytket/circuit.rs
  tket/src/serialize/pytket/decoder.rs
  tket/src/serialize/pytket/encoder.rs
  tket/src/serialize/pytket/error.rs
  tket/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Use qsystem extensions on Tk2Circuit.from_bytes/str
  tket-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Replace Subcircuit with SiblingSubgraph (#1288)
  tket-py/src/rewrite.rs
  tket/src/passes/tuple_unpack.rs
  tket/src/portmatching/matcher.rs
  tket/src/rewrite.rs
  tket/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix entrypoint
  tket/src/passes/rewrite_quantum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Use qsystem extensions on Tk2Circuit.from_bytes/str (#1296)
  tket-py/src/circuit/tk2circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket-py 0.13.0
  .release-please-manifest.json
  tket-py/CHANGELOG.md
  tket-py/pyproject.toml
  tket-py/tket/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix replace_qubits python signature
  tket-py/tket/_tket/passes.pyi
Due: none

use NormalizeGuppy pass
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

add notebook example
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

1q squashing (not working)
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

update rz
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

document 3 bugs in notebook
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

use NormalizeGuppy correctly
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

fix extra arg in squashing case
  tket-py/examples/Guppy-opt-example.ipynb
Due: none

add some docs dependencies
  tket-py/pyproject.toml
  uv.lock
Due: none

fmt
  tket/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Apply suggestions from code review
  tket/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
