Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Simplify match
  tket2/src/serialize/pytket/decoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Inline `get_optype` translation
  tket2/src/serialize/pytket/param/decode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add more tests
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/param.pest
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: "pi" in expression should be 3.14..
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/param/encode.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Decode pytket op parameters (#644)
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/op/native.rs
  tket2/src/serialize/pytket/param.rs
  tket2/src/serialize/pytket/param/decode.rs
  tket2/src/serialize/pytket/param/encode.rs
  tket2/src/serialize/pytket/param/param.pest
  tket2/src/serialize/pytket/tests.rs
  tket2/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-eccs 0.2.0
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update uv lock
  uv.lock
Due: none

update changelog
  tket2-eccs/CHANGELOG.md
  tket2-py/pyproject.toml
Due: none

chore(py): release tket2-eccs 0.2.0 (#537)
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
  tket2-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.4.1
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

update uv lock
  uv.lock
Due: none

chore(py): release tket2-py 0.4.1 (#641)
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

feat: re-export hugr crate
  Cargo.lock
  tket2/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: re-export hugr crate (#652)
  Cargo.lock
  tket2/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): Support python 3.13
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

chore(py): Support python 3.13 (#653)
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

Revert "chore(py): Support python 3.13 (#653)"
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

ci: Ensure we're using the right py version when testing on CI
  .github/workflows/ci.yml
Due: none

Downgrade to python 312
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
Due: none

revert: "Support python 3.13 (#653)" (#657)
  .github/workflows/ci.yml
  .github/workflows/python-pure-wheels.yml
  tket2-eccs/pyproject.toml
  tket2-py/pyproject.toml
  uv.lock
Due: none

ci: Ensure we're using the right py version when testing on CI (#655)
  .github/workflows/ci.yml
Due: none

chore(deps-rs): Update hugr to `0.13.1`
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/hseries/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

drive-by update of other deps
  Cargo.lock
  Cargo.toml
Due: none

fix small TODO
  tket2/src/serialize/pytket/decoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(deps-rs)!: Update hugr to 0.13.1 (#660)
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/hseries/lower.rs
  tket2/src/serialize/pytket/decoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Extract pytket parameters to input wires
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test roundtrip with only some input parameter names
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Extract pytket parameters to input wires (#661)
  Cargo.lock
  Cargo.toml
  tket2/Cargo.toml
  tket2/src/serialize/pytket.rs
  tket2/src/serialize/pytket/decoder.rs
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-py 0.4.2
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-eccs 0.2.1
  .release-please-manifest.json
  tket2-eccs/CHANGELOG.md
  tket2-eccs/pyproject.toml
  tket2-eccs/src/tket2_eccs/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor!: Remove deprecated exports
  tket2/src/extension.rs
  tket2/src/ops.rs
  tket2/src/passes/commutation.rs
  tket2/src/rewrite/strategy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove another TODO
  tket2/src/optimiser/badger.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Remove deprecated exports (#662)
  tket2/src/extension.rs
  tket2/src/ops.rs
  tket2/src/optimiser/badger.rs
  tket2/src/passes/commutation.rs
  tket2/src/rewrite/strategy.rs
  tket2/src/rewrite/trace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore: release v0.6.0 (#626)
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

chore: update tket2-py to hugr-py 0.9
  tket2-py/pyproject.toml
  tket2-py/tket2/circuit/build.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore: update tket2-py to hugr-py 0.9 (#663)
  tket2-py/pyproject.toml
  tket2-py/tket2/circuit/build.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Update portmatching to git
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
