Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

Mark failing tests as ignore
  tket2/src/optimiser/badger.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix test
  tket2/src/portmatching/predicate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert uv.lock commit
  uv.lock
Due: none

Use RemoveDeadFuncsPass instead of deprecated remove_polyfuncs().
  Cargo.lock
  tket2-hseries/Cargo.toml
  tket2-hseries/src/lib.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert change to uv.lock after updating uv.
  uv.lock
Due: none

Tidy up dependencies.
  Cargo.toml
  tket2-hseries/Cargo.toml
Due: none

Add TODO comment.
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Use `RemoveDeadFuncsPass` instead of deprecated `remove_polyfuncs()` (#759)
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Address comments
  tket2/src/portmatching/predicate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: force-order qfree early and qalloc late.
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: restore remove dead funcs pass
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tweak
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Run ci on all PRs
  .github/workflows/ci.yml
Due: none

link to issue
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Mark failing tests as ignore
  tket2/src/optimiser/badger.rs
  tket2/src/portmatching.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/pattern.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/tests/badger_termination.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert removing hugr-passes
  Cargo.lock
  Cargo.toml
Due: none

mark python tests expected to fail
  tket2-py/test/test_optimiser.py
  tket2-py/test/test_pass.py
  tket2-py/test/test_portmatching.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Run ci on all PRs (#764)
  .github/workflows/ci.yml
Due: none

Update to released versions
  Cargo.lock
  Cargo.toml
Due: none

docs
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: restore dead funcs pass (#763)
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: force-order qfree early and qalloc late. (#762)
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore!: Update `hugr 0.14.3`, `portgraph 0.13.1`, and `petgraph 0.7.1` (#753)
  Cargo.lock
  Cargo.toml
  tket2-hseries/Cargo.toml
  tket2-hseries/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Organize `encoder.rs` code into submodules
  tket2/src/serialize/pytket/encoder.rs
  tket2/src/serialize/pytket/encoder/bit_tracker.rs
  tket2/src/serialize/pytket/encoder/param_tracker.rs
  tket2/src/serialize/pytket/encoder/qubit_tracker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update tket2/src/portmatching/indexing/map.rs
  tket2/src/portmatching/indexing/map.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Address comments
  tket2/Cargo.toml
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/map.rs
  tket2/src/portmatching/indexing/path.rs
  tket2/src/portmatching/indexing/unary_packed.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add portmatching Indexing Scheme (#754)
  Cargo.lock
  tket2-py/test/test_optimiser.py
  tket2-py/test/test_pass.py
  tket2-py/test/test_portmatching.py
  tket2/Cargo.toml
  tket2/src/portmatching.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/indexing/map.rs
  tket2/src/portmatching/indexing/path.rs
  tket2/src/portmatching/indexing/snapshots/tket2__portmatching__indexing__path__tests__debug_fmt.snap
  tket2/src/portmatching/indexing/unary_packed.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Add portmatching Predicates and Constraints (#755)
  Cargo.lock
  Cargo.toml
  tket2/src/portmatching.rs
  tket2/src/portmatching/indexing.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/portmatching/predicate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update portmatching to rc6
  Cargo.lock
  Cargo.toml
  tket2/src/portmatching/indexing.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add constraint class and branch selector
  tket2/src/portmatching.rs
  tket2/src/portmatching/branch.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
