Repository CQCL/tket2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: uv run -- cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: uv run -- cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: uv run -- cargo test --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: uv run -- cargo clippy --all-features --all-targets --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: uv run -- cargo doc --no-deps --all-features --workspace
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: uv run -- sh -c "maturin develop && pytest --cov=./ --cov-report=html"
  language: system
  pass_filenames: false

clippy fix
  tket2/src/passes/tuple_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: bump msrv to 1.85 (#868)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  DEVELOPMENT.md
  tket2-hseries/README.md
  tket2/README.md
  tket2/src/passes/tuple_unpack.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): release tket2-exts 0.7.0
  .release-please-manifest.json
  tket2-exts/CHANGELOG.md
  tket2-exts/pyproject.toml
  tket2-exts/src/tket2_exts/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): release tket2-py 0.8.2
  .release-please-manifest.json
  tket2-py/CHANGELOG.md
  tket2-py/pyproject.toml
  tket2-py/tket2/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  tket2-hseries/CHANGELOG.md
  tket2-hseries/Cargo.toml
  tket2-py/Cargo.toml
  tket2/CHANGELOG.md
  tket2/Cargo.toml
Due: none

expect deprecations
  tket2/src/circuit.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

pin to hugr-py commit
  tket2-exts/pyproject.toml
  uv.lock
Due: none

feat: Expose `ConstWasmModule` in `hugr-py`
  Cargo.lock
  tket2-py/Cargo.toml
  tket2-py/src/extension.rs
  tket2-py/src/lib.rs
  tket2-py/tket2/__init__.py
  tket2-py/tket2/extension.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Don't specify version for local tket2-hseries package
  tket2-py/Cargo.toml
Due: none

simplify with option
  tket2-hseries/src/extension/qsystem/barrier.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_inserter.rs
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/barrier/qtype_analyzer.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove unused dep
  Cargo.lock
  tket2-hseries/Cargo.toml
Due: none

review comments
  tket2-hseries/src/extension/qsystem/barrier/barrier_ops.rs
  tket2-hseries/src/extension/qsystem/barrier/qtype_analyzer.rs
  tket2-hseries/src/extension/qsystem/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip bump to rc.1
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/futures.rs
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/extension/random.rs
  tket2-hseries/src/extension/result.rs
  tket2-hseries/src/extension/utils.rs
  tket2-hseries/src/lazify_measure.rs
  tket2-hseries/src/lib.rs
  tket2-py/src/circuit.rs
  tket2-py/src/circuit/tk2circuit.rs
  tket2-py/src/utils.rs
  tket2/Cargo.toml
  tket2/src/circuit.rs
  tket2/src/circuit/command.rs
  tket2/src/circuit/extract_dfg.rs
  tket2/src/circuit/hash.rs
  tket2/src/extension/bool.rs
  tket2/src/extension/debug.rs
  tket2/src/ops.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/eq_circ_class.rs
  tket2/src/passes/chunks.rs
  tket2/src/passes/pytket.rs
  tket2/src/portmatching/matcher.rs
  tket2/src/rewrite.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/serialize.rs
  tket2/src/serialize/pytket/tests.rs
  tket2/src/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix infinite type recursion in CircuitHash
  tket2-py/src/circuit/tk2circuit.rs
  tket2/src/circuit.rs
  tket2/src/circuit/hash.rs
  tket2/src/optimiser/badger.rs
  tket2/src/optimiser/badger/hugr_pqueue.rs
  tket2/src/optimiser/badger/worker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more test fixes
  tket2/benches/benchmarks/hash.rs
  tket2/src/circuit/command.rs
  tket2/src/passes/chunks.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

squash remaining rust-side errors
  Cargo.lock
  Cargo.toml
  test_files/ordered_qalloc.hugr
  test_files/ordered_qalloc.json
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
  tket2/src/passes/pytket.rs
  tket2/src/rewrite/ecc_rewriter.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

✅
  tket2-py/tket2/circuit/build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update hugr, failing SimpleReplacement::try_new
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr with funcdecl private fields
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
  tket2/src/circuit.rs
  tket2/src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix subgraph signature
  Cargo.lock
  Cargo.toml
  tket2-hseries/src/lazify_measure.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use released hugr
  Cargo.lock
  Cargo.toml
Due: none

Improve tests
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Minor fixes
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Change measure op signatures and replace
  tket2-exts/src/tket2_exts/data/tket2/qsystem.json
  tket2-exts/src/tket2_exts/data/tket2/quantum.json
  tket2-hseries/src/extension/qsystem.rs
  tket2-hseries/src/extension/qsystem/lower.rs
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
  tket2/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Various pass improvements
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Start lowering implementation
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename bool ops
  tket2-exts/src/tket2_exts/data/tket2/bool.json
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add further replacements
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix failing tests
  tket2-hseries/src/lib.rs
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add tag to measure replacements
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fixes after rebase
  tket2-hseries/src/replace_bools.rs
  tket2/src/extension/bool.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Actual bump
  Cargo.lock
Due: none

More rebasing fixes
  tket2/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update
  Cargo.lock
Due: none

hugr=py dependency link
  tket2-exts/pyproject.toml
  uv.lock
Due: none

fmt
  tket2/src/circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update extension
  tket2-exts/src/tket2_exts/data/tket2/bool.json
Due: none

Add const lowering
  tket2-hseries/src/replace_bools.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
